<section class="breadcrumbs-recently-viewed">
  <div class="breadcrumbs-recently-viewed__container container">

    <!-- Breadcrumbs list -->
    <ul class="breadcrumbs-recently-viewed__list">

      <!-- Item1 -->
      <li class="breadcrumbs-recently-viewed__item">
        <a href="#" class="breadcrumbs-recently-viewed__link">
          <svg xmlns='http://www.w3.org/2000/svg'>
            <use href='./img/sprite.svg#home'></use>
          </svg>
        </a>
      </li>

      <!-- Item2 -->
      <li class="breadcrumbs-recently-viewed__item">
        <a href="#" class="breadcrumbs-recently-viewed__link">
          Account
        </a>
      </li>

      <!-- Item3 -->
      <li class="breadcrumbs-recently-viewed__item">
        <a href="#" class="breadcrumbs-recently-viewed__link">
          Recently viewed
        </a>
      </li>
    </ul>
  </div>
</section>