<section class="breadcrumbs-wishlist">
  <div class="breadcrumbs-wishlist__container container">

    <!-- Breadcrumbs list -->
    <ul class="breadcrumbs-wishlist__list">

      <!-- Item1 -->
      <li class="breadcrumbs-wishlist__item">
        <a href="#" class="breadcrumbs-wishlist__link">
          <svg xmlns='http://www.w3.org/2000/svg'>
            <use href='./img/sprite.svg#home'></use>
          </svg>
        </a>
      </li>

      <!-- Item2 -->
      <li class="breadcrumbs-wishlist__item">
        <a href="#" class="breadcrumbs-wishlist__link">
          Account
        </a>
      </li>

      <!-- Item3 -->
      <li class="breadcrumbs-wishlist__item">
        <a href="#" class="breadcrumbs-wishlist__link">
          Wishlist
        </a>
      </li>
    </ul>
  </div>
</section>