<div class="header-main header__main" id="header-main">
  <div class="header-main__container container container--30" id="header-main-container">
    <a href="#" class="header-main__logo logo">
      <img src="./img/logo.svg" alt="Logo.">
    </a>

    <nav class="header-main__nav nav" id="nav">
      <ul class="nav__list" id="nav-list">
        <li class="nav__item">
          <a href="#" class="nav__link nav__link--active" data-category="women">
            Women

            <button class="nav__btn-dropdown" aria-label="Show categories.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#angle-down' aria-hidden="true"></use>
              </svg>
            </button>
          </a>

          @include("./megamenu-women.html")
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">
            Men

            <button class="nav__btn-dropdown" aria-label="Show categories.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#angle-down' aria-hidden="true"></use>
              </svg>
            </button>
          </a>

          @include("./megamenu-men.html")
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">
            Girls

            <button class="nav__btn-dropdown" aria-label="Show categories.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#angle-down' aria-hidden="true"></use>
              </svg>
            </button>
          </a>
          
          @include("./megamenu-girls.html")
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">
            Boys

            <button class="nav__btn-dropdown" aria-label="Show categories.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#angle-down' aria-hidden="true"></use>
              </svg>
            </button>
          </a>

          @include("./megamenu-boys.html")
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link nav__link--sale">
            Sale
          </a>
        </li>    
      </ul>
    </nav>

    <form class="header-main__search-form search-form" id="search-form">
      <input type="text" class="search-form__input input" placeholder="Search for products...">

      <button class="search-form__btn" aria-label="Search.">
        <svg class='search-form__icon' xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
          <use href='./img/sprite.svg#search'></use>
        </svg>
      </button>
    </form>

    <div class="header-main__choice">
      <div class="header-main__choice-favorite favorite">
        <button class="favorite__btn" aria-label="Observe favorites.">
          <svg class='favorite__icon' xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
            <use href='./img/sprite.svg#heart'></use>
          </svg>
        </button>

        <div class="favorite__count">
          2
        </div>
      </div>

      <div class="header-main__choice-cart cart">
        <button class="cart__btn" aria-label="Observe cart.">
          <svg class='cart__icon' xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
            <use href='./img/sprite.svg#cart'></use>
          </svg>
        </button>

        <div class="cart__count">
          4
        </div>
      </div>
    </div>

    <button class="header__menu-btn menu-btn" id="menu-btn" aria-label="Menu button.">
      <div class="menu-btn__inner-wrapper">
        <span class="menu-btn__line" aria-hidden="true"></span>
        <span class="menu-btn__line" aria-hidden="true"></span>
        <span class="menu-btn__line" aria-hidden="true"></span>
      </div>
    </button>
  </div>
</div>