<div class="header-main header__main" id="header-main">
  <div class="header-main__container container container--30" id="header-main-container">
    <a href="./index.html" class="header-main__logo logo">
      <img src="./img/logo.svg" alt="Logo.">
    </a>

    <nav class="header-main__nav nav" id="nav">
      <ul class="nav__list" id="nav-list">
        <li class="nav__item">
          <a href="#" class="nav__link nav__link--active" data-category="women">
            Women

            <button class="nav__btn-dropdown" aria-label="Show categories.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#angle-down' aria-hidden="true"></use>
              </svg>
            </button>
          </a>

          @include("./megamenu-women.html")
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">
            Men

            <button class="nav__btn-dropdown" aria-label="Show categories.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#angle-down' aria-hidden="true"></use>
              </svg>
            </button>
          </a>

          @include("./megamenu-men.html")
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">
            Girls

            <button class="nav__btn-dropdown" aria-label="Show categories.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#angle-down' aria-hidden="true"></use>
              </svg>
            </button>
          </a>

          @include("./megamenu-girls.html")
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">
            Boys

            <button class="nav__btn-dropdown" aria-label="Show categories.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#angle-down' aria-hidden="true"></use>
              </svg>
            </button>
          </a>

          @include("./megamenu-boys.html")
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link nav__link--sale">
            Sale
          </a>
        </li>
      </ul>
    </nav>

    <form class="header-main__search-form search-form" id="search-form">
      <input type="text" class="search-form__input input" placeholder="Search for products...">

      <button class="search-form__btn" aria-label="Search.">
        <svg class='search-form__icon' xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
          <use href='./img/sprite.svg#search'></use>
        </svg>
      </button>
    </form>

    <div class="header-main__choice">
      <div class="header-main__choice-favorite favorite">
        <a href="./account-wishlist.html" class="favorite__btn" aria-label="Got to observe favorites.">
          <svg class='favorite__icon' xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
            <use href='./img/sprite.svg#heart'></use>
          </svg>
        </a>

        <div class="favorite__count">0</div>
      </div>

      <!-- Cart -->
      <div class="header-main__choice-cart cart">

        <!-- Cart button -->
        <button class="cart__btn" aria-label="Observe cart.">
          <svg class='cart__icon' xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
            <use href='./img/sprite.svg#cart'></use>
          </svg>
        </button>

        <!-- Cart count -->
        <div class="cart__count">
          0
        </div>

        <!-- Cart choice -->
        <div class="cart__choice cart-choice">

          <!-- Cart choice top -->
          <div class="cart__choice-top cart-choice__top">
            <h5 class="cart-choice__title">
              Your cart

              <strong class="cart-choice__title-count">(0)</strong>
            </h5>

            <button class="cart-choice__close" aria-label="Close cart.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
                <use href='./img/sprite.svg#cross' aria-hidden='true'></use>
              </svg>
            </button>
          </div>

          <!-- Cart choice list -->
          <div class="cart-choice__list-wrapper" data-overlayscrollbars-initialize>
            <ul class="cart-choice__list"></ul>
          </div>

          <!-- Cart choice bottom -->
          <div class="cart-choice__bottom">
            <div class="cart-choice__subtotal">
              <span class="cart-choice__subtotal-title">
                Subtotal:
              </span>

              <span class="cart-choice__subtotal-sum">
                $0
              </span>
            </div>

            <a href="./checkout.html" class="cart-choice__checkout btn btn--lg">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
                <use href='./img/sprite.svg#wallet' aria-hidden='true'></use>
              </svg>

              Checkout
            </a>
          </div>
        </div>
      </div>
    </div>

    <button class="header__menu-btn menu-btn" id="menu-btn" aria-label="Menu button.">
      <div class="menu-btn__inner-wrapper">
        <span class="menu-btn__line" aria-hidden="true"></span>
        <span class="menu-btn__line" aria-hidden="true"></span>
        <span class="menu-btn__line" aria-hidden="true"></span>
      </div>
    </button>
  </div>
</div>