<div class="header-top header__top">
  <div class="header-top__container container" id="header-top-container">
    <div class="header-top__available available">
      <a class="available__link" href="tel:+74055550128">
        <span class="available__text">
          Available 24/7 at
        </span>

        <span class="available__icon" aria-label="hidden">
          <svg xmlns='http://www.w3.org/2000/svg' aria-label="hidden">
            <use href='./img/sprite.svg#phone' aria-label="hidden"></use>
          </svg>
        </span>

        <span class="available__tel">
          (405) 555-0128
        </span>
      </a>
    </div>

    <nav class="header-top__nav top-nav" id="top-nav">
      <button class="top-nav__button" id="top-nav-button">
        <svg xmlns='http://www.w3.org/2000/svg'>
          <use href='./img/sprite.svg#layouts'></use>
        </svg>

        <span class="top-nav__button-text">
          Info
        </span>
      </button>

      <ul class="top-nav__list">
        <li class="top-nav__item">
          <a href="#" class="top-nav__link">
            Delivery & returns
          </a>
        </li>

        <li class="top-nav__item">
          <a href="#" class="top-nav__link">
            Track order
          </a>
        </li>

        <li class="top-nav__item">
          <a href="#" class="top-nav__link">
            Blog
          </a>
        </li>

        <li class="top-nav__item">
          <a href="#" class="top-nav__link">
            Contacts
          </a>
        </li>
      </ul>
    </nav>

    <div class="header-top__currency currency">
      <img class="currency__flag" src="./img/flag-usa.svg" alt="" aria-hidden="true">

      <div class="custom-select header-top__select" id="custom-select" role="listbox" tabindex="0">
        <div class="custom-select__head">
          <span class="custom-select__selected header-top__selected" id="custom-select-selected">
            Eng / $
          </span>

          <svg class="custom-select__icon" xmlns='http://www.w3.org/2000/svg'>
            <use href='./img/sprite.svg#angle-down'></use>
          </svg>
        </div>

        <div class="custom-select__inner-wrapper">
          <ul class="custom-select__list" id="custom-select-list" data-overlayscrollbars-initialize>
            <li class="custom-select__item custom-select__item--active">
              Eng / $
            </li>

            <li class="custom-select__item">
              Olt / h
            </li>

            <li class="custom-select__item">
              Iur / p
            </li>

            <li class="custom-select__item">
              Bus / d
            </li>

            <li class="custom-select__item">
              Olt / h
            </li>

            <li class="custom-select__item">
              Iur / p
            </li>

            <li class="custom-select__item">
              Bus / d
            </li>

            <li class="custom-select__item">
              Bus / d
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="header-top__login login" id="login">
      <button class="login__btn" id="login-btn-in">
        Log in
      </button>
      
      <button class="login__btn" id="login-btn-register">
        Register
      </button>

      <svg class="login__icon" xmlns='http://www.w3.org/2000/svg'>
        <use href='./img/sprite.svg#person'></use>
      </svg>
    </div>
  </div>
</div>