<div class="header-bot header__bot">
  <div class="header-bot__container container">
    <div class="marketing-slider header-bot__marketing-slider" id="marketing-slider">
      <ul class="marketing-slider__list" id="marketing-slider-list">
        <li class="marketing-slider__slide marketing-slider__slide--visible" id="marketing-slider-item">
          <span class="marketing-slider__text">
            Up to 70% Off.
          </span>
  
          <a href="#" class="marketing-slider__link">
            Shop our latest sale styles
          </a>
        </li>
  
        <li class="marketing-slider__slide">
          <span class="marketing-slider__text">
            Money back guarantee.
          </span>
  
          <a href="#" class="marketing-slider__link">
            Learn more
          </a>
        </li>
  
        <li class="marketing-slider__slide">
          <span class="marketing-slider__text">
            Friendly customer support.
          </span>
  
          <a href="#" class="marketing-slider__link">
            Contact 24/7
          </a>
        </li>
      </ul>

      <div class="marketing-slider__navigation">
        <button class="marketing-slider__btn marketing-slider__btn--left" aria-label="move to the previous slider">
          <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
            <use href='./img/sprite.svg#angle-down'></use>
          </svg>
        </button>

        <button class="marketing-slider__btn marketing-slider__btn--right" aria-label="move to the next slider">
          <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
            <use href='./img/sprite.svg#angle-down'></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>