<div class="nav__megamenu megamenu megamenu-girls">
  <div class="megamenu__container container">
    <div class="megamenu__categories">
      
      <!-- Non-category -->
      <div class="megamenu__non-category">
        <ul class="megamenu__list">
          <li class="megamenu__item">
            <a href="#" class="megamenu__link">
              New collection
            </a>
          </li>

          <li class="megamenu__item">
            <a href="#" class="megamenu__link">
              Best Sellers
            </a>
          </li>

          <li class="megamenu__item">
            <a href="#" class="megamenu__link">
              Plus Size
            </a>
          </li>

          <li class="megamenu__item">
            <a href="#" class="megamenu__link megamenu__link--sale">
              Sale up to 70%
            </a>
          </li>
        </ul>
      </div>

      <!-- Category1 (Clothes) -->
      <div class="megamenu__category">
        <h3 class="megamenu__title">
          <a href="#" class="megamenu__title-link">
            Clothes
          </a>
        </h3>

        <ul class="megamenu__list">
          <li class="megamenu__item">
            <a href="#" class="megamenu__link">
              Suits
            </a>
          </li>

          <li class="megamenu__item">
            <a href="#" class="megamenu__link">
              Dresses
            </a>
          </li>

          <li class="megamenu__item">
            <a href="#" class="megamenu__link">
              Pants
            </a>
          </li>

          <li class="megamenu__item">
            <a href="#" class="megamenu__link">
              Skirts
            </a>
          </li>

          <li class="megamenu__item">
            <a href="#" class="megamenu__link">
              Sportswear
            </a>
          </li>

          <li class="megamenu__item">
            <a href="#" class="megamenu__link">
              Swimwear
            </a>
          </li>
        </ul>
      </div>

      <!-- Category2 (Shoes) -->
      <div class="megamenu__category">
        <h3 class="megamenu__title">
          <a href="#" class="megamenu__title-link">
            Shoes
          </a>
        </h3>

        <ul class="megamenu__list">
          <li class="megamenu__item">
            <a href="#" class="megamenu__link">
              Sandals
            </a>
          </li>

          <li class="megamenu__item">
            <a href="#" class="megamenu__link">
              Snickers
            </a>
          </li>

          <li class="megamenu__item">
            <a href="#" class="megamenu__link">
              Leather
            </a>
          </li>
        </ul>
      </div>

      <!-- Category3 (Accessories) -->
      <div class="megamenu__category">
        <h3 class="megamenu__title">
          <a href="#" class="megamenu__title-link">
            Accessories
          </a>
        </h3>

        <ul class="megamenu__list">
          <li class="megamenu__item">
            <a href="#" class="megamenu__link">
              Bags & bagpacks
            </a>
          </li>


          <li class="megamenu__item">
            <a href="#" class="megamenu__link">
              Watches
            </a>
          </li>

          <li class="megamenu__item">
            <a href="#" class="megamenu__link">
              Sunglasses
            </a>
          </li>

          <li class="megamenu__item">
            <a href="#" class="megamenu__link">
              Gloves
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Offer -->
    <article class="megamenu__offer offer">
      <img src="./img/offers1.jpg" alt="Product offer." class="offer__image">

      <p class="offer__descr">
        Back to school. Sale up to 50%
      </p>

      <a href="#" class="offer__btn btn btn--outline">
        <span class="offer__btn-text">
          See offers
        </span>

        <svg xmlns='http://www.w3.org/2000/svg'>
          <use href='./img/sprite.svg#arrow'></use>
        </svg>
      </a>
    </article>
  </div>
</div>