@use "../util/" as *;

.breadcrumbs {
  padding-top: rem(16);
  padding-bottom: rem(16);
  background-color: var(--gray200-color);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // Breadcrumbs list
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      position: relative;
      margin-right: rem(10);
      padding-right: rem(22);

      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: rem(10.67);
        height: rem(6);
        background-image: url("../img/angle-down.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: hue-rotate(229deg) saturate(6%) brightness(63%);
        transform: translateY(-50%) rotate(-90deg);
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font: var(--small-regular);
    color: var(--gray800-color);
    transition: color 0.3s;

    svg {
      width: rem(16.5);
      height: rem(16.5);
      fill: currentcolor;
      transition: fill 0.3s;
    }

    &:hover {
      color: var(--primary-color);
    }
  }

  // Active filters
  .active-filters {
    display: flex;
    align-items: center;
    transition: opacity 0.3s;

    &__item {
      position: relative;
      display: flex;
      align-items: center;
      color: var(--gray600-color);
      transition: color 0.3s;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: rem(20.5);
      }

      &:hover {
        color: var(--gray800-color);
      }

      &--active {
        color: var(--gray800-color);
      }
    }

    &__btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right: rem(8);

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

      svg {
        width: rem(16);
        height: rem(16);
        fill: currentcolor;
      }
    }

    &__name {
      font: var(--small-regular);
      color: currentcolor;
    }

    &--invisible {
      opacity: 0;
      visibility: hidden;
    }
  }
}