@use "../util/" as *;

.checkout {
  padding-top: rem(32);
  padding-bottom: rem(180);

  &__container {
    display: grid;
    column-gap: rem(60);
    grid-template-columns: minmax(0, 6.5fr) minmax(0, 3.5fr);

    @include bp-down("992") {
      display: block;
    }
  }

  // Left
  &__left {
    justify-self: start;
    width: 100%;
    max-width: rem(735);

    @include bp-down("992") {
      margin-bottom: rem(20);
      max-width: none;
    }
  }

  // Checkout head
  .head {
    margin-bottom: rem(31);

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: rem(32);

      &-back {
        position: relative;
        font: var(--base-bold);
        text-decoration: underline;
        text-underline-position: under;
        color: var(--primary-color);
        transition: text-decoration 5s;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &__bottom {
      display: flex;
      align-items: center;
      border: rem(1) solid var(--primary025-color);
      border-radius: rem(4);
      padding-top: rem(15);
      padding-bottom: rem(15);
      padding-inline: rem(20);
      color: var(--primary-color);
      background-color: var(--primary006-color);

      &-text {
        font: var(--base-regular);
      }

      &-btn {
        margin-inline: rem(2);
        font: var(--base-bold);
        text-decoration: underline;
        text-underline-position: under;

        &:hover {
          text-decoration: none;
        }
      }

      svg {
        margin-right: rem(12);
        width: rem(19);
        height: rem(19);
        fill: currentcolor;
      }
    }
  }

  // Checkout list
  &__list {
    &-item {
      border-top: rem(1) solid var(--gray300-color);
      padding-top: rem(32);

      &:not(:last-child) {
        margin-bottom: rem(31);
      }

      &:nth-child(4) {
        margin-bottom: rem(33);
      }
    }

    &-title {
      margin-bottom: rem(24);
      font: var(--h4-font);
      color: var(--gry900-color);
      cursor: default;
    }
  }

  // Products
  &__products {
    display: none;
    border-radius: rem(4);
    padding-top: rem(3);
    width: 100%;
    background-color: var(--gray200-color);

    .choice-product {
      column-gap: rem(16);
      grid-template-columns: 4fr 11fr 4.5fr 5.5fr 1fr;
      grid-template-rows: repeat(2, auto);
      border-bottom: rem(1) solid var(--gray300-color);
      padding-top: rem(21);
      padding-bottom: rem(18);
      padding-inline: rem(24);

      .choice-product__image {
        align-self: start;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
      }

      .choice-product__text {
        align-self: start;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        width: auto;
      }

      .input-number {
        align-self: start;
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        margin-right: 0;
      }

      .product__prices {
        align-self: start;
        grid-column: 4 / 5;
        grid-row: 1 / 3;
      }

      .choice-product__delete {
        align-self: start;
        grid-column: 5 / 6;
        grid-row: 1 / 2;
        padding-inline: rem(23);
        width: min-content;

        &::before {
          content: "Delete";
        }

        svg {
          display: none;
        }
      }

      .choice-product__favorite {
        align-self: start;
        justify-self: end;
        grid-column: 5 / 6;
        grid-row: 2 / 3;
        padding-inline: rem(9);
      }

      @include bp-down("678") {
        column-gap: 0;
        grid-template-columns: auto 1fr auto;
        padding-left: 0;
        row-gap: rem(16);

        .choice-product__image {
          margin-right: rem(16);
        }

        .choice-product__text {
          margin-right: rem(16);
        }

        .input-number {
          grid-column: 3 / 4;
          grid-row: 1 / 2;
        }

        .product__prices {
          grid-column: 4 / 5;
          grid-row: 1 / 2;
        }

        .choice-product__delete {
          grid-column: 3 / 4;
          grid-row: 2 / 3;
        }

        .choice-product__favorite {
          grid-column: 4 / 5;
          grid-row: 2 / 3;
        }
      }

      @include bp-down("576") {
        grid-template-columns: repeat(2, min-content) 1fr;
        grid-template-rows: repeat(3, auto);
        row-gap: 0;

        .choice-product__text {
          grid-column: 2 / 4;
          grid-row: 1 / 2;
          margin-right: 0;

          .choice-product__title {
            max-width: none;
          }
        }

        .input-number {
          grid-column: 2 / 3;
          grid-row: 2 / 3;
          margin-bottom: rem(16);
        }

        .product__prices {
          grid-column: 3 / 4;
          grid-row: 2 / 3;
        }

        .choice-product__delete {
          grid-column: 2 / 3;
          grid-row: 3 / 4;
        }

        .choice-product__favorite {
          justify-self: start;
          grid-column: 3 / 4;
          grid-row: 3 / 4;
        }
      }
    }

    &-subtotal {
      display: block;
      padding: rem(24);
      padding-top: rem(21);
      font: var(--large-bold);
      text-align: right;
      color: var(--gray900-color);
    }

    &--show {
      display: block;
    }
  }

  // Billing
  &__billing {

    // Fields
    &-fields {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: rem(33);
    }

    &-field {
      width: calc(50% - rem(12));

      &:not(:nth-last-child(-n+2)) {
        margin-bottom: rem(24);
      }

      &:nth-child(odd) {
        margin-right: rem(24);
      }

      @include bp-down("576") {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: rem(24);
        }

        &:nth-child(odd) {
          margin-right: 0;
        }
      }
    }

    &-label {
      display: inline-block;
      margin-bottom: rem(10);
      font: var(--base-regular);
      color: var(--gray800-color);
    }

    &-input {
      display: block;
      width: 100%;
      font: var(--base-regular);

      &::placeholder {
        font: inherit;
      }
    }

    &-select-outer-wrapper {
      width: 100%;
    }

    &-sort {
      display: flex;
      align-items: center;

      &-select {
        width: 100%;
      }

      &-head {
        justify-content: space-between;
        padding-top: rem(13);
        padding-right: rem(15);
        padding-bottom: rem(15);
        padding-left: rem(12);
        font: var(--base-regular);
        color: var(--gray600-color);

        svg {
          position: relative;
          top: rem(2.5);
          width: rem(19);
          height: rem(9);
          fill: var(--gray800-color);
        }

        &:hover {
          color: var(--gray800--color);
        }
      }

      &-item {
        font: var(--base-regular);
      }

      &-wrapper {
        width: 100%;
      }
    }

    // Checking
    &-checking {
      display: inline-flex;
      align-items: center;
      padding-top: rem(1);
    }

    &-checkbox {
      margin-right: rem(13);
    }

    &-checktext {
      font: var(--base-regular);
      color: var(--gray800-color);
      user-select: none;
    }
  }

  // Method
  &__method {
    margin-bottom: rem(-1);

    &-box {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: rem(28);

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

      &:not(:last-child) {
        margin-bottom: rem(16);
      }
    }

    &-radio {
      position: absolute;
      left: 0;
      top: rem(5);
    }

    &-info {
      display: flex;
      flex-direction: column;
      margin-right: auto;
      cursor: default;
    }

    &-destination {
      margin-bottom: rem(1);
      font: var(--base-bold);
      color: var(--gray800-color);
    }

    &-date {
      font: var(--base-regular);
      color: var(--gray700-color);

      @include bp-down("1325") {
        font-size: calc(rem(13.21) + 0.21vw); // 16>14(1325>375)
      }
    }

    &-price {
      font: var(--base-regular);
      color: var(--gray800-color);
      cursor: default;
    }
  }

  // Payment
  &__payment {
    &-box {
      border: rem(1) solid var(--gray300-color);
      border-radius: rem(4);
      max-width: rem(390);
      box-shadow: var(--small-shadow);

      &:nth-child(1) {
        margin-bottom: rem(16);
      }

      &:nth-child(2) {
        margin-bottom: rem(18);
      }
    }

    &-top {
      display: flex;
      align-items: center;
      padding: rem(23);
      padding-bottom: rem(21);
      width: 100%;
    }

    &-radio {
      margin-right: rem(13);
    }

    &-name {
      margin-right: rem(21);
      font: var(--base-bold);
      color: var(--gray800-color);
      user-select: none;
    }

    &-icon {
      border: rem(1) solid var(--gray400-color);
      border-radius: rem(2);
      width: rem(48);
      height: rem(26);
      background-position: center;
      background-repeat: no-repeat;
      background-color: var(--gray200-color);

      &--visa {
        margin-right: rem(11);
        background-image: url("../img/visa.svg");
        background-size: rem(37) rem(12);
      }

      &--mastercard {
        background-image: url("../img/mastercard.svg");
        background-size: rem(28) rem(22);
      }

      &--paypal {
        background-image: url("../img/paypal.svg");
        background-size: rem(42) rem(11);
      }
    }

    &-bottom {
      overflow: hidden;
      height: 0;
      transition: height 0.4s ease-in-out, padding-bottom 0.4s ease-in-out;

      &-wrapper {
        display: flex;
        flex-flow: wrap;
        padding-top: 0;
        padding-bottom: rem(21);
        padding-inline: rem(23);
      }
    }

    &-field {
      &:nth-child(1) {
        margin-bottom: rem(25);
        width: 100%;
      }

      &:nth-child(2) {
        margin-right: auto;
        width: calc(56% - rem(10));
        max-width: rem(180);
      }

      &:nth-child(3) {
        width: calc(46% - rem(10));
        max-width: rem(142);
      }
    }

    &-label {
      display: inline-block;
      margin-bottom: rem(13);
      font: var(--base-regular);
      line-height: 100%;
      color: var(--gray800-color);
    }

    &-input {
      width: 100%;
      height: rem(52);
      font: var(--base-regular);

      &::placeholder {
        font: inherit;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: rem(4);
      width: 100%;
      height: rem(44);
      max-width: rem(300);

      &::before {
        content: "";
        display: flex;
        align-items: center;
        width: rem(88);
        height: rem(22);
        background-image: url("../img/paypal.svg");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }

      &--regular {
        margin-bottom: rem(8);
        background-color: var(--orange-color);
      }

      &--credit {
        background-color: var(--dark-blue-color);

        &::before {
          filter: brightness(0) invert(1);
        }

        &::after {
          content: "CREDIT";
          padding-top: rem(4);
          font: var(--large-bold);
          font-weight: 900;
          font-style: italic;
          color: var(--white-color);
        }
      }
    }

    &-cash {
      font: var(--base-regular);
      color: var(--gray700-color);
    }
  }

  // Additional
  &__additional {
    &-label {
      display: inline-block;
      margin-bottom: rem(9);
      font: var(--base-regular);
      color: var(--gray800-color);
    }

    &-textarea {
      display: block;
      border: rem(1) solid var(--gray400-color);
      border-radius: rem(4);
      width: 100%;
      height: rem(130);
      font: var(--base-regular);
      resize: none;

      &::placeholder {
        font: inherit;
        color: var(--gray600-color);
      }
    }
  }

  // Right
  &__right {
    position: relative;
    justify-self: end;
    width: 100%;
    max-width: rem(390);

    &-wrapper {
      position: sticky;
      right: 0;
      top: rem(165);
    }

    @include bp-down("992") {
      max-width: none;
    }
  }

  // Promo
  &__promo {
    margin-bottom: rem(24);

    &-label {
      display: inline-block;
      margin-bottom: rem(8);
      font: var(--base-regular);
      color: var(--gray800-color);
    }

    &-field {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-input {
      width: 100%;
      height: rem(52);
      font: var(--base-regular);

      &::placeholder {
        font: inherit;
      }
    }

    &-btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  // Totals
  &__totals {
    margin-bottom: rem(24);
    border-radius: rem(4);
    background-color: var(--gray200-color);

    &-title {
      padding: rem(24);
      font: var(--h4-font);
      color: var(--gray900-color);
    }

    &-info {
      border-top: rem(1) solid var(--gray300-color);
      border-bottom: rem(1) solid var(--gray300-color);
      padding-block: rem(16);
      padding-inline: rem(24);
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font: var(--base-regular);
      color: var(--gray800-color);

      &:not(:last-child) {
        margin-bottom: rem(4);
      }

      &--subtotal {
        font: var(--base-bold);
      }
    }

    &-total {
      display: flex;
      justify-content: space-between;
      padding: rem(20) rem(24);
      font: var(--lead-bold);
      color: var(--gray900-color);
    }
  }

  // Complete
  &__complete {
    width: 100%;
  }

  @include bp-down("1325") {
    padding-bottom: calc(rem(-15.26) + 14.74vw); // 180>40(1325>375)
  }
}