@use "../util/" as *;

.complete-look {
  padding-top: rem(192);
  padding-bottom: rem(100);

  &__title {
    line-height: 0.75;
    text-align: revert;
  }

  &__content {
    position: relative;
    display: grid;
    column-gap: rem(60);
    grid-template-columns: auto minmax(0, rem(600));
    padding-top: rem(72);

    @include bp-down("1120") {
      column-gap: rem(40);
    }

    @include bp-down("992") {
      grid-template-columns: minmax(rem(120), rem(500)) minmax(0, rem(360));
    }

    @include bp-down("768") {
      display: block;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;

    &-wrapper {
      max-width: rem(495);
    }

    @include bp-down("768") {
      display: none;
    }
  }

  &__slider {
    overflow-x: hidden;
    margin-bottom: rem(82);
    width: 100%;
  }

  &__product {
    position: relative;
    z-index: var(--z-up);

    &:hover {
      margin-bottom: rem(80); // For box-shadow
      box-shadow: var(--product-shadow);
    }
  }

  &__look {
    margin-bottom: rem(14);
  }

  &__old-price {
    font: var(--base-regular);
  }

  // Pagination
  &__pagination {
    display: block;
  }

  // Navigation
  &__button-prev {
    position: absolute;
    right: rem(50);
    top: 0;
    transform: translate(31%, -50%);

    svg {
      transform: rotate(180deg);
    }

    @include bp-down("576") {
      transform: translate(62%, -80%);
    }
  }

  &__button-next {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(26%, -50%);

    @include bp-down("576") {
      transform: translate(26%, -80%);
    }
  }
}