@use "../util/" as *;

.footer {
  background-color: var(--gray900-color);

  &__container {
    @include bp-down("1310") {
      margin-inline: rem(30);
    }
  }

  // Main
  &__main {
    display: grid;
    column-gap: rem(20);
    grid-template-columns: 1fr 0.87fr 1.31fr auto;
    padding-top: calc(rem(35.15) + 1.29vw); // 60>40
    padding-bottom: rem(38);

    @include bp-down("1024") {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, auto);
      row-gap: rem(30);
    }

    @include bp-down("768") {
      grid-template-columns: repeat(3, 1fr);
    }

    @include bp-down("576") {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
    }

    @include bp-down("414") {
      column-gap: rem(35);
    }
  }

  &__item {
    margin-bottom: rem(4);
  }

  &__title {
    margin-bottom: rem(13);
    font: var(--h6-font);
    letter-spacing: rem(1);
    text-transform: uppercase;
    color: var(--white-color);

    &--margin {
      margin-bottom: rem(24);
    }
  }

  &__link {
    font: var(--base-regular);
    white-space: nowrap;
    color: var(--white-color);
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  // Communication
  &__communication {
    @include bp-down("576") {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }
  }

  &__contacts {
    margin-bottom: rem(24);
  }

  &__contact {
    display: flex;
    align-items: center;

    &:first-child {
      margin-bottom: rem(5);
    }
  }

  &__contact-title {
    margin-right: rem(4);
    font: var(--base-regular);
    color: var(--white-color);
  }

  &__contact-data {
    font: var(--base-regular);
    color: var(--white-color);
    opacity: 0.6;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  // Apps
  &__apps {
    @include bp-down("1024") {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }

    @include bp-down("576") {
      grid-column: 1 / 4;
      grid-row: 3 / 4;
    }
  }

  &__btns {
    display: flex;
    align-items: center;

    @include bp-down("414") {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__button {
    &:first-child {
      margin-right: rem(15);

      @include bp-down("414") {
        margin-right: 0;
        margin-bottom: rem(15);
      }
    }
  }

  // Copyright
  &__copyright {
    border-top: 1px solid var(--white-015-color);
    padding-top: rem(22);
    padding-bottom: rem(30);
  }

  &__copyright-text {
    display: block;
    font: var(--extrasmall-regular);
    color: var(--white-color);

    svg {
      position: relative;
      top: rem(2);
      margin-inline: rem(2);
      width: rem(16);
      height: rem(16);
      fill: var(--primary-color);
    }

    @include bp-down("1310") {
      margin-inline: rem(30);
    }
  }
}