@use "../util/" as *;

.hero {
  overflow: hidden;

  &__container {
    position: relative;
  }

  &__slide {
    width: 100%;
    height: calc(rem(272) + 27.5vw); // 800>375
    min-height: rem(375);
    background-position: left calc(rem(-335.53) + 17.48vw) center; // 0>-250
    background-size: cover;
    background-repeat: no-repeat;

    &--1 {
      background-image: url("../img/hero1.jpg");
    }

    &--2 {
      background-image: url("../img/hero2.jpg");
    }

    &--3 {
      background-image: url("../img/hero3.jpg");
    }

    &--4 {
      background-image: url("../img/hero4.jpg");
    }

    @include bp-down("1024") {
      background-position: left calc(rem(35.6) - 18.83vw) center; // -157>-35
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 7.4%;
  }

  &__subtitle {
    margin-bottom: rem(12);
    font: var(--large-bold);
    letter-spacing: rem(1);
    text-transform: uppercase;
    color: var(--gray900-color);
    opacity: 0;
    visibility: hidden;
    animation: none;
  }

  &__title {
    margin-bottom: rem(59);
    font: var(--display1);
    font-size: calc(1.78rem + 2.26vw); // 72>37
    letter-spacing: rem(1);
    color: var(--gray900-color);
    opacity: 0;
    visibility: hidden;

    @include bp-down("576") {
      margin-bottom: rem(35);
    }
  }

  &__btns {
    display: flex;

    @include bp-down("576") {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__button {
    opacity: 0;
    visibility: hidden;

    &:first-child {
      margin-right: rem(22);

      @include bp-down("576") {
        margin-right: 0;
        margin-bottom: rem(10);
      }
    }
  }

  // Swiper button-prev
  &__button-prev {
    position: absolute;
    left: rem(25);
    top: 50%;
    z-index: var(--z-up);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%) scale(0.9);
    transition: all 0.3s ease;

    svg {
      transform: rotate(180deg);
    }
  }

  // Swiper button-next
  &__button-next {
    position: absolute;
    right: rem(25);
    top: 50%;
    z-index: var(--z-up);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%) scale(0.9);
    transition: all 0.3s ease;
  }

  // Swiper pagination
  &__pagination-wrapper {
    position: absolute;
    left: 0;
    bottom: calc(rem(15.96) + 8.54vw);
    z-index: var(--z-up);
    width: 100%;
  }

  &__pagination {
    .swiper-pagination-bullet {
      margin: 0 !important;
      border-bottom: 2px solid var(--gray800-color);
      border-radius: 0;
      width: calc(rem(56.21) + 6.34vw); // 178>80
      height: calc(rem(29.15) + 1.29vw); // 54>34
      background-color: transparent;
      opacity: 0.6 !important;
      cursor: pointer;

      &::before {
        font: var(--ubuntu-bold);
        font-size: calc(rem(16.81) + 0.58vw); // 28>19
        color: var(--gray800-color);
      }

      &:not(:last-child) {
        margin-right: rem(4) !important;
      }

      &:nth-child(1) {
        &::before {
          content: "01";
        }
      }

      &:nth-child(2) {
        &::before {
          content: "02";
        }
      }

      &:nth-child(3) {
        &::before {
          content: "03";
        }
      }

      &:nth-child(4) {
        &::before {
          content: "04";
        }
      }
    }

    .swiper-pagination-bullet-active {
      opacity: 1 !important;
    }
  }

  &:hover {

    .hero__button-prev,
    .hero__button-next {
      opacity: 1;
      visibility: visible;
      transform: translateY(-50%) scale(1);

      @include bp-down("1400") {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  // Text reveal animations
  .swiper-slide-visible[data-even] {
    .hero__subtitle {
      animation: var(--to-right-05-animation);
    }

    .hero__title {
      animation: var(--to-right-03-animation);
    }

    .hero__button {
      animation: var(--scale-out-right-animation);
    }
  }

  .swiper-slide-visible[data-odd] {
    .hero__subtitle {
      animation: var(--to-bottom-animation);
    }

    .hero__title {
      animation: var(--scale-in-animation);
    }

    .hero__button {
      animation: var(--scale-in-left-animation);
    }
  }
}