@use "../util/" as *;

.product-card {
  padding-top: rem(33);

  &__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(31);
  }

  &__title {
    text-align: revert;
  }

  &__vendor-text {
    margin-right: rem(2);
    font: var(--base-bold);
    color: var(--gray700-color);
  }

  &__vendor-number {
    font: var(--base-regular);
    color: var(--gray700-color);
  }

  // Tabs
  &__tabs {
    border-bottom: rem(1) solid var(--gray300-color);
    padding-bottom: rem(19);
  }

  &__tab {
    &:not(:last-child) {
      margin-right: rem(8);
    }
  }

  input:checked~&__general {
    display: flex;
  }

  // General info
  &__general {
    display: none;
    padding-top: rem(32);
  }

  &__left {
    margin-right: rem(105);
    width: 100%;
    max-width: rem(600);
  }

  // Slider
  &__slider {
    margin-bottom: rem(20);
  }

  .pcs {
    position: relative;
    overflow: hidden;
    width: 100%;

    &__wrapper {
      width: 100%;
    }

    &__slide {
      width: 100%;
      cursor: pointer;

      &--video {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 49.5%;
          top: 50%;
          border-radius: 50%;
          width: rem(80);
          height: rem(80);
          box-shadow: 0 0 0 16px transparent;
          background-color: var(--primary-color);
          transform: translate(-50%, -50%);
          transition: box-shadow 0.3s;
        }

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: var(--z-up);
          width: rem(21);
          height: rem(22);
          background-image: url("../img/play2.svg");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          transform: translate(-50%, -50%);
        }

        &:hover {
          &::before {
            box-shadow: 0 0 0 16px var(--primary-hover-color2);
          }
        }
      }
    }

    &__button-prev {
      position: absolute;
      left: rem(32);
      top: 50%;
      z-index: var(--z-up);
      transform: translateY(-50%);

      svg {
        transform: rotate(180deg);
      }
    }

    &__button-next {
      position: absolute;
      right: rem(32);
      top: 50%;
      z-index: var(--z-up);
      transform: translateY(-50%);
    }
  }

  // Minislider
  .pcm {
    overflow: hidden;
    width: 100%;

    &__slide {
      overflow: hidden;
      border-radius: rem(4);
      opacity: 0.6;
      transition: opacity 0.3s;
      cursor: pointer;

      img {
        width: rem(104);
        height: rem(104);
        object-fit: cover;
      }

      &:hover {
        opacity: 1;
      }

      &--active {
        border: rem(1) solid var(--primary-color);
        opacity: 1;
        cursor: default;
      }

      &--video {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: var(--gray900-color);
          opacity: 0.6;
        }

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          width: rem(32);
          height: rem(32);
          background-image: url("../img/play.svg");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          filter: brightness(0) invert(1);
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  // Right
  &__right {
    width: 100%;
  }

  // Details
  &__details {
    display: flex;
    align-items: flex-start;
    margin-bottom: rem(12);
  }

  &__price {
    margin-right: rem(35);
  }

  &__discount {
    position: revert;
    margin-right: auto;
  }

  &__rating {
    position: revert;
    margin-bottom: rem(4);
  }

  &__reviews {
    display: inline-block;
    width: 100%;
    font: var(--small-regular);
    text-align: right;
    color: var(--gray700-color);
  }

  // Colors
  &__colors {
    justify-content: revert;
    margin-bottom: rem(24);
    gap: rem(16);

    &-item {
      &:not(:first-child):not(:last-child) {
        margin-left: rem(-8);
      }

      &--name {
        position: relative;
        top: rem(1);
        font: var(--small-regular);
        color: var(--gray600-color);
        pointer-events: none;
      }
    }
  }

  &__label {
    display: block;
    margin-bottom: rem(12);
    font: var(--small-regular);
    color: var(--gray800-color);

    &--size {
      margin-bottom: rem(8);
    }
  }

  // Sizes
  &__sizes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(32);
  }

  &__select-outer-wrapper {
    width: 100%;
    max-width: rem(348);
  }

  &__sort {
    display: flex;
    align-items: center;

    &-select {
      width: 100%;
    }

    &-head {
      justify-content: space-between;
      padding-right: rem(17);
      padding-left: rem(12);
      color: var(--gray600-color);

      svg {
        width: rem(11);
        height: rem(10);
      }

      &:hover {
        color: var(--primary-color);
      }
    }

    &-wrapper {
      width: 100%;
    }
  }

  &__size-btn {
    display: flex;
    align-items: center;
    font: var(--small-bold);
    letter-spacing: rem(0.5);
    color: var(--gray900-color);
    transition: color 0.3s;

    svg {
      margin-right: rem(8);
      width: rem(16);
      height: rem(16);
      fill: currentcolor;
    }

    &:hover {
      color: var(--primary-color);
    }
  }

  // CTA
  &__cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(47);
  }

  &__input-number {
    flex-shrink: 0;
    margin-right: rem(18);

    &-btns {
      right: rem(20);
    }

    &-input {
      padding-right: rem(32);
      padding-left: rem(15);
    }
  }

  &__btn-cart-wrapper {
    margin-right: rem(18);
    width: 100%;
    max-width: rem(244);
  }

  &__btn-cart {
    &--active {
      color: var(--primary-color);
      background-color: transparent;

      &::after {
        content: "Go to cart";
      }

      &:hover {
        color: var(--white-color);
        background-color: var(--primary-color);
      }
    }
  }

  // Accordion
  &__accordion {
    margin-bottom: rem(23);
  }

  &__accordion~&__accordion {
    margin-bottom: rem(24);
  }

  .accordion {
    border-bottom: rem(1) solid var(--gray300-color);

    // Top
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: rem(16);
      cursor: pointer;

      &--show {
        .accordion__toggle {
          &::after {
            display: none;
          }
        }
      }
    }

    &__title {
      font: var(--base-bold);
      color: var(--gray900-color);
    }

    &__toggle {
      &::after {
        display: block;
      }
    }

    // Bottom
    &__bottom {
      overflow: hidden;
      height: 0;
      transition: height 0.3s;

      &--1 {
        transition: height 0.5s;
      }
    }

    &__descr {
      margin-bottom: rem(25);
      font: var(--small-regular);
      color: var(--gray800-color);

      &-price {
        font: var(--small-bold);
        color: inherit;
      }

      &--margin {
        margin-bottom: rem(12);
      }
    }

    // Table
    &__table {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding-bottom: rem(20);
      padding-left: rem(20);
      width: 100%;
      white-space: nowrap;
      transition: height 5s;

      &-top {
        display: flex;
        margin-bottom: rem(9);
      }

      &-title {
        width: 100%;
        font: var(--extrasmall-regular);
        text-align: initial;
        text-transform: uppercase;
        color: var(--gray700-color);

        &:not(:last-child) {
          margin-right: rem(15);
        }

        &:nth-child(1) {
          width: 174%;
        }

        &:nth-child(2) {
          width: 174%;
        }
      }

      &-row {
        position: relative;
        display: flex;
        padding-top: rem(12);
        padding-bottom: rem(10);
        width: 100%;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: rem(1);
          background-image: var(--divider2-gradient);
        }
      }

      &-cell {
        width: 100%;
        font: var(--small-regular);
        color: var(--gray800-color);

        &:not(:last-child) {
          margin-right: rem(15);
        }

        &:nth-child(1) {
          width: 174%;
        }

        &:nth-child(2) {
          width: 174%;
        }
      }
    }

    // List
    &__list {
      padding-top: rem(0);
      padding-bottom: rem(20);
    }

    &__item {
      position: relative;
      padding-left: rem(21);
      font: var(--small-regular);
      color: var(--gray800-color);

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        border-radius: 50%;
        width: rem(4);
        height: rem(4);
        background-color: var(--primary-color);
        transform: translateY(-50%);
      }

      &:not(:last-child) {
        margin-bottom: rem(4);
      }
    }
  }

  // Share
  &__share {
    margin-bottom: rem(60);
  }

  .share {
    display: flex;
    align-items: center;

    &__title {
      margin-right: rem(17);
      font: var(--base-bold);
      color: var(--gray900-color);
    }

    &__list {
      display: inline-flex;
      align-items: center;
    }

    &__item {
      display: inline-flex;
      margin-right: rem(16);
    }

    &__link {
      display: inline-flex;

      svg {
        width: rem(20);
        height: rem(20);
        fill: var(--gray700-color);
        transition: fill 0.3s ease-in-out;
      }

      &--facebook {
        &:hover {
          svg {
            fill: var(--facebook-color);
          }
        }
      }

      &--twitter {
        &:hover {
          svg {
            fill: var(--twitter-color);
          }
        }
      }

      &--pinterest {
        &:hover {
          svg {
            fill: var(--pinterest-color);
          }
        }
      }
    }
  }

  // Payment
  .payment {
    display: flex;

    &__box {
      border: rem(1) solid var(--gray400-color);
      border-radius: rem(4);
      width: 100%;
      height: rem(64);
      max-width: rem(120);
      background-position: center;
      background-repeat: no-repeat;
      background-color: var(--gray200-color);
      transition: box-shadow 0.3s;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: rem(24);
      }

      &:hover {
        box-shadow: var(--main-shadow);
      }

      &--visa {
        background-image: url("../img/visa.svg");
      }

      &--mastercard {
        background-image: url("../img/mastercard.svg");
      }

      &--paypal {
        background-image: url("../img/paypal.svg");
      }
    }
  }

  input:checked~.details {
    display: flex;
  }

  // Product details
  .details {
    display: none;
    justify-content: space-between;
    margin-bottom: rem(-2);
    padding-top: rem(33);

    &__left {
      margin-right: rem(60);
      width: 100%;
      max-width: rem(735);
      font: var(--base-regular);
      color: var(--gray800-color);
    }

    &__section {
      &:not(:first-child) {
        border-top: rem(1) solid var(--gray300-color);
        padding-top: rem(23);
      }

      &:not(:last-child) {
        margin-bottom: rem(24);
      }
    }

    &__title {
      margin-bottom: rem(16);
      font: var(--lead-bold);
      color: var(--gray900-color);
    }

    &__descr {
      margin-bottom: rem(20);
    }

    &__list {
      width: 100%;
      max-width: rem(525);
    }

    &__item {
      display: flex;
      align-items: flex-start;
      margin-bottom: rem(4.5);

      &::before {
        content: "";
        position: relative;
        top: rem(11);
        flex-shrink: 0;
        margin-right: rem(16);
        border-radius: 50%;
        width: rem(4);
        height: rem(4);
        background-color: var(--primary-color);
      }

      &--care {
        align-items: center;

        &::before {
          position: revert;
          border-radius: revert;
          width: rem(20);
          height: rem(20);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          background-color: revert;
        }

        &--wash {
          &::before {
            background-image: url("../img/product-card-wash.svg");
          }

          @extend .details__item--care;
        }

        &--ironing {
          &::before {
            background-image: url("../img/product-card-ironing.svg");
          }

          @extend .details__item--care;
        }

        &--bleach {
          &::before {
            background-image: url("../img/product-card-bleach.svg");
          }

          @extend .details__item--care;
        }

        &--tumble {
          &::before {
            background-image: url("../img/product-card-tumble.svg");
          }

          @extend .details__item--care;
        }
      }
    }

    &__right {
      width: 100%;
      max-width: rem(390);
    }

    &__old-price {
      position: relative;
      top: rem(2);
    }

    &__product-details {
      margin-bottom: rem(20);
    }

    &__colors {
      gap: rem(7);
    }
  }

  input:checked~.reviews-content {
    display: flex;
  }

  // Reviews (tab content)
  .reviews-content {
    display: none;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: rem(32);

    &__left {
      margin-right: rem(60);
      width: 100%;
      max-width: rem(735);
    }

    &__info {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: rem(81);

      // Rate
      &-rate {
        margin-right: rem(15);
      }

      &-title {
        margin-bottom: rem(19);
        font: var(--h2-font);
        text-align: initial;
        color: var(--gray900-color);
      }

      &-rating {
        position: revert;
        margin-bottom: rem(16);
        text-align: initial;
      }

      &-star {
        &:not(:last-child) {
          margin-right: rem(-1);
        }
      }

      &-recommended {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font: var(--small-regular);
        color: var(--gray700-color);
      }

      // Progress
      .progress {
        padding-right: rem(24);
        font: var(--small-regular);
        color: var(--gray700-color);

        &__item {
          display: flex;
          align-items: center;
          padding-top: rem(9);
          padding-bottom: rem(8);

          &:not(:last-child) {
            margin-bottom: rem(8);
          }
        }

        &__grade {
          position: relative;
          margin-right: rem(17);
          padding-right: rem(15);
          line-height: 0;
          white-space: nowrap;

          &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            width: rem(12);
            height: rem(12);
            background-image: url("../img/star.svg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transform: translateY(-50%);
          }
        }

        &__bar {
          position: relative;
          display: inline-flex;
          border-radius: rem(4);
          width: rem(356);
          height: rem(4);
          background-color: var(--gray300-color);

          &::before {
            content: "";
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
            width: var(--progress-width);
            height: 100%;
          }

          &::after {
            content: attr(data-pb);
            position: absolute;
            right: rem(-24);
            top: 50%;
            transform: translateY(-50%);
          }

          &--5 {
            &::before {
              background-color: var(--success-color);
            }
          }

          &--4 {
            &::before {
              background-color: var(--malachite-color);
            }
          }

          &--3 {
            &::before {
              background-color: var(--dandelion-color);
            }
          }

          &--2 {
            &::before {
              background-color: var(--warning-color);
            }
          }

          &--1 {
            &::before {
              background-color: var(--danger-color);
            }
          }
        }
      }
    }

    // Tool-bar
    &__tool-bar {
      margin-bottom: rem(60);
    }

    .tool-bar {
      display: flex;
      justify-content: space-between;

      // Btn
      &__btn {
        margin-right: rem(30);
        padding-inline: rem(40);
      }

      // Sort by
      &__sort {
        display: flex;
        align-items: center;

        &-title {
          margin-right: rem(12);
          font: var(--base-bold);
          color: var(--gray800-color);
        }

        &-select {
          width: rem(170);
        }

        &-head {
          justify-content: space-between;
          padding-right: rem(17);
          padding-left: rem(12);

          svg {
            width: rem(11);
            height: rem(10);
          }
        }

        &-wrapper {
          width: 100%;
        }
      }
    }

    .review {
      &__box {
        display: flex;

        &:not(:last-child) {
          border-bottom: rem(1) solid var(--gray300-color);
          padding-bottom: rem(31);
        }

        &:not(:first-child) {
          padding-top: rem(31);
        }
      }

      // User
      &__user {
        flex-shrink: 0;
        margin-right: rem(30);
        width: rem(150);

        &-name {
          display: block;
          margin-bottom: rem(8);
          font: var(--large-bold);
          color: var(--gray900-color);
        }

        &-date {
          display: block;
          margin-bottom: rem(16);
          font: var(--small-regular);
          color: var(--gray700-color);
        }

        .user-rate {
          &__icon {
            width: rem(13);
            height: rem(12);
            fill: none;
            stroke: var(--gray500-color);
            stroke-width: 10px;

            &:not(:last-child) {
              margin-right: rem(-1.6);
            }

            &--active {
              fill: var(--warning-color);
              stroke: var(--warning-color);
            }
          }
        }
      }

      // Message
      &__message {
        &-text {
          margin-bottom: rem(16);
          font: var(--base-regular);
          color: var(--gray800-color);
        }

        &-tooltips {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font: var(--small-regular);
          color: var(--gray700-color);
        }

        &-reply {
          display: flex;
          align-items: center;
          transition: color 0.3s;

          svg {
            margin-right: rem(8);
            width: rem(16);
            height: rem(16);
            fill: currentcolor;
          }

          &:hover {
            color: var(--primary-color);
          }
        }

        &-assessment {
          svg {
            width: rem(16);
            height: rem(16);
          }
        }

        &-like {
          display: inline-flex;
          align-items: center;
          margin-right: rem(16);

          svg {
            margin-right: rem(8);
            fill: var(--success-color);
          }
        }

        &-dislike {
          display: inline-flex;
          align-items: center;

          svg {
            margin-right: rem(8);
            fill: var(--danger-color);
          }
        }
      }
    }

    // Pagination
    &__pagination {
      justify-content: center;
      padding-top: rem(58);
    }

    // Right
    &__right {
      width: 100%;
      max-width: rem(390);
    }

    &__old-price {
      position: relative;
      top: rem(2);
    }

    &__product-details {
      margin-bottom: rem(21);
    }

    &__colors {
      gap: rem(7);
    }
  }

  // Chart
  &__chart {
    position: fixed;
    left: 0;
    top: 0;
    z-index: var(--z-modal);
  }

  .chart {
    width: 100%;
    height: 100vh;
    background-color: var(--overlay-color);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &__data {
      position: absolute;
      left: 50%;
      top: 50%;
      border: rem(1) solid var(--gray300-color);
      border-radius: rem(4);
      padding-block: rem(48);
      background-color: var(--white-color);
      transform: translate(-50%, -41.15%);
    }

    &__title {
      margin-bottom: rem(31);
      font: var(--h3-font);
      text-align: center;
      color: var(--gray900-color);
    }

    // Gender tabs
    &__gender {
      &-tabs {
        display: flex;
        justify-content: center;
        margin-bottom: rem(24);
        width: 100%;
      }

      &-item {
        &:not(:last-child) {
          margin-right: rem(12);
        }
      }

      &-input {
        display: none;

        &:checked {
          ~.chart-table {
            display: block;
          }
        }
      }
    }

    // Chart table
    .chart-table {
      display: none;
      margin-bottom: rem(31);
      margin-inline: rem(48);
      border: rem(1) solid var(--gray300-color);
      border-radius: rem(4);
      border-spacing: 0;
      padding-top: rem(15);

      &__caption {
        display: block;
        margin-bottom: rem(16);
        font: var(--large-bold);
        text-align: center;
        color: var(--gray900-color);
      }

      &__content {
        display: table;
        width: 100%;
      }

      &__row {
        background-color: var(--gray200-color);

        &:nth-child(2n) {
          background-color: var(--white-color);
        }
      }

      &__data {
        padding-top: rem(9);
        padding-bottom: rem(10);
        width: rem(77);
        font: var(--small-regular);
        color: var(--gray800-color);

        &:first-child {
          padding-left: rem(15);
          width: rem(154);
        }
      }

      &--mb0 {
        margin-bottom: 0;
      }
    }

    // Chart units
    &__units {
      border-top: rem(1) solid var(--gray300-color);
      padding-top: rem(31);

      &-top {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: rem(24);
      }

      &-title {
        margin-right: rem(25);
        font: var(--base-bold);
        color: var(--gray900-color);
      }

      &-tabs {
        display: flex;
        align-items: center;
      }

      &-item {
        position: relative;

        &:first-child {
          margin-right: rem(12);
        }
      }

      &-input {
        display: none;

        &:checked {
          ~.chart-table {
            display: block;
          }
        }
      }
    }

    &__close {
      position: absolute;
      right: rem(22);
      top: rem(22);

      svg {
        width: rem(26);
        height: rem(26);
        fill: var(--gray700-color);
        transition: fill 0.3s;
      }

      &:hover {
        svg {
          fill: var(--gray900-color);
        }
      }
    }

    // Show size chart
    &--show {
      opacity: 1;
      visibility: visible;
    }
  }

  // Image modal
  &__image-modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: var(--z-modal);
    display: flex;
    flex-direction: column;
  }

  .image-modal {
    width: 100%;
    height: calc(100vh - calc(100vh - 100%));
    background-color: var(--white-color);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    // Head
    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: rem(20);
      padding-left: rem(40);
      padding-block: rem(20);
    }

    &__count {
      font: var(--lead-bold);
      color: var(--gray700-color);

      &-current {
        color: var(--primary-color);
      }
    }

    &__close {
      display: flex;
      border-radius: 50%;

      svg {
        width: rem(40);
        height: rem(40);
        fill: var(--gray700-color);
        transition: fill 0.3s;
      }

      &:hover {
        svg {
          fill: var(--gray900-color);
        }
      }
    }

    // Slider
    &__slider {
      overflow-x: hidden;
      width: 100%;
      height: 100%;
    }

    &__slide {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      user-select: none;
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.2s;

      &-wrapper {
        overflow: hidden;
        width: 100%;
        max-width: rem(800);
        max-height: 100%;
      }
    }

    &__video {
      width: 100%;
      height: 100%;
      cursor: pointer;

      &-wrapper {
        width: 70vw;
        height: 39vw;
      }
    }

    // Navigation
    &__button {
      position: absolute;
      top: 50%;
      z-index: var(--z-up);
      background-color: transparent;
      transform: translateY(-50%);

      svg {
        width: rem(48);
        height: rem(48);
        fill: var(--gray700-color);
        transition: fill 0.3s;
      }

      &:hover {
        background-color: transparent;

        svg {
          fill: var(--primary-color);
        }
      }
    }

    &__button-prev {
      left: rem(40);

      svg {
        transform: rotate(180deg);
      }

      @include bp-down("1060") {
        left: calc(rem(-342.88) + 36.11vw); // 40>27 (1060>1024)
      }

      @include bp-down("1024") {
        display: none;
      }
    }

    &__button-next {
      right: rem(40);

      @include bp-down("1060") {
        right: calc(rem(-342.88) + 36.11vw); // 40>27 (1060>1024)
      }

      @include bp-down("1024") {
        display: none;
      }
    }

    // Pagination 
    &__pagination {
      display: none;
      border: rem(1) solid var(--gray500-color);
      border-radius: rem(10);
      padding-inline: rem(7);
      width: auto;
      text-align: center;
      background-color: var(--white-color);

      .swiper-pagination-bullet-active {
        background-color: var(--primary-color);
      }

      &-wrapper {
        position: absolute;
        bottom: rem(20);
        z-index: var(--z-up);
        display: flex;
        justify-content: center;
        width: 100%;
      }

      @include bp-down("1024") {
        display: block;
      }
    }

    // Image-modal show class
    &--show {
      opacity: 1;
      visibility: visible;
    }
  }

  // Leave review
  &__leave-review {
    position: fixed;
    left: 0;
    top: 0;
    z-index: var(--z-modal);
  }

  .leave-review {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);

    &__content {
      border: rem(1) solid var(--gray300-color);
      border-radius: rem(4);
      padding: rem(48);
      width: 100%;
      max-width: rem(486);
      background-color: var(--white-color);
    }

    &__title {
      margin-bottom: rem(24);
      font: var(--h3-font);
      text-align: center;
      color: var(--gray900-color);
    }

    // Box
    &__box {
      margin-bottom: rem(20);
    }

    &__label {
      display: block;
      margin-bottom: rem(8);
      font: var(--small-regular);
      color: var(--gray800-color);
    }

    &__input {
      width: 100%;
    }

    // Select
    &__sort {
      display: flex;
      align-items: center;

      &-select {
        width: 100%;
      }

      &-head {
        justify-content: space-between;
        padding-right: rem(17);
        padding-left: rem(12);
        color: var(--gray600-color);

        svg {
          width: rem(11);
          height: rem(10);
        }

        &:hover {
          color: var(--primary-color);
        }
      }

      &-wrapper {
        width: 100%;
      }
    }

    // Download
    .download {

      // Download area
      &__area {
        border: rem(1) dashed var(--gray400-color);
        padding: rem(24);
        text-align: center;

        svg {
          margin-bottom: rem(13);
          width: rem(24);
          height: rem(24);
          fill: var(--gray600-color);
        }

        &-descr {
          margin-bottom: rem(20);
          font: var(--extrasmall-regular);
          color: var(--gray800-color);
          user-select: none;
        }
      }

      // Download files
      &__files {
        overflow: hidden;
        max-height: rem(200);

        &-wrapper {
          padding-top: rem(24);
        }
      }

      &__file {
        display: flex;
        align-items: center;
        border-radius: rem(6);
        padding: rem(10) rem(15) rem(10) rem(10);
        height: rem(60);
        background-color: var(--primary01-color);

        &:not(:last-child) {
          margin-bottom: rem(10);
        }

        >svg {
          margin-right: rem(10);
          width: rem(40);
          height: rem(40);
          fill: var(--primary-color);
        }

        &-details {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          width: 100%;
          height: rem(40);
        }

        &-top {
          display: flex;
          justify-content: space-between;
          margin-bottom: rem(-5);
          font: var(--small-bold);
          color: var(--gray800-color);
        }

        &-progressbar {
          margin-top: rem(11);
          border-radius: rem(4);
          width: 100%;
          height: rem(6);
          background-color: var(--white-color);
        }

        &-size {
          display: none;
          font: var(--extrasmall-regular);
          text-transform: uppercase;
          color: var(--gray800-color);
        }
      }
    }
  }

  // OverlayScrollbars
  .os-theme-download-files {
    --os-size: 3px;
    --os-padding-perpendicular: 0;
    --os-padding-axis: 0;

    // **
    --os-track-border-radius: 0;
    --os-track-bg: var(--gray300-color);
    --os-track-bg-hover: var(--gray300-color);
    --os-track-bg-active: var(--gray300-color);
    --os-track-border: none;
    --os-track-border-hover: none;
    --os-track-border-active: none;

    // **
    --os-handle-border-radius: 4px;
    --os-handle-bg: var(--gray500-color);
    --os-handle-bg-hover: var(--gray600-color);
    --os-handle-bg-active: var(--gray700-color);
    --os-handle-border: none;
    --os-handle-border-hover: none;
    --os-handle-border-active: none;
    --os-handle-min-size: 60px;
    --os-handle-max-size: 120px;
    --os-handle-perpendicular-size: 100%;
    --os-handle-perpendicular-size-hover: 100%;
    --os-handle-perpendicular-size-active: 100%;
    --os-handle-interactive-area-offset: 0;
  }
}