@use "../util/" as *;

.recently-viewed {
  padding-top: rem(101);
  padding-bottom: rem(199);

  &__title {
    text-align: revert;
  }

  &__slider {
    overflow-x: hidden;

    &-wrapper {
      position: relative;
      padding-top: rem(59);

      @include bp-down("1325") {
        padding-top: calc(rem(45.05) + 1.05vw); // 59>49(1325>375)
      }
    }
  }

  &__product {
    position: relative;
    z-index: var(--z-up);

    &:hover {
      margin-bottom: rem(80); // For box-shadow
      box-shadow: var(--product-shadow);
    }
  }

  &__look {
    margin-bottom: rem(14);
  }

  // Navigation
  &__button-prev {
    position: absolute;
    right: rem(35);
    top: calc(rem(-32.71) - 0.22vw); // -37>-34(1920>576)

    svg {
      transform: rotate(180deg);
    }

    @include bp-down("576") {
      right: rem(25);
      top: rem(-38);
    }
  }

  &__button-next {
    position: absolute;
    right: rem(-12);
    top: calc(rem(-32.71) - 0.22vw); // -37>-34(1920>576)

    @include bp-down("576") {
      right: rem(-10);
      top: rem(-38);
    }
  }

  @include bp-down("1325") {
    padding-top: calc(rem(38.24) + 4.74vw); // 101>56(1325>375)
    padding-bottom: calc(rem(5.13) + 14.63vw); // 199>60(1325>375)
  }
}