@use "../util/" as *;

.recently-viewed {
  padding-top: rem(114);
  padding-bottom: rem(200);

  &__title {
    line-height: 75%;
    text-align: revert;
  }

  &__slider {
    overflow-x: hidden;

    &-wrapper {
      position: relative;
      padding-top: rem(71);
    }
  }

  &__product {
    position: relative;
    z-index: var(--z-up);

    &:hover {
      margin-bottom: rem(80); // For box-shadow
      box-shadow: var(--product-shadow);
    }
  }

  &__look {
    margin-bottom: rem(14);
  }

  // Navigation
  &__button-prev {
    position: absolute;
    right: rem(50);
    top: 0;
    transform: translate(31%, -50%);

    svg {
      transform: rotate(180deg);
    }
  }

  &__button-next {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(26%, -50%);
  }
}