@use "../util/" as *;

.related-posts {
  padding-top: rem(81);
  padding-bottom: rem(78);
  background-color: var(--gray200-color);

  &__container {
    overflow-x: hidden;
    margin-bottom: rem(-60); // Для box-shadow
    padding-inline: rem(25);
    max-width: rem(1280);

    @include bp-down("1325") {
      margin-inline: rem(15);
    }

    @include bp-down("1024") {
      margin-inline: rem(5);
    }

    @include bp-down("876") {
      margin-inline: 0;
    }

    @include bp-down("768") {
      padding-inline: rem(20);
    }
  }

  &__title {
    margin-bottom: calc(rem(47.57) + 0.65vw); // 60>50
    text-align: initial;

    @include bp-down("414") {
      margin-bottom: rem(40);
      max-width: rem(140);
    }
  }

  &__outer-wrapper {
    position: relative;
  }

  &__article {
    margin-bottom: rem(60); // Для box-shadow
    height: auto;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: var(--custom-hover-shadow);
    }
  }

  &__pagination {
    position: absolute;
    bottom: rem(10) !important;
    z-index: var(--z-up);

    @include bp-down ("768") {
      display: none;
      pointer-events: none;
    }

    @include bp-down ("576") {
      display: block;
      pointer-events: auto;
    }
  }

  &__button {
    position: absolute;
    right: 0;
    top: calc(rem(-88.29) - 0.82vw); // -104>-93 (1920>576)

    @include bp-down("576") {
      top: calc(rem(-81.54) - 1.99vw); // -93>-89 (576>375)
    }
  }
}