@use "../util/" as *;

.sale {
  padding-top: rem(100);
  background-color: var(--white-color);

  &__container {
    position: relative;

    @include bp-down("1400") {
      margin-inline: rem(40);
    }

    @include bp-down("1024") {
      margin-inline: rem(30);
    }

    @include bp-down("576") {
      margin-inline: rem(20);
    }
  }

  &__title {
    margin-bottom: calc(rem(38.9) + 1.1vw); // 60>43
    text-align: initial;
  }

  &__slider {
    overflow-x: hidden;
    margin-bottom: calc(rem(33.38) + 3.37vw); // 96>48
  }

  &__button-prev {
    position: absolute;
    right: rem(36);
    top: rem(24);

    svg {
      transform: rotate(180deg);
    }

    @include bp-down ("1024") {
      top: rem(4);
    }

    @include bp-down ("768") {
      right: rem(24);
      top: rem(4);
    }
  }

  &__button-next {
    position: absolute;
    right: rem(-13);
    top: rem(24);

    @include bp-down ("1024") {
      top: rem(4);
    }

    @include bp-down ("576") {
      right: rem(-8);
    }
  }

  &__product {
    position: relative;
    z-index: var(--z-up);

    &:hover {
      margin-bottom: rem(80); // For box-shadow
      box-shadow: var(--product-shadow);
    }
  }

  &__price {
    font-size: calc(rem(19.03) + 0.26vw); // 24>20
  }

  &__button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}