@use "../util/" as *;

.single-post {
  padding-top: rem(32);
  padding-bottom: rem(120);

  // Head
  &__head {
    margin-bottom: rem(25);
  }

  &__title {
    margin-bottom: rem(32);
    text-align: initial;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: rem(25);

    &-data {
      margin-bottom: 0;
    }

    &-item {
      &:not(:last-child) {
        padding-right: rem(13.5);
      }
    }
  }

  // Post
  .post {
    font: var(--base-regular);
    line-height: rem(25.6);
    color: var(--gray800-color);

    &__wrapper {
      border-top: rem(1) solid var(--gray300-color);
      border-bottom: rem(1) solid var(--gray300-color);
      padding-top: rem(32);
      padding-bottom: rem(48);
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &-wrapper {
        overflow: hidden;
        margin-bottom: rem(33);
        border-radius: rem(4);
        max-height: rem(360);
      }
    }

    >p {
      margin-bottom: rem(24);
    }

    >ul {
      margin-bottom: rem(24);

      >li {
        display: flex;
        align-items: flex-start;
        margin-bottom: rem(5);

        &::before {
          content: "";
          position: relative;
          top: rem(4.5);
          flex-shrink: 0;
          margin-right: rem(16);
          width: rem(16);
          height: rem(16);
          background-image: url("../img/tick.svg");
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
      }
    }

    >blockquote {
      display: flex;
      margin: 0;
      margin-bottom: rem(48);
      padding-top: rem(28);

      &::before {
        content: "";
        flex-shrink: 0;
        margin-right: rem(30);
        width: rem(28);
        height: rem(20);
        background-image: url("../img/brace.png"), url("../img/brace.png");
        background-position: left center, right rem(1) center;
        background-size: auto 100%, auto 100%;
        background-repeat: no-repeat, no-repeat;
      }

      @include bp-down("1325") {
        &::before {
          margin-right: calc(rem(16.05) + 1.05vw); // 30>10(1325>375)
          width: calc(rem(18.24) + 0.74vw); // 28>21(1325>375)
          height: calc(rem(13.03) + 0.53vw); // 20>15(1325>375)
        }
      }
    }

    &__bold {
      font-weight: 700;
    }

    &__dark {
      color: var(--gray900-color);
    }

    &__lead {
      font-size: rem(20);
      line-height: rem(30);
    }

    // Post bottom
    &__bottom {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      padding-top: rem(36);
      gap: rem(20);

      &-title {
        margin-right: rem(12);
        margin-bottom: 0;
      }

      @include bp-down("1325") {
        padding-top: calc(rem(11.08) + 1.58vw); // 32>17(1325>375)
      }
    }

    &__tags {
      display: flex;
      align-items: center;
    }

    &__social {
      display: flex;
      align-items: center;
    }
  }

  // Navigation
  .post-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(48);

    &__link {
      display: flex;
      flex-direction: column;

      &:hover {
        img {
          transform: scale(1.07);
        }
      }

      &:first-child {
        margin-right: rem(15);
      }

      &:last-child {
        align-items: flex-end;
      }
    }

    &__title {
      display: inline-flex;
      align-items: center;
      margin-bottom: rem(20);
      font: var(--lead-bold);
      color: var(--gray800-color);

      svg {
        padding-inline: rem(2);
        width: rem(23);
        height: rem(23);

        &:first-child {
          margin-right: rem(9);
          transform: rotate(180deg);
        }
      }

      &-text {
        &:first-child {
          margin-right: rem(9);
        }
      }
    }

    &__box {
      display: flex;
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s;

      &-wrapper {
        overflow: hidden;
        border-radius: rem(4);
        width: rem(100);
        height: rem(100);
        min-width: rem(100);

        &:first-child {
          margin-right: rem(20);
        }

        @include bp-down("576") {
          display: none;
        }
      }
    }

    &__info {
      max-width: rem(220);

      &:first-child {
        margin-right: rem(20);
        text-align: right;

        @include bp-down("576") {
          margin-right: 0;
        }
      }
    }

    &__date {
      display: inline-block;
      margin-bottom: rem(3);
      font: var(--small-regular);
      color: var(--gray700-color);

      svg {
        position: relative;
        top: rem(2);
        margin-right: rem(5);
        width: rem(17);
        height: rem(17);
        fill: currentcolor;
      }
    }

    &__name {
      font: var(--base-bold);
      text-transform: capitalize;
      color: var(--gray900-color);
      transition: color 0.3s;
      cursor: pointer;

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  @include bp-down("1325") {
    padding-bottom: calc(rem(85.13) + 2.63vw); // 120>95(1325>375)
  }
}