@use "../util/" as *;

.special-offers {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: rem(8);
  padding-bottom: rem(8);
  background-color: var(--primary-color);

  &__special-offers-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.marketing-slider {
  position: relative;
  color: var(--white-color);

  &__list {
    overflow-y: hidden;
    height: rem(18);

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__slide {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;

    &--visible {
      width: auto;
      height: 100%;
      opacity: 1;
      visibility: visible;
    }
  }

  &__text {
    margin-right: rem(3);
    font: var(--extrasmall-bold);
    user-select: none;
  }

  &__link {
    font: var(--extrasmall-regular);
    text-decoration: underline;
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    svg {
      width: rem(10.5);
      height: rem(6);
      fill: currentcolor;
      pointer-events: none;
    }

    &--left {
      left: rem(-24);
      transform: translateY(-50%) rotate(90deg);
    }

    &--right {
      right: rem(-24);
      transform: translateY(-50%) rotate(-90deg);
    }
  }
}