@use "../../util/" as *;

.catalog {
  padding-top: rem(32);

  &__container {
    display: grid;
    column-gap: rem(60);
    grid-template-columns: 1fr 3.58fr;
    grid-template-rows: auto minmax(0, 1fr);
    row-gap: rem(30);
  }
}