@use "../../util/" as *;

.sidebar-filters {
  position: relative;

  &__button {
    width: 100%;
    white-space: nowrap;

    svg {
      width: rem(17);
      height: rem(17);
    }

    &--hide {
      svg {
        transform: rotateX(180deg);
      }
    }
  }

  &__wrapper {
    position: relative;
    padding-top: rem(32);
    background-color: var(--white-color);
    transition: left 0.3s linear;

    &-inner {
      height: 100%;
    }

    &-top {
      display: none;
      align-items: center;
      justify-content: space-between;
      margin-bottom: rem(40);
      padding-block: rem(23);

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: rem(75);
        width: 100%;
        height: rem(1);
        background-color: var(--gray300-color);
      }
    }

    &-title {
      font: var(--lead-bold);
      color: var(--gray900-color);
      cursor: default;
    }

    &-close {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: rem(20);
        height: rem(20);
        fill: var(--gray800-color);
        transition: fill 0.3s;
      }

      &:hover {
        svg {
          fill: var(--gray900-color);
        }
      }
    }

    &--confirm {
      .sidebar-filters__show {
        opacity: 1;
        visibility: visible;

        &::before {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    @include bp-down("1120") {
      position: fixed;
      left: rem(-300);
      top: 0;
      z-index: var(--z-postfixed);
      padding-top: 0;
      height: calc(100vh - calc(100vh - 100%)); // обход бага браузеров для мобильных vh

      &::before {
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        width: 100vw;
        height: 100%;
        background-color: var(--overlay-color);
        opacity: 0;
        visibility: visible;
        transition: opacity 0.3s ease;
        pointer-events: none;
      }

      &-inner {
        padding-bottom: rem(25);
        padding-inline: rem(25);
      }

      .sidebar-filters__wrapper-top {
        display: flex;
      }
    }

    // Wrapper hide class
    &--hide {
      display: none;

      &::before {
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        width: 100vw;
        height: 100%;
        background-color: var(--overlay-color);
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s ease;
        pointer-events: auto;
      }

      @include bp-down("1120") {
        left: 0;
        top: 0;
        display: block;
      }
    }
  }

  // Show button
  &__show {
    position: absolute;
    right: rem(-75);
    top: 50%;
    z-index: var(--z-up);
    display: flex;
    align-items: center;
    border-radius: rem(4);
    padding-inline: rem(11);
    height: rem(30);
    font: var(--small-regular);
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: rem(-7);
      top: 50%;
      border-style: solid;
      border-width: rem(5) rem(7.5) rem(5) 0;
      border-color: transparent var(--primary-color) transparent transparent;
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50%);
      transition: opacity 0.3s;
    }

    @include bp-down("414") {
      right: rem(-50);
    }
  }

  // Filter
  .filter {
    overflow-y: hidden;
    margin-bottom: rem(17);
    border-bottom: rem(1) solid var(--gray300-color);
    transition: padding-bottom 0.3s;

    &:last-of-type {
      border-bottom: none;
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: rem(16);
      cursor: pointer;
    }

    &__title {
      font: var(--base-bold);
      color: var(--gray900-color);
    }

    &__bottom {
      padding-bottom: 0;
      height: 0;
      transition: height 0.3s;
    }

    // Toggle
    // &__toggle {
    //   position: relative;
    //   width: rem(15);
    //   height: rem(15);

    //   &::before {
    //     content: "";
    //     position: absolute;
    //     left: 50%;
    //     top: 50%;
    //     width: 100%;
    //     height: rem(2);
    //     background-color: var(--primary-color);
    //     transform: translate(-50%, -50%);
    //   }

    //   &::after {
    //     content: "";
    //     position: absolute;
    //     left: 50%;
    //     top: 50%;
    //     display: block;
    //     width: rem(2);
    //     height: 100%;
    //     background-color: var(--primary-color);
    //     transform: translate(-50%, -50%);
    //   }
    // }

    // Search
    &__search {
      position: relative;
      margin-bottom: rem(16);

      &-input {
        padding: rem(8) rem(11);
        width: 100%;
        font: var(--extrasmall-regular);

        &::placeholder {
          font: inherit;
          color: var(--gray600-color);
        }
      }

      &-btn {
        position: absolute;
        right: rem(13);
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);

        svg {
          width: rem(16);
          height: rem(16);
          fill: var(--gray600-color);
        }
      }
    }

    // List
    &__list {
      height: rem(166);
      font: var(--small-regular);
      color: var(--gray800-color);
    }

    &__item {
      position: relative;
      display: flex;
      align-items: center;
      width: fit-content;

      &:not(:last-child) {
        margin-bottom: rem(8);
      }
    }

    &__checkbox {
      margin-right: rem(12);

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }

    &__name {
      margin-right: rem(4);
    }

    &__count {
      color: var(--gray600-color);
    }

    // Colors
    &__colors-wrapper {
      height: rem(172);
    }

    &__colors {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding-right: rem(16);
      gap: rem(8) rem(8);
    }

    &__color {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__color-btn {
      margin-bottom: rem(2.5);
      width: rem(32);
      height: rem(32);

      &::before {
        width: rem(24);
        height: rem(24);
      }
    }

    &__color-name {
      font: var(--extrasmall-regular);
      color: var(--gray700-color);
      cursor: default;
    }

    // Filter slider
    &__slider {
      padding-top: rem(35);

      &-range {
        margin-bottom: rem(23);
      }

      &-inputs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      &-divider {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline: rem(5);
        height: 100%;

        &::before {
          content: "";
          width: rem(9);
          height: rem(1);
          background-color: var(--gray800-color);
        }
      }

      &-input {
        padding-block: rem(8);
        padding-inline: rem(11);
        width: 100%;
        max-width: rem(110);
        font: var(--extrasmall-regular);
        line-height: 100%;
        color: var(--gray800-color);
      }
    }

    // Show class
    &--show {
      padding-bottom: rem(20);

      .filter__toggle {
        &::after {
          display: none;
        }
      }

      &:nth-last-child(2) {
        overflow: visible;
        animation: overflow-bottom 0.3s ease;
      }

      @keyframes overflow-bottom {
        0% {
          overflow: hidden;
        }

        99% {
          overflow: hidden;
        }

        100% {
          overflow: visible;
        }
      }
    }
  }

  // Apply btn
  &__apply {
    width: 100%;
  }

  // OverlayScrollbars
  // **
  .os-theme-sidebar-bottom {
    --os-size: 3px;
    --os-padding-perpendicular: 0;
    --os-padding-axis: 0;

    // **
    --os-track-border-radius: 0;
    --os-track-bg: var(--gray300-color);
    --os-track-bg-hover: var(--gray300-color);
    --os-track-bg-active: var(--gray300-color);
    --os-track-border: none;
    --os-track-border-hover: none;
    --os-track-border-active: none;

    // **
    --os-handle-border-radius: 4px;
    --os-handle-bg: var(--gray500-color);
    --os-handle-bg-hover: var(--gray600-color);
    --os-handle-bg-active: var(--gray700-color);
    --os-handle-border: none;
    --os-handle-border-hover: none;
    --os-handle-border-active: none;
    --os-handle-min-size: 60px;
    --os-handle-max-size: 120px;
    --os-handle-perpendicular-size: 100%;
    --os-handle-perpendicular-size-hover: 100%;
    --os-handle-perpendicular-size-active: 100%;
    --os-handle-interactive-area-offset: 0;
  }

  // **
  .os-theme-sidebar-filters {
    --os-size: 3px;
    --os-padding-perpendicular: 0;
    --os-padding-axis: 0;

    // **
    --os-track-border-radius: 0;
    --os-track-bg: var(--gray300-color);
    --os-track-bg-hover: var(--gray300-color);
    --os-track-bg-active: var(--gray300-color);
    --os-track-border: none;
    --os-track-border-hover: none;
    --os-track-border-active: none;

    // **
    --os-handle-border-radius: 4px;
    --os-handle-bg: var(--gray500-color);
    --os-handle-bg-hover: var(--gray600-color);
    --os-handle-bg-active: var(--gray700-color);
    --os-handle-border: none;
    --os-handle-border-hover: none;
    --os-handle-border-active: none;
    --os-handle-min-size: 240px;
    --os-handle-max-size: 480px;
    --os-handle-perpendicular-size: 100%;
    --os-handle-perpendicular-size-hover: 100%;
    --os-handle-perpendicular-size-active: 100%;
    --os-handle-interactive-area-offset: 0;
  }

  // NoUiSlider
  .noUi-target {
    margin-inline: auto;
    border: none;
    padding-inline: rem(5);
    height: rem(2);
    box-shadow: none;
    background-color: var(--gray400-color);
  }

  .noUi-base {
    left: 0;
    top: 0;
    height: rem(2);
  }

  .noUi-connects {
    height: rem(2);
    background-color: var(--gray400-color);
  }

  .noUi-connect {
    height: rem(2);
    background-color: var(--primary-color);
  }

  .noUi-handle {
    right: rem(-7) !important;
    top: 50%;
    border: rem(2) solid var(--white-color);
    border-radius: 50%;
    width: rem(16) !important;
    height: rem(16) !important;
    box-shadow: none;
    background-color: var(--primary-color);
    transform: translateY(calc(-50% + rem(1)));

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .noUi-tooltip {
    bottom: rem(18);
    border-radius: rem(4);
    padding-block: rem(1.8);
    padding-inline: rem(10);
    font: var(--extrasmall-regular);
    color: var(--white-color);
    background-color: var(--gray800-color);
  }
}