@use "../../util/" as *;

.toolbar {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: auto;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__title {
    margin-right: rem(12);
    font: var(--base-bold);
    color: var(--gray900-color);
  }

  // Sort
  &__sort {
    display: flex;
    align-items: center;
  }

  // Show
  &__show {
    display: flex;
    align-items: center;
  }

  &__input-number {
    margin-right: rem(12);
  }

  &__text {
    font: var(--small-regular);
    color: var(--gray700-color);
  }
}