@use "../../util/" as *;

.header-main {
  padding-top: rem(20);
  padding-bottom: rem(20);
  box-shadow: var(--regular-shadow);
  background-color: var(--white-color);

  &__container {
    display: grid;
    column-gap: rem(20);
    align-items: center;
    grid-template-columns: 1.08fr 2.91fr minmax(auto, rem(380)) 1fr;

    @include bp-down("992") {
      grid-template-columns: 1fr auto auto;
      grid-template-rows: repeat(4, auto);
      row-gap: 0;
    }

    @include bp-down("576") {
      margin-inline: rem(15);
    }

    &--show {
      row-gap: rem(20);
    }
  }

  &__logo {
    justify-self: self-start;
    white-space: nowrap;
  }

  &__nav {
    justify-self: self-start;
    white-space: nowrap;
  }

  &__choice {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: self-end;
    white-space: nowrap;

    &::before {
      content: "";
      position: absolute;
      left: rem(58);
      top: 50%;
      width: rem(1);
      height: rem(22);
      background-image: var(--divider-gradient);
      transform: translateY(-50%);
    }

    @include bp-down("992") {
      margin-right: rem(15);

      &::before {
        left: revert;
        right: rem(-20);
      }
    }
  }

  // Login (from header-top)
  .login {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: self-end;
    white-space: nowrap;
    color: inherit;
    transition: opacity 0.3s;

    &::before {
      content: "/";
      position: absolute;
      left: 61px;
      top: 47%;
      transform: translateY(-50%);
    }

    &__icon {
      order: -1;
      margin-right: rem(9.5);
      width: rem(13);
      height: rem(14);
      fill: currentcolor;
      transition: fill 0.3s ease;
    }

    &__btn {
      transition: color 0.3s ease;
      user-select: none;

      &:hover {
        color: var(--white-color);

        &::after {
          color: var(--graywhite-color);
          pointer-events: none;
        }
      }

      &:hover~.login__icon {
        fill: var(--white-color);
      }

      &:first-child {
        margin-right: rem(10);
      }
    }

    @include bp-down("992") {
      justify-self: revert;
      width: 0;
      height: 0;
      font: var(--base-bold);
      color: var(--gray800-color);
      opacity: 0;
      visibility: hidden;

      &::before {
        left: 71px;
        top: 47%;
      }

      &__icon {
        width: rem(15);
        height: rem(15);
      }

      &__btn {
        &:hover {
          color: var(--primary-color);
        }

        &:hover~.login__icon {
          fill: var(--primary-color);
        }

        &:first-child {
          margin-right: rem(15);
        }
      }
    }

    // Header-main show class
    &--show {
      width: 100%;
      height: 100%;
      opacity: 1;
      visibility: visible;
    }
  }

  // Inner blocks
  // Logo
  .logo {
    width: rem(130);
    height: rem(22);
  }

  // Nav
  .nav {
    width: 100%;

    &__list {
      display: flex;
      align-items: center;
      transition: opacity 0.25s, height 0.25s ease-in-out;

      @include bp-down("992") {
        flex-direction: column;
        align-items: flex-start;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
      }

      &--show {
        width: 100%;
        height: auto;
        opacity: 1;
        visibility: visible;
      }
    }

    &__item {
      &:not(:last-child) {
        position: relative;
        margin-right: rem(40);

        @include bp-down("992") {
          margin-right: 0;
          margin-bottom: rem(15);
        }
      }

      &--hover {
        &:hover {
          &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 100%;
            width: calc(100% + rem(80));
            height: rem(80);
            transform: translate(-50%, -50%);

            @include bp-down("992") {
              display: none;
            }
          }

          .megamenu {
            width: 100%;
            height: auto;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    &__link {
      position: relative;
      display: inline-block;
      font: var(--base-bold);
      color: var(--gray800-color);

      &:hover {
        color: var(--primary-color);

        svg {
          fill: currentcolor;
        }
      }

      &--sale {
        color: var(--danger-color);

        &:hover {
          color: var(--danger-color);
        }
      }

      &--open {
        color: var(--primary-color);

        svg {
          top: rem(-1);
          transform: rotate(180deg);
        }
      }
    }

    &__btn-dropdown {
      position: absolute;
      right: rem(-20);
      top: 0;
      display: none;
      padding: rem(2);
      cursor: pointer;

      svg {
        position: relative;
        width: rem(12);
        height: rem(12);
        fill: var(--gray700-color);
        transition: fill 0.25s ease-in-out, transform 0.15s ease-in-out;
      }

      @include bp-down("992") {
        display: block;
      }
    }

    &__megamenu {
      position: fixed;
      left: 0;
      top: rem(126);
      z-index: var(--z-fixed);

      @include bp-down("992") {
        position: relative;
        left: 0;
        top: 0;
      }
    }

    @include bp-down("992") {
      grid-column: 1 / 4;
      grid-row: 3 / 4;
      margin-top: rem(-10);
      max-height: calc(100vh - rem(176));
    }
  }

  // Search-form
  .search-form {
    position: relative;
    width: 100%;
    transition: opacity 0.25s;

    &__input {
      width: 100%;
      height: rem(44);

      @include bp-down("992") {
        border: none;
        padding-inline: rem(33);
      }
    }

    &__btn {
      position: absolute;
      right: rem(17);
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      @include bp-down("992") {
        left: rem(7.5);
        right: revert;
      }
    }

    &__icon {
      vertical-align: middle;
      width: rem(16);
      height: rem(16);
    }

    @include bp-down("992") {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
    }

    &--show {
      width: 100%;
      height: 100%;
      opacity: 1;
      visibility: visible;
    }
  }

  // Favorite
  .favorite {
    display: flex;
    align-items: center;
    margin-right: rem(41);

    &__btn {
      margin-right: rem(9);
    }

    &__icon {
      display: block;
      width: rem(19);
      height: rem(16.5);
    }

    &__count {
      font: var(--base-regular);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s;
      user-select: none;

      &--show {
        opacity: 1;
        visibility: visible;
      }
    }

    @include bp-down("992") {
      display: none;
    }
  }

  // Cart
  .cart {
    display: flex;
    align-items: center;

    &__btn {
      margin-right: rem(8);
    }

    &__icon {
      display: block;
      width: rem(21);
      height: rem(22);
    }

    &__count {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: rem(4);
      padding-inline: rem(3);
      height: rem(20);
      min-width: rem(23);
      font: var(--extrasmall-bold);
      color: var(--white-color);
      background-color: var(--success-color);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s;
      user-select: none;

      &--show {
        opacity: 1;
        visibility: visible;
      }
    }

    &__choice {
      position: fixed;
      right: rem(-400);
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      transition: right 0.3s linear;
    }

    .cart-choice {
      border-top-left-radius: rem(4);
      border-bottom-left-radius: rem(4);
      padding-top: rem(29);
      padding-bottom: rem(32);
      width: rem(352);
      height: 100vh;
      background-color: var(--white-color);

      &::before {
        content: "";
        position: absolute;
        right: 100%;
        top: 0;
        bottom: 0;
        width: 100vw;
        background-color: var(--overlay-color);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s linear;
      }

      &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: rem(1) solid var(--gray300-color);
        padding-right: rem(24);
        padding-bottom: rem(19);
        padding-left: rem(24);
      }

      &__title {
        font: var(--lead-bold);
        color: var(--gray900-color);
      }

      &__title-count {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;

        &--show {
          opacity: 1;
          visibility: visible;
        }
      }

      &__close {
        position: relative;
        top: rem(2);
        padding: rem(2);

        svg {
          width: rem(24);
          height: rem(24);
          fill: var(--gray700-color);
        }
      }

      // Cart list
      &__list {
        &-wrapper {
          flex-basis: 100%;
        }
      }

      &__item {
        padding-inline: rem(24);

        &:not(:first-child) {
          border-top: rem(1) solid var(--gray300-color);
        }
      }

      // Bottom
      &__bottom {
        // display: none;
        display: block;
        border-top: rem(1) solid var(--gray300-color);
        padding-top: rem(20);
        padding-left: rem(24);
        padding-right: rem(24);

        // &--show {
        //   display: block;
        // }
      }

      &__subtotal {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: rem(20);

        &-title {
          font: var(--base-regular);
          color: var(--gray700-color);
        }

        &-sum {
          font: var(--h5-font);
          color: var(--gray900-color);
        }
      }

      &__checkout {
        width: 100%;

        svg {
          width: rem(22);
          height: rem(19);
        }
      }
    }

    // Cart open class
    &--open {
      .cart-choice {
        right: 0;

        &::before {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  // Menu btn
  .menu-btn {
    display: none;
    overflow: hidden;
    padding: rem(5);

    &__inner-wrapper {
      position: relative;
      width: rem(21);
      height: rem(14);
    }

    &__line {
      position: absolute;
      width: rem(21);
      height: rem(2);
      background-color: var(--gray800-color);
      transition: transform 0.25s ease-in-out, opacity 0.25s;

      &:nth-child(1) {
        left: 0;
        top: 0;
        transform: rotate(0);
        transform-origin: center;
      }

      &:nth-child(2) {
        left: 0;
        bottom: 50%;
        transform: translateY(50%);
      }

      &:nth-child(3) {
        left: 0;
        bottom: 0;
        transform: rotate(0);
        transform-origin: center;
      }
    }

    &--show {
      overflow: visible;

      &__inner-wrapper {
        position: relative;
        overflow: hidden;
        width: rem(21);
        height: rem(14);
      }

      .menu-btn__line:nth-child(1) {
        top: 50%;
        opacity: 1;
        transform: translateY(-50%) rotate(45deg);
        transform-origin: center;
      }

      .menu-btn__line:nth-child(2) {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
      }

      .menu-btn__line:nth-child(3) {
        top: 50%;
        opacity: 1;
        transform: translateY(-50%) rotate(-45deg);
        transform-origin: center;
      }
    }

    @include bp-down("992") {
      display: block;
    }
  }

  // OverlayScrollbars
  // For nav (mobile)
  .os-theme-my {
    --os-size: 0;
    --os-padding-perpendicular: 0;
    --os-padding-axis: 0;

    // **
    --os-track-border-radius: 0;
    --os-track-bg: none;
    --os-track-bg-hover: none;
    --os-track-bg-active: none;
    --os-track-border: none;
    --os-track-border-hover: none;
    --os-track-border-active: none;

    // **
    --os-handle-border-radius: 0;
    --os-handle-bg: none;
    --os-handle-bg-hover: none;
    --os-handle-bg-active: none;
    --os-handle-border: none;
    --os-handle-border-hover: none;
    --os-handle-border-active: none;
    --os-handle-min-size: 0;
    --os-handle-max-size: none;
    --os-handle-perpendicular-size: 0;
    --os-handle-perpendicular-size-hover: 0;
    --os-handle-perpendicular-size-active: 0;
    --os-handle-interactive-area-offset: 0;
  }

  // For cart-choice
  .os-theme-cart-choice {
    --os-size: 3px;
    --os-padding-perpendicular: 0;
    --os-padding-axis: 0;

    // **
    --os-track-border-radius: 0;
    --os-track-bg: var(--gray300-color);
    --os-track-bg-hover: var(--gray300-color);
    --os-track-bg-active: var(--gray300-color);
    --os-track-border: none;
    --os-track-border-hover: none;
    --os-track-border-active: none;

    // **
    --os-handle-border-radius: 4px;
    --os-handle-bg: var(--gray500-color);
    --os-handle-bg-hover: var(--gray600-color);
    --os-handle-bg-active: var(--gray700-color);
    --os-handle-border: none;
    --os-handle-border-hover: none;
    --os-handle-border-active: none;
    --os-handle-min-size: 240px;
    --os-handle-max-size: 480px;
    --os-handle-perpendicular-size: 100%;
    --os-handle-perpendicular-size-hover: 100%;
    --os-handle-perpendicular-size-active: 100%;
    --os-handle-interactive-area-offset: 0;
  }
}