@use "../../util/" as *;

.header-top {
  padding-top: rem(9);
  padding-bottom: rem(10);
  font: var(--small-regular);
  color: var(--graywhite-color);
  background-color: var(--gray900-color);

  &__container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1.54fr 4.9fr 1fr 1fr;

    @include bp-down("992") {
      grid-template-columns: auto 1fr auto;
    }

    @include bp-down("678") {
      column-gap: rem(35);
    }

    @include bp-down("576") {
      column-gap: rem(25);
    }

    @include bp-down("414") {
      column-gap: rem(20);
    }
  }

  &__available {
    justify-self: self-start;
    white-space: nowrap;
  }

  &__nav {
    white-space: nowrap;

    @include bp-down("678") {
      justify-self: self-end;
    }
  }

  &__currency {
    white-space: nowrap;
  }

  &__login {
    justify-self: self-end;
    white-space: nowrap;

    @include bp-down("992") {
      justify-self: revert;
    }
  }

  // Available
  .available {
    transition: color 0.3s ease;

    &__link {
      display: flex;
      align-items: center;
    }

    &__text {
      margin-right: rem(3);

      @include bp-down("876") {
        display: none;
      }
    }

    &__icon {
      display: none;
      margin-right: rem(3);

      svg {
        position: relative;
        width: rem(14);
        height: rem(14);
        fill: currentcolor;
      }

      @include bp-down("876") {
        display: inline-flex;
      }
    }

    &__tel {
      font: var(--small-bold);
    }

    &:hover {
      color: var(--white-color);
    }
  }

  // Top-nav
  .top-nav {
    position: relative;
    z-index: var(--z-tooltip);

    &__button {
      display: none;
      align-items: center;
      transition: color 0.3s;

      svg {
        margin-right: rem(4);
        width: rem(15);
        height: rem(15);
        fill: currentcolor;
      }

      &:hover {
        color: var(--white-color);
      }

      @include bp-down("678") {
        display: flex;
      }
    }

    &__list {
      display: flex;
      align-items: center;

      @include bp-down("678") {
        position: absolute;
        left: -70%;
        top: calc(100% + rem(6));
        display: none;
        flex-direction: column;
        align-items: flex-start;
        border-radius: rem(4);
        padding-block: rem(10);
        padding-inline: rem(15);
        width: rem(150);
        box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
        color: var(--black-color);
        background-color: var(--white-color);
      }

      &--show {
        display: flex;
      }
    }

    &__item {
      &:not(:last-child) {
        margin-right: rem(32);

        @include bp-down("768") {
          margin-right: rem(20);
        }

        @include bp-down("678") {
          margin-right: 0;
          margin-bottom: rem(4);
        }
      }
    }

    &__link {
      transition: color 0.3s ease;

      &:hover {
        color: var(--white-color);

        @include bp-down("678") {
          color: var(--primary-color);
        }
      }
    }
  }

  // Currency && custom-select
  .currency {
    display: flex;
    align-items: center;
    width: rem(105);
    word-spacing: rem(1.4);

    &__flag {
      margin-right: rem(6.5);
      width: rem(20);
      height: rem(12);
    }
  }

  // Login
  .login {
    position: relative;
    display: flex;
    align-items: center;
    color: inherit;
    transition: opacity 0.3s;

    &::before {
      content: "/";
      position: absolute;
      left: 61px;
      top: 47%;
      transform: translateY(-50%);
    }

    &__icon {
      order: -1;
      margin-right: rem(9.5);
      width: rem(13);
      height: rem(14);
      fill: currentcolor;
      transition: fill 0.3s ease;
    }

    &__btn {
      transition: color 0.3s ease;
      user-select: none;

      &:hover {
        color: var(--white-color);

        &::after {
          color: var(--graywhite-color);
          pointer-events: none;
        }
      }

      &:hover~.login__icon {
        fill: var(--white-color);
      }

      &:first-child {
        margin-right: rem(10);
      }
    }

    @include bp-down("992") {
      width: 0;
      height: 0;
      font: var(--base-bold);
      color: var(--gray800-color);
      opacity: 0;
      visibility: hidden;

      &::before {
        left: 71px;
        top: 47%;
      }

      &__icon {
        width: rem(15);
        height: rem(15);
      }

      &__btn {
        &:hover {
          color: var(--primary-color);
        }

        &:hover~.login__icon {
          fill: var(--primary-color);
        }

        &:first-child {
          margin-right: rem(15);
        }
      }
    }

    &--show {
      width: 100%;
      height: 100%;
      opacity: 1;
      visibility: visible;
    }
  }

  // OverlayScrollbars
  .os-scrollbar {
    --os-size: 5px;
    --os-padding-perpendicular: 0;
    --os-padding-axis: 0;

    // **
    --os-track-border-radius: 0;
    --os-track-bg: var(--gray300-color);
    --os-track-bg-hover: var(--gray300-color);
    --os-track-bg-active: var(--gray300-color);
    --os-track-border: none;
    --os-track-border-hover: none;
    --os-track-border-active: none;

    // **
    --os-handle-border-radius: 4px;
    --os-handle-bg: var(--gray700-color);
    --os-handle-bg-hover: var(--gray800-color);
    --os-handle-bg-active: var(--gray900-color);
    --os-handle-border: none;
    --os-handle-border-hover: none;
    --os-handle-border-active: none;
    --os-handle-min-size: 33px;
    --os-handle-max-size: none;
    --os-handle-perpendicular-size: 100%;
    --os-handle-perpendicular-size-hover: 100%;
    --os-handle-perpendicular-size-active: 100%;
    --os-handle-interactive-area-offset: 0;
  }
}