@use "../../util/" as *;

.header-main {
  padding-top: rem(20);
  padding-bottom: rem(20);
  box-shadow: var(--regular-shadow);
  background-color: var(--white-color);

  &__container {
    display: grid;
    column-gap: rem(20);
    align-items: center;
    grid-template-columns: 1.08fr 2.91fr minmax(auto, rem(380)) 1fr;
  }

  &__logo {
    justify-self: self-start;
    white-space: nowrap;
  }

  &__nav {
    justify-self: self-start;
    white-space: nowrap;
  }

  &__choice {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: self-end;
    white-space: nowrap;

    &::before {
      content: "";
      position: absolute;
      left: rem(58);
      top: 50%;
      width: rem(1);
      height: rem(22);
      background-image: var(--divider-gradient);
      transform: translateY(-50%);
    }
  }
}

// Logo
.logo {
  width: rem(130);
  height: rem(22);
}

// Nav
.nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    &:not(:last-child) {
      position: relative;
      margin-right: rem(40);

      &:hover {
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 100%;
          width: calc(100% + rem(80));
          height: rem(80);
          transform: translate(-50%, -50%);
        }

        .megamenu {
          display: block;
        }
      }
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    font: var(--base-bold);
    color: var(--gray800-color);

    &:hover {
      color: var(--primary-color);
    }

    &--sale {
      color: var(--danger-color);

      &:hover {
        color: var(--danger-color);
      }
    }
  }

  &__megamenu {
    position: fixed;
    left: 0;
    top: rem(126);
    z-index: var(--z-fixed);
  }
}

// Search-form
.search-form {
  position: relative;
  width: 100%;

  &__input {
    width: 100%;
    height: rem(44);
  }

  &__btn {
    position: absolute;
    right: rem(17);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__icon {
    vertical-align: middle;
    width: rem(16);
    height: rem(16);
  }
}

// Favorite
.favorite {
  display: flex;
  align-items: center;
  margin-right: rem(41);

  &__btn {
    margin-right: rem(9);
  }

  &__icon {
    display: block;
    width: rem(19);
    height: rem(16.5);
  }

  &__count {
    font: var(--base-regular);
    user-select: none;
  }
}

// Cart
.cart {
  display: flex;
  align-items: center;

  &__btn {
    margin-right: rem(8);
  }

  &__icon {
    display: block;
    width: rem(21);
    height: rem(22);
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: rem(4);
    padding-inline: rem(3);
    height: rem(20);
    min-width: rem(23);
    font: var(--extrasmall-bold);
    color: var(--white-color);
    background-color: var(--success-color);
    user-select: none;
  }
}