<div class="sidebar-filters catalog__sidebar-filters">

  <!-- Button -->
  <button class="sidebar-filters__button btn btn--mid" id="sidebar-filters__button">
    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
      <use href='./img/sprite.svg#filter' aria-hidden="true"></use>
    </svg>

    <span class="btn__text">
      Hide filters
    </span>
  </button>

  <!-- Filters -->
  <div class="sidebar-filters__wrapper">
    <div class="sidebar-filters__wrapper-inner" id="sidebar-filters__wrapper-inner" data-simplebar>

      <!-- For screen reader -->
      <h1 class="sr-only">
        To apply filters click on the button "Show" or "Apply filters" or press keys "+" and "-" simultaneuosly.
      </h1>

      <!-- Wrapper top -->
      <div class="sidebar-filters__wrapper-top">
        <span class="sidebar-filters__wrapper-title">
          Shop filters
        </span>

        <button class="sidebar-filters__wrapper-close" aria-label="Close shop filters menu.">
          <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
            <use href='./img/sprite.svg#cross' aria-hidden='true'></use>
          </svg>
        </button>
      </div>

      <!-- Filter1 (Clothes) -->
      <div class="sidebar-filters__filter filter filter--show">

        <!-- Filter-top -->
        <div class="filter__top">
          <h6 class="filter__title">
            Clothes
          </h6>

          <button class="filter__toggle filter__toggle--show"
            aria-label="Show or hide the list of the categories."></button>
        </div>

        <!-- Filter-bottom -->
        <div class="filter__bottom">
          <div class="filter__search">
            <input type="text" class="filter__search-input input" placeholder="Search the clothes type">

            <button class="filter__search-btn">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
                <use href='./img/sprite.svg#search' aria-hidden='true'></use>
              </svg>
            </button>
          </div>

          <ul class="filter__list" data-overlayscrollbars-initialize>

            <!-- Item1-->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Coats
              </span>

              <span class="filter__count">
                (16)
              </span>
            </li>

            <!-- Item2 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Jackets
              </span>

              <span class="filter__count">
                (12)
              </span>
            </li>

            <!-- Item3 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Suits
              </span>

              <span class="filter__count">
                (5)
              </span>
            </li>

            <!-- Item4 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Dresses
              </span>

              <span class="filter__count">
                (11)
              </span>
            </li>

            <!-- Item5 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Cardigans & sweaters
              </span>

              <span class="filter__count">
                (18)
              </span>
            </li>

            <!-- Item6 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Sweatshirts & hoodies
              </span>

              <span class="filter__count">
                (21)
              </span>
            </li>

            <!-- Item7 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                T-shirts & tops
              </span>

              <span class="filter__count">
                (17)
              </span>
            </li>

            <!-- Item8 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Pants
              </span>

              <span class="filter__count">
                (14)
              </span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Filter2 (Size) -->
      <div class="sidebar-filters__filter filter">

        <!-- Filter-top -->
        <div class="filter__top">
          <h6 class="filter__title">
            Size
          </h6>

          <button class="filter__toggle" aria-label="Show or hide the list of the categories."></button>
        </div>

        <!-- Filter-bottom -->
        <div class="filter__bottom">
          <ul class="filter__list" data-overlayscrollbars-initialize>

            <!-- Item1-->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                XS
              </span>

              <span class="filter__count">
                (16)
              </span>
            </li>

            <!-- Item2 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                S
              </span>

              <span class="filter__count">
                (12)
              </span>
            </li>

            <!-- Item3 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                M
              </span>

              <span class="filter__count">
                (5)
              </span>
            </li>

            <!-- Item4 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                L
              </span>

              <span class="filter__count">
                (11)
              </span>
            </li>

            <!-- Item5 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                XL
              </span>

              <span class="filter__count">
                (18)
              </span>
            </li>

            <!-- Item6 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Plus size
              </span>

              <span class="filter__count">
                (21)
              </span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Filter3 (Color) -->
      <div class="sidebar-filters__filter filter">

        <!-- Filter-top -->
        <div class="filter__top">
          <h6 class="filter__title">
            Color
          </h6>

          <button class="filter__toggle" aria-label="Show or hide the list of the categories."></button>
        </div>

        <!-- Filter-bottom -->
        <div class="filter__bottom">
          <div class="filter__colors-wrapper" data-overlayscrollbars-initialize>
            <ul class="filter__colors colors">

              <!-- Item1-->
              <li class="filter__color colors__item">
                <button class="filter__color-btn colors__button" data-color="Black"
                  aria-label="Choose black color."></button>

                <span class="filter__color-name">
                  Black
                </span>
              </li>

              <!-- Item2-->
              <li class="filter__color colors__item">
                <button class="filter__color-btn colors__button" data-color="Blue-gray"
                  aria-label="Choose blue-gray color."></button>

                <span class="filter__color-name">
                  Blue-gray
                </span>
              </li>

              <!-- Item3-->
              <li class="filter__color colors__item">
                <button class="filter__color-btn colors__button" data-color="Yellow"
                  aria-label="Choose yellow color."></button>

                <span class="filter__color-name">
                  Yellow
                </span>
              </li>

              <!-- Item4-->
              <li class="filter__color colors__item">
                <button class="filter__color-btn colors__button" data-color="Red"
                  aria-label="Choose red color."></button>

                <span class="filter__color-name">
                  Red
                </span>
              </li>

              <!-- Item5-->
              <li class="filter__color colors__item">
                <button class="filter__color-btn colors__button" data-color="Dark-blue"
                  aria-label="Choose dark-blue color."></button>

                <span class="filter__color-name">
                  Dark blue
                </span>
              </li>

              <!-- Item6-->
              <li class="filter__color colors__item">
                <button class="filter__color-btn colors__button" data-color="Beige"
                  aria-label="Choose beige color."></button>

                <span class="filter__color-name">
                  Beige
                </span>
              </li>

              <!-- Item7-->
              <li class="filter__color colors__item">
                <button class="filter__color-btn colors__button" data-color="Brown"
                  aria-label="Choose brown color."></button>

                <span class="filter__color-name">
                  Brown
                </span>
              </li>

              <!-- Item8-->
              <li class="filter__color colors__item">
                <button class="filter__color-btn colors__button" data-color="Gray"
                  aria-label="Choose gray color."></button>

                <span class="filter__color-name">
                  Gray
                </span>
              </li>

              <!-- Item9-->
              <li class="filter__color colors__item">
                <button class="filter__color-btn colors__button" data-color="Purple"
                  aria-label="Choose purple color."></button>

                <span class="filter__color-name">
                  Purple
                </span>
              </li>

              <!-- Item10-->
              <li class="filter__color colors__item">
                <button class="filter__color-btn colors__button" data-color="Green"
                  aria-label="Choose green color."></button>

                <span class="filter__color-name">
                  Green
                </span>
              </li>

              <!-- Item11-->
              <li class="filter__color colors__item">
                <button class="filter__color-btn colors__button" data-color="Orange"
                  aria-label="Choose orange color."></button>

                <span class="filter__color-name">
                  Orange
                </span>
              </li>

              <!-- Item12-->
              <li class="filter__color colors__item">
                <button class="filter__color-btn colors__button" data-color="White"
                  aria-label="Choose white color."></button>

                <span class="filter__color-name">
                  White
                </span>
              </li>

              <!-- Item13-->
              <li class="filter__color colors__item">
                <button class="filter__color-btn colors__button" data-color="Pink"
                  aria-label="Choose pink color."></button>

                <span class="filter__color-name">
                  Pink
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Filter4 (Material) -->
      <div class="sidebar-filters__filter filter">

        <!-- Filter-top -->
        <div class="filter__top">
          <h6 class="filter__title">
            Material
          </h6>

          <button class="filter__toggle filter__toggle--show"
            aria-label="Show or hide the list of the categories."></button>
        </div>

        <!-- Filter-bottom -->
        <div class="filter__bottom">
          <div class="filter__search">
            <input type="text" class="filter__search-input input" placeholder="Search the clothes type">

            <button class="filter__search-btn">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
                <use href='./img/sprite.svg#search' aria-hidden='true'></use>
              </svg>
            </button>
          </div>

          <ul class="filter__list" data-overlayscrollbars-initialize>

            <!-- Item1-->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Cotton
              </span>

              <span class="filter__count">
                (162)
              </span>
            </li>

            <!-- Item2 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Synthetics
              </span>

              <span class="filter__count">
                (12)
              </span>
            </li>

            <!-- Item3 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Nappa leather
              </span>

              <span class="filter__count">
                (26)
              </span>
            </li>

            <!-- Item4 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Leather
              </span>

              <span class="filter__count">
                (5)
              </span>
            </li>

            <!-- Item5 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Cashmere
              </span>

              <span class="filter__count">
                (41)
              </span>
            </li>

            <!-- Item6 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Denim
              </span>

              <span class="filter__count">
                (48)
              </span>
            </li>

            <!-- Item7 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Batiste
              </span>

              <span class="filter__count">
                (17)
              </span>
            </li>

            <!-- Item8 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Velours
              </span>

              <span class="filter__count">
                (3)
              </span>
            </li>

            <!-- Item9 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Veil
              </span>

              <span class="filter__count">
                (9)
              </span>
            </li>

            <!-- Item10 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Suede
              </span>

              <span class="filter__count">
                (4)
              </span>
            </li>

            <!-- Item11 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Organza
              </span>

              <span class="filter__count">
                (1)
              </span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Filter5 (Brand) -->
      <div class="sidebar-filters__filter filter">

        <!-- Filter-top -->
        <div class="filter__top">
          <h6 class="filter__title">
            Brand
          </h6>

          <button class="filter__toggle filter__toggle--show"
            aria-label="Show or hide the list of the categories."></button>
        </div>

        <!-- Filter-bottom -->
        <div class="filter__bottom">
          <div class="filter__search">
            <input type="text" class="filter__search-input input" placeholder="Search the clothes type">

            <button class="filter__search-btn">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
                <use href='./img/sprite.svg#search' aria-hidden='true'></use>
              </svg>
            </button>
          </div>

          <ul class="filter__list" data-overlayscrollbars-initialize>

            <!-- Item1-->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Adidas
              </span>

              <span class="filter__count">
                (162)
              </span>
            </li>

            <!-- Item2 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Ann Taylor
              </span>

              <span class="filter__count">
                (12)
              </span>
            </li>

            <!-- Item3 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Armani
              </span>

              <span class="filter__count">
                (26)
              </span>
            </li>

            <!-- Item4 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Banana Republic
              </span>

              <span class="filter__count">
                (5)
              </span>
            </li>

            <!-- Item5 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Calvin Klein
              </span>

              <span class="filter__count">
                (41)
              </span>
            </li>

            <!-- Item6 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Columbia
              </span>

              <span class="filter__count">
                (48)
              </span>
            </li>

            <!-- Item7 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Bilabong
              </span>

              <span class="filter__count">
                (27)
              </span>
            </li>

            <!-- Item8 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Birkenstock
              </span>

              <span class="filter__count">
                (10)
              </span>
            </li>

            <!-- Item9 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Converse
              </span>

              <span class="filter__count">
                (176)
              </span>
            </li>

            <!-- Item10 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Dockers
              </span>

              <span class="filter__count">
                (54)
              </span>
            </li>

            <!-- Item11 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Fruit of the loom
              </span>

              <span class="filter__count">
                (239)
              </span>
            </li>

            <!-- Item12 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Hanes
              </span>

              <span class="filter__count">
                (92)
              </span>
            </li>

            <!-- Item13 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Jimmy Choo
              </span>

              <span class="filter__count">
                (17)
              </span>
            </li>

            <!-- Item14 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                Levi's
              </span>

              <span class="filter__count">
                (361)
              </span>
            </li>

            <!-- Item15 -->
            <li class="filter__item">
              <label class="filter__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="checkbox" class="custom-checkbox__input">
              </label>

              <span class="filter__name">
                New Balance
              </span>

              <span class="filter__count">
                (218)
              </span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Filter6 (Price) -->
      <div class="sidebar-filters__filter filter">

        <!-- Filter-top -->
        <div class="filter__top">
          <h6 class="filter__title">
            Price
          </h6>

          <button class="filter__toggle filter__toggle--show"
            aria-label="Show or hide the list of the categories."></button>
        </div>

        <!-- Filter-bottom -->
        <div class="filter__bottom">
          <div class="filter__slider">

            <!--Slider range -->
            <div class="filter__slider-range" id="filter-slider-range"></div>

            <!-- Slider inputs -->
            <div class="filter__slider-inputs">
              <input type="text" class="filter__slider-input input">
              <div class="filter__slider-divider"></div>
              <input type="text" class="filter__slider-input input">
            </div>
          </div>
        </div>
      </div>

      <!-- Apply filters button -->
      <button class="sidebar-filters__apply btn btn--mid btn--outline">
        Apply filters
      </button>
    </div>

    <!-- Show button -->
    <button class="sidebar-filters__show" aria-label="Show all chosen categories.">
      Show
    </button>
  </div>
</div>