<div class="sidebar-filters">

  <!-- Button -->
  <button class="sidebar-filters__button btn btn--mid">
    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
      <use href='./img/sprite.svg#filter' aria-hidden="true"></use>
    </svg>

    <span class="btn__text">
      Hide filters
    </span>
  </button>

  <!-- Filters -->
  <div class="sidebar-filters__wrapper">

    <!-- Filter1 (clothes) -->
    <div class="sidebar-filters__filter filter filter--show">
      
      <!-- Filter-top -->
      <div class="filter__top">
        <h6 class="filter__title">
          Clothes
        </h6>

        <button class="filter__toggle filter__toggle--show" aria-label="Show or hide the list of the category."></button>
      </div>

      <!-- Filter-bottom -->
      <div class="filter__bottom filter__bottom--show-init">
        <div class="filter__search">
          <input type="text" class="filter__search-input input" placeholder="Search the clothes type">
  
          <button class="filter__search-btn">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
              <use href='./img/sprite.svg#search' aria-hidden='true'></use>
            </svg>
          </button>
        </div>

        <ul class="filter__list" data-overlayscrollbars-initialize>
  
          <!-- Item1-->
          <li class="filter__item">
            <label class="filter__label">
              <label class="filter__checkbox custom-checkbox" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>
  
                <input type="checkbox" class="custom-checkbox__input">
              </label>
  
              <span class="filter__name">
                Coats
              </span>
  
              <span class="filter__count">
                (16)
              </span>
            </label>
          </li>
  
          <!-- Item2 -->
          <li class="filter__item">
            <label class="filter__label">
              <label class="filter__checkbox custom-checkbox" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>
  
                <input type="checkbox" class="custom-checkbox__input">
              </label>
  
              <span class="filter__name">
                Jackets
              </span>
  
              <span class="filter__count">
                (12)
              </span>
            </label>
          </li>
  
          <!-- Item3 -->
          <li class="filter__item">
            <label class="filter__label">
              <label class="filter__checkbox custom-checkbox" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>
  
                <input type="checkbox" class="custom-checkbox__input">
              </label>
  
              <span class="filter__name">
                Suits
              </span>
  
              <span class="filter__count">
                (5)
              </span>
            </label>
          </li>
  
          <!-- Item4 -->
          <li class="filter__item">
            <label class="filter__label">
              <label class="filter__checkbox custom-checkbox" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>
  
                <input type="checkbox" class="custom-checkbox__input">
              </label>
  
              <span class="filter__name">
                Dresses
              </span>
  
              <span class="filter__count">
                (11)
              </span>
            </label>
          </li>
  
          <!-- Item5 -->
          <li class="filter__item">
            <label class="filter__label">
              <label class="filter__checkbox custom-checkbox" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>
  
                <input type="checkbox" class="custom-checkbox__input">
              </label>
  
              <span class="filter__name">
                Cardigans & sweaters
              </span>
  
              <span class="filter__count">
                (18)
              </span>
            </label>
          </li>
  
          <!-- Item6 -->
          <li class="filter__item">
            <label class="filter__label">
              <label class="filter__checkbox custom-checkbox" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>
  
                <input type="checkbox" class="custom-checkbox__input">
              </label>
  
              <span class="filter__name">
                Sweatshirts & hoodies
              </span>
  
              <span class="filter__count">
                (21)
              </span>
            </label>
          </li>
  
          <!-- Item7 -->
          <li class="filter__item">
            <label class="filter__label">
              <label class="filter__checkbox custom-checkbox" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>
  
                <input type="checkbox" class="custom-checkbox__input">
              </label>
  
              <span class="filter__name">
                T-shirts & tops
              </span>
  
              <span class="filter__count">
                (17)
              </span>
            </label>
          </li>
  
          <!-- Item8 -->
          <li class="filter__item">
            <label class="filter__label">
              <label class="filter__checkbox custom-checkbox" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>
  
                <input type="checkbox" class="custom-checkbox__input">
              </label>
  
              <span class="filter__name">
                Pants
              </span>
  
              <span class="filter__count">
                (14)
              </span>
            </label>
          </li>
        </ul>
      </div>
    </div>

    <!-- Filter2 (sizes) -->
    <div class="sidebar-filters__filter filter">

      <!-- Filter-top -->
      <div class="filter__top">
        <h6 class="filter__title">
          Sizes
        </h6>

        <button class="filter__toggle" aria-label="Show or hide the list of the category."></button>
      </div>

      <!-- Filter-bottom -->
      <div class="filter__bottom">
        <ul class="filter__list" data-overlayscrollbars-initialize>
  
          <!-- Item1-->
          <li class="filter__item">
            <label class="filter__label">
              <label class="filter__checkbox custom-checkbox" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>
  
                <input type="checkbox" class="custom-checkbox__input">
              </label>
  
              <span class="filter__name">
                XS
              </span>
  
              <span class="filter__count">
                (16)
              </span>
            </label>
          </li>
  
          <!-- Item2 -->
          <li class="filter__item">
            <label class="filter__label">
              <label class="filter__checkbox custom-checkbox" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>
  
                <input type="checkbox" class="custom-checkbox__input">
              </label>
  
              <span class="filter__name">
                S
              </span>
  
              <span class="filter__count">
                (12)
              </span>
            </label>
          </li>
  
          <!-- Item3 -->
          <li class="filter__item">
            <label class="filter__label">
              <label class="filter__checkbox custom-checkbox" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>
  
                <input type="checkbox" class="custom-checkbox__input">
              </label>
  
              <span class="filter__name">
                M
              </span>
  
              <span class="filter__count">
                (5)
              </span>
            </label>
          </li>
  
          <!-- Item4 -->
          <li class="filter__item">
            <label class="filter__label">
              <label class="filter__checkbox custom-checkbox" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>
  
                <input type="checkbox" class="custom-checkbox__input">
              </label>
  
              <span class="filter__name">
                L
              </span>
  
              <span class="filter__count">
                (11)
              </span>
            </label>
          </li>
  
          <!-- Item5 -->
          <li class="filter__item">
            <label class="filter__label">
              <label class="filter__checkbox custom-checkbox" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>
  
                <input type="checkbox" class="custom-checkbox__input">
              </label>
  
              <span class="filter__name">
                XL
              </span>
  
              <span class="filter__count">
                (18)
              </span>
            </label>
          </li>
  
          <!-- Item6 -->
          <li class="filter__item">
            <label class="filter__label">
              <label class="filter__checkbox custom-checkbox" role="checkbox" aria-checked="false">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>
  
                <input type="checkbox" class="custom-checkbox__input">
              </label>
  
              <span class="filter__name">
                Plus size
              </span>
  
              <span class="filter__count">
                (21)
              </span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>