<div class="toolbar catalog__toolbar">
  <div class="toolbar__container container">

    <!-- Select Sort -->
    <div class="toolbar__sort">
      <span class="toolbar__title">
        Sort by
      </span>

      <div class="custom-select custom-select--light toolbar__sort-select" role="listbox" tabindex="0">
        <div class="custom-select__head custom-select__head--light toolbar__sort-head">
          <span class="custom-select__selected toolbar__sort-selected">
            Popularity
          </span>

          <svg class="custom-select__icon" xmlns='http://www.w3.org/2000/svg'>
            <use href='./img/sprite.svg#angle-down'></use>
          </svg>
        </div>

        <div class="custom-select__inner-wrapper toolbar__sort-wrapper">
          <ul class="custom-select__list toolbar__sort-list" data-overlayscrollbars-initialize>
            <li class="custom-select__item custom-select__item--active toolbar__sort-item">
              Popularity
            </li>

            <li class="custom-select__item toolbar__sort-item">
              Low - High Price
            </li>

            <li class="custom-select__item toolbar__sort-item">
              High - Low Price
            </li>

            <li class="custom-select__item toolbar__sort-item">
              Average Rating
            </li>

            <li class="custom-select__item toolbar__sort-item">
              A - Z order
            </li>

            <li class="custom-select__item toolbar__sort-item">
              Z - A order
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Select Show -->
    <div class="toolbar__show">
      <span class="toolbar__title">
        Show
      </span>

      <div class="input-number toolbar__input-number">
        <input type="text" class="input-number__input input toolbar__input-number-input" value="12"
          aria-label="To write the number of products on page." maxlength="3">

        <div class="input-number__btns">
          <button class="input-number__btn input-number__btn--upper"
            aria-label="To rise the number of products on page."></button>
          <button class="input-number__btn input-number__btn--lower"
            aria-label="To reduce the number of products on page."></button>
        </div>
      </div>

      <span class="toolbar__text">
        products per page
      </span>
    </div>

    <!-- Pagination -->
    <ul class="toolbar__pagination tool-pag">
      <!-- <li class="tool-pag__item tool-pag__item--inactive" data-toolpag="arrow-left">
        <a href="#" class="tool-pag__link" aria-label="Go to the previous page.">
          <svg class="tool-pag__arrow tool-pag__arrow--left" xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
            <use href='./img/sprite.svg#arrow' aria-hidden="true"></use>
          </svg>
        </a>
      </li>

      <li class="tool-pag__item tool-pag__item--active" data-toolpag="1">
        <a href="#" class="tool-pag__link">
          1
        </a>
      </li>

      <li class="tool-pag__item" data-toolpag="2">
        <a href="#" class="tool-pag__link">
          2
        </a>
      </li>

      <li class="tool-pag__item" data-toolpag="3">
        <a href="#" class="tool-pag__link">
          3
        </a>
      </li>

      <li class="tool-pag__item" data-toolpag="dots-right">
        <a href="#" class="tool-pag__link">...</a>
      </li>

      <li class="tool-pag__item" data-toolpag="10">
        <a href="#" class="tool-pag__link">
          10
        </a>
      </li>

      <li class="tool-pag__item" data-toolpag="arrow-right">
        <a href="#" class="tool-pag__link" aria-label="Go to the next page.">
          <svg class="tool-pag__arrow tool-pag__arrow--right" xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
            <use href='./img/sprite.svg#arrow' aria-hidden="true"></use>
          </svg>
        </a>
      </li> -->
    </ul>

    <!-- Pagination mini (for small devices) -->
    <ul class="toolbar__pagination-mini tool-pag-mini">
      <li class="tool-pag-mini__item tool-pag-mini__item--inactive" data-toolpag="arrow-left">
        <a href="#" class="tool-pag-mini__link" aria-label="Go to the previous page.">
          <svg class="tool-pag-mini__arrow tool-pag__arrow--left" xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
            <use href='./img/sprite.svg#arrow' aria-hidden="true"></use>
          </svg>
        </a>
      </li>

      <li class="tool-pag-mini__item" data-toolpag="current">
        <a href="#" class="tool-pag__link">
          1
        </a>
      </li>

      <li class="tool-pag-mini__item">
        /
      </li>

      <li class="tool-pag-mini__item" data-toolpag="total">
        <a href="#" class="tool-pag__link">
          10
        </a>
      </li>

      <li class="tool-pag-mini__item" data-toolpag="arrow-right">
        <a href="#" class="tool-pag-mini__link" aria-label="Go to the next page.">
          <svg class="tool-pag-mini__arrow tool-pag-mini__arrow--right" xmlns='http://www.w3.org/2000/svg'
            aria-hidden="true">
            <use href='./img/sprite.svg#arrow' aria-hidden="true"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>