<section class="account-recently-viewed arv" id="account-recently-viewed" data-account> 
  <div class="arv__container container container--40">

    <!-- Account menu -->
    <aside class="arv__account-menu account-menu">
      <div class="account-menu__top">
        <h5 class="account-menu__name">
          Annette Black
        </h5>

        <p class="account-menu__email">
          annetteb@example.com
        </p>

        <button class="account-menu__btn btn btn--mid">
          Account Menu
        </button>
      </div>

      <!-- Links -->
      <ul class="account-menu__links">

        <!-- Item1 -->
        <li class="account-menu__item">
          <a href="/account-my-profile.html" class="account-menu__link">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
              <use href='./img/sprite.svg#person' aria-hidden='true'></use>
            </svg>

            <span class="account-menu__link-name">
              My profile
            </span>
          </a>
        </li>

        <!-- Item2 -->
        <li class="account-menu__item">
          <a href="/account-my-orders.html" class="account-menu__link">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
              <use href='./img/sprite.svg#wallet-2' aria-hidden='true'></use>
            </svg>

            <span class="account-menu__link-name">
              My orders
            </span>
          </a>
        </li>

        <!-- Item3 -->
        <li class="account-menu__item">
          <a href="/account-wishlist.html" class="account-menu__link">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
              <use href='./img/sprite.svg#heart' aria-hidden='true'></use>
            </svg>

            <span class="account-menu__link-name">
              Wishlist
            </span>

            <span class="account-menu__link-count" aria-label="Number of products in wishlist.">
              2
            </span>
          </a>
        </li>

        <!-- Item4 -->
        <li class="account-menu__item">
          <a href="/account-recently-viewed.html" class="account-menu__link account-menu__link--active">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
              <use href='./img/sprite.svg#eye' aria-hidden='true'></use>
            </svg>

            <span class="account-menu__link-name">
              Recently viewed
            </span>
          </a>
        </li>

        <!-- Item5 -->
        <li class="account-menu__item">
          <a href="/account-my-reviews.html" class="account-menu__link">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
              <use href='./img/sprite.svg#star' aria-hidden='true'></use>
            </svg>

            <span class="account-menu__link-name">
              My reviews
            </span>
          </a>
        </li>

        <!-- Item6 -->
        <li class="account-menu__item">
          <a href="#" class="account-menu__link">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
              <use href='./img/sprite.svg#logout' aria-hidden='true'></use>
            </svg>

            <span class="account-menu__link-name">
              Sign out
            </span>
          </a>
        </li>
      </ul>
    </aside>

    <!-- Content -->
    <div class="arv__content">

      <!-- Top -->
      <div class="arv__content-top">
        <h2 class="arv__content-title">
          Recently viewed
        </h2>

        <button class="arv__content-delete">
          <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
            <use href='./img/sprite.svg#bin' aria-hidden='true'></use>
          </svg>

          Delete all
        </button>
      </div>

      <!-- List -->
      <ul class="arv__content-list">

        <!-- Item1 -->
        <li class="arv__content-item">
          <article class="arv__content-product product product--noJs-hover" data-vendor="183264562">

            <!-- Look -->
            <div class="product__look">

              <!-- Microslider -->
              <div class="product__image-wrapper microslider">

                <!-- Image -->
                <img src="./img/product-shorts-1.jpg" alt="Product image."
                  class="product__image microslider__image product__image--main" id="microslider-image">

                <!-- Sources for images -->
                <ul class="microslider__srcs" aria-hidden="true">
                  <li class="microslider__src" data-src="./img/product-bag.jpg"></li>
                  <li class="microslider__src" data-src="./img/product-bag-2.jpg"></li>
                  <li class="microslider__src" data-src="./img/product-bag-3.jpg"></li>
                </ul>

                <!-- Btns for microslider -->
                <div class="microslider__btns">
                  <button class="microslider__button microslider__button--left"
                    aria-label="Previous image of the product.">
                    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                      <use href='./img/sprite.svg#angle-down'></use>
                    </svg>
                  </button>

                  <button class="microslider__button microslider__button--right"
                    aria-label="Next image of the product.">
                    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                      <use href='./img/sprite.svg#angle-down'></use>
                    </svg>
                  </button>
                </div>

                <!-- Link -->
                <a href="#" class="product__image-link"></a>
              </div>

              <!-- Favorite -->
              <button class="product__favorite" aria-label="Add to favorite.">
                <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                  <use href='./img/sprite.svg#heart-full'></use>
                </svg>
              </button>

              <div class="product__discount">
                -20%
              </div>
            </div>

            <!-- Info -->
            <div class="product__info product__info--white">

              <!-- Product name -->
              <a href="#" class="product__name">
                Womans jeans shorts
              </a>

              <!-- Product prices -->
              <div class="product__prices">
                <span class="product__price product__price--red product__price--h4">
                  $20.00
                </span>

                <span class="product__old-price">
                  $24.00
                </span>
              </div>

              <!-- Product bottom -->
              <div class="product__bottom">
                <div class="product__details arv__content-details">

                  <!-- Colors -->
                  <ul class="product__colors colors arv__content-colors">
                    <li class="colors__item">
                      <button class="colors__button colors__button--active" data-color="Black"
                        aria-label="Choose black color."></button>
                    </li>

                    <li class="colors__item">
                      <button class="colors__button" data-color="Brown" aria-label="Choose brown color."></button>
                    </li>

                    <li class="colors__item">
                      <button class="colors__button" data-color="Blue-gray"
                        aria-label="Choose blue-gray color."></button>
                    </li>
                  </ul>
                </div>

                <!-- Button-cart -->
                <div class="product__button-wrapper">
                  <button class="product__button-cart btn btn--mid">
                    <svg xmlns='http://www.w3.org/2000/svg'>
                      <use href='./img/sprite.svg#cart'></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </article>
        </li>

        <!-- Item2 -->
        <li class="arv__content-item">
          <article class="arv__content-product product product--noJs-hover" data-vendor="18326456988">

            <!-- Look -->
            <div class="product__look">

              <!-- Microslider -->
              <div class="product__image-wrapper microslider">

                <!-- Image -->
                <img src="./img/product-coat.jpg" alt="Product image."
                  class="product__image microslider__image product__image--main" id="microslider-image">

                <!-- Sources for images -->
                <ul class="microslider__srcs" aria-hidden="true">
                  <li class="microslider__src" data-src="./img/product-bag.jpg"></li>
                  <li class="microslider__src" data-src="./img/product-bag-2.jpg"></li>
                  <li class="microslider__src" data-src="./img/product-bag-3.jpg"></li>
                </ul>

                <!-- Btns for microslider -->
                <div class="microslider__btns">
                  <button class="microslider__button microslider__button--left"
                    aria-label="Previous image of the product.">
                    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                      <use href='./img/sprite.svg#angle-down'></use>
                    </svg>
                  </button>

                  <button class="microslider__button microslider__button--right"
                    aria-label="Next image of the product.">
                    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                      <use href='./img/sprite.svg#angle-down'></use>
                    </svg>
                  </button>
                </div>

                <!-- Link -->
                <a href="#" class="product__image-link"></a>
              </div>

              <!-- Favorite -->
              <button class="product__favorite" aria-label="Add to favorite.">
                <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                  <use href='./img/sprite.svg#heart-full'></use>
                </svg>
              </button>
            </div>

            <!-- Info -->
            <div class="product__info product__info--white">

              <!-- Product name -->
              <a href="#" class="product__name">
                Check coat with colour contrast
              </a>

              <!-- Product prices -->
              <div class="product__prices">
                <span class="product__price product__price--red product__price--h4">
                  $183.45
                </span>
              </div>

              <!-- Product bottom -->
              <div class="product__bottom">
                <div class="product__details arv__content-details">

                  <!-- Colors -->
                  <ul class="product__colors colors arv__content-colors">
                    <li class="colors__item">
                      <button class="colors__button colors__button--active" data-color="Black"
                        aria-label="Choose black color."></button>
                    </li>

                    <li class="colors__item">
                      <button class="colors__button" data-color="Brown" aria-label="Choose brown color."></button>
                    </li>

                    <li class="colors__item">
                      <button class="colors__button" data-color="Blue-gray"
                        aria-label="Choose blue-gray color."></button>
                    </li>
                  </ul>
                </div>

                <!-- Button-cart -->
                <div class="product__button-wrapper">
                  <button class="product__button-cart btn btn--mid">
                    <svg xmlns='http://www.w3.org/2000/svg'>
                      <use href='./img/sprite.svg#cart'></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </article>
        </li>

        <!-- Item3 -->
        <li class="arv__content-item">
          <article class="arv__content-product product product--noJs-hover" data-vendor="183260555">

            <!-- Look -->
            <div class="product__look">

              <!-- Microslider -->
              <div class="product__image-wrapper microslider">

                <!-- Image -->
                <img src="./img/product-shirt.jpg" alt="Product image."
                  class="product__image microslider__image product__image--main" id="microslider-image">

                <!-- Sources for images -->
                <ul class="microslider__srcs" aria-hidden="true">
                  <li class="microslider__src" data-src="./img/product-bag.jpg"></li>
                  <li class="microslider__src" data-src="./img/product-bag-2.jpg"></li>
                  <li class="microslider__src" data-src="./img/product-bag-3.jpg"></li>
                </ul>

                <!-- Btns for microslider -->
                <div class="microslider__btns">
                  <button class="microslider__button microslider__button--left"
                    aria-label="Previous image of the product.">
                    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                      <use href='./img/sprite.svg#angle-down'></use>
                    </svg>
                  </button>

                  <button class="microslider__button microslider__button--right"
                    aria-label="Next image of the product.">
                    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                      <use href='./img/sprite.svg#angle-down'></use>
                    </svg>
                  </button>
                </div>

                <!-- Link -->
                <a href="#" class="product__image-link"></a>
              </div>

              <!-- Rating -->
              <div class="product__rating">
                <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                  aria-label="Star for rating one.">
                  <use href='./img/sprite.svg#star2'></use>
                </svg>

                <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                  aria-label="Star for rating two.">
                  <use href='./img/sprite.svg#star2'></use>
                </svg>

                <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                  aria-label="Star for rating three.">
                  <use href='./img/sprite.svg#star2'></use>
                </svg>

                <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                  aria-label="Star for rating four.">
                  <use href='./img/sprite.svg#star2'></use>
                </svg>

                <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                  aria-label="Star for rating five.">
                  <use href='./img/sprite.svg#star2'></use>
                </svg>
              </div>

              <!-- Favorite -->
              <button class="product__favorite" aria-label="Add to favorite.">
                <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                  <use href='./img/sprite.svg#heart-full'></use>
                </svg>
              </button>
            </div>

            <!-- Info -->
            <div class="product__info product__info--white">

              <!-- Product name -->
              <a href="#" class="product__name">
                Shirt with insertion lace trims
              </a>

              <!-- Product prices -->
              <div class="product__prices">
                <span class="product__price product__price--h4">
                  $49.95
                </span>
              </div>

              <!-- Product bottom -->
              <div class="product__bottom arv__content-bottom">
                <div class="product__details arv__content-details">

                  <!-- Sizes -->
                  <ul class="product__sizes sizes">
                    <li class="sizes__item">
                      <button class="sizes__button">
                        36
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button sizes__button--active">
                        37
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        42
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        43
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        44
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        45
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        46
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        47
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        48
                      </button>
                    </li>
                  </ul>

                  <!-- Colors -->
                  <ul class="product__colors colors arv__content-colors">
                    <li class="colors__item">
                      <button class="colors__button colors__button--active" data-color="Black"
                        aria-label="Choose black color."></button>
                    </li>

                    <li class="colors__item">
                      <button class="colors__button" data-color="Brown" aria-label="Choose brown color."></button>
                    </li>

                    <li class="colors__item">
                      <button class="colors__button" data-color="Blue-gray"
                        aria-label="Choose blue-gray color."></button>
                    </li>
                  </ul>
                </div>

                <!-- Button-cart -->
                <div class="product__button-wrapper">
                  <button class="product__button-cart btn btn--mid">
                    <svg xmlns='http://www.w3.org/2000/svg'>
                      <use href='./img/sprite.svg#cart'></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </article>
        </li>

        <!-- Item4 -->
        <li class="arv__content-item">
          <article class="arv__content-product product product--noJs-hover" data-vendor="18326669952">

            <!-- Look -->
            <div class="product__look">

              <!-- Microslider -->
              <div class="product__image-wrapper microslider">

                <!-- Image -->
                <img src="./img/product-watch.jpg" alt="Product image."
                  class="product__image microslider__image product__image--main" id="microslider-image">

                <!-- Sources for images -->
                <ul class="microslider__srcs" aria-hidden="true">
                  <li class="microslider__src" data-src="./img/product-bag.jpg"></li>
                  <li class="microslider__src" data-src="./img/product-bag-2.jpg"></li>
                  <li class="microslider__src" data-src="./img/product-bag-3.jpg"></li>
                </ul>

                <!-- Btns for microslider -->
                <div class="microslider__btns">
                  <button class="microslider__button microslider__button--left"
                    aria-label="Previous image of the product.">
                    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                      <use href='./img/sprite.svg#angle-down'></use>
                    </svg>
                  </button>

                  <button class="microslider__button microslider__button--right"
                    aria-label="Next image of the product.">
                    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                      <use href='./img/sprite.svg#angle-down'></use>
                    </svg>
                  </button>
                </div>

                <!-- Link -->
                <a href="#" class="product__image-link"></a>
              </div>

              <!-- Rating -->
              <div class="product__rating">
                <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                  aria-label="Star for rating one.">
                  <use href='./img/sprite.svg#star2'></use>
                </svg>

                <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                  aria-label="Star for rating two.">
                  <use href='./img/sprite.svg#star2'></use>
                </svg>

                <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                  aria-label="Star for rating three.">
                  <use href='./img/sprite.svg#star2'></use>
                </svg>

                <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                  aria-label="Star for rating four.">
                  <use href='./img/sprite.svg#star2'></use>
                </svg>

                <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg'
                  aria-label="Star for rating five.">
                  <use href='./img/sprite.svg#star2'></use>
                </svg>
              </div>

              <!-- Favorite -->
              <button class="product__favorite" aria-label="Add to favorite.">
                <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                  <use href='./img/sprite.svg#heart-full'></use>
                </svg>
              </button>
            </div>

            <!-- Info -->
            <div class="product__info product__info--white">

              <!-- Product name -->
              <a href="#" class="product__name">
                Chrono watch with blue leather belt
              </a>

              <!-- Product prices -->
              <div class="product__prices">
                <span class="product__price product__price--h4">
                  $120.60
                </span>
              </div>

              <!-- Product bottom -->
              <div class="product__bottom arv__content-bottom">
                <div class="product__details arv__content-details">

                  <!-- Sizes -->
                  <ul class="product__sizes sizes">
                    <li class="sizes__item">
                      <button class="sizes__button">
                        36
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button sizes__button--active">
                        37
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        42
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        43
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        44
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        45
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        46
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        47
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        48
                      </button>
                    </li>
                  </ul>

                  <!-- Colors -->
                  <ul class="product__colors colors arv__content-colors">
                    <li class="colors__item">
                      <button class="colors__button colors__button--active" data-color="Black"
                        aria-label="Choose black color."></button>
                    </li>

                    <li class="colors__item">
                      <button class="colors__button" data-color="Brown" aria-label="Choose brown color."></button>
                    </li>

                    <li class="colors__item">
                      <button class="colors__button" data-color="Blue-gray"
                        aria-label="Choose blue-gray color."></button>
                    </li>
                  </ul>
                </div>

                <!-- Button-cart -->
                <div class="product__button-wrapper">
                  <button class="product__button-cart btn btn--mid">
                    <svg xmlns='http://www.w3.org/2000/svg'>
                      <use href='./img/sprite.svg#cart'></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>