<section class="banners">
  <div class="banners__container container-wide">

    <!-- Banner 1 -->
    <div class="banners__banner banner-1">
      <span class="banners__subtitle">
        Summer Collections
      </span>

      <h2 class="banners__title">
        Sale Up to 70%
      </h2>

      <a href="#" class="banner-1__button btn btn--mid btn--outline">
        Explore new prices
      </a>
    </div>

    <!-- Banner 2 -->
    <div class="banners__banner banner-2">
      <span class="banners__subtitle">
        Deal of the week
      </span>

      <h2 class="banners__title banner-2__title">
        Stay Warm With Our New Sweaters
      </h2>

      <a href="#" class="banner-2__button btn btn--mid btn--outline">
        Shop now
      </a>

      <span class="banners__subtitle">
        Limited time offer
      </span>
      
      <div class="banner__timer timer" id="timer">
        <div class="timer__box">
          <span class="timer__count">
            06
          </span>

          <span class="timer__text">
            Days
          </span>
        </div>

        <div class="timer__box">
          <span class="timer__count">
            18
          </span>

          <span class="timer__text">
            Hours
          </span>
        </div>

        <div class="timer__box">
          <span class="timer__count">
            24
          </span>

          <span class="timer__text">
            Mins
          </span>
        </div>

        <div class="timer__box">
          <span class="timer__count">
            12
          </span>

          <span class="timer__text">
            Sec
          </span>
        </div>
      </div>
    </div>

    <!-- Banner 3 -->
    <div class="banners__banner banner-3">
      <span class="banners__subtitle">
        New collection
      </span>

      <h2 class="banners__title banner-3__title">
        Shoes &amp;&nbsp;Bags autumn&nbsp;/ winter 2020
      </h2>

      <a href="#" class="banners__button btn btn--mid btn--outline">
        See offers

        <svg xmlns='http://www.w3.org/2000/svg'>
          <use href='./img/sprite.svg#arrow'></use>
        </svg>
      </a>
    </div>

    <!-- Banner 4 -->
    <div class="banners__banner banner-4">
      <span class="banners__subtitle">
        For All new Email Subscribers
      </span>

      <h2 class="banners__title banner-4__title">
        Get&nbsp;5% Off &amp;&nbsp;Free Delivery
      </h2>

      <form class="banners__form email-form">
        <label for="email-form-input" class="email-form__label">
          Email
        </label>

        <div class="email-form__field">
          <input type="email" class="email-form__input input" id="email-form-input" placeholder="Your working email">

          <button class="email-form__button btn btn--mid banner-4__button">
            Subscribe
          </button>
        </div>
      </form>

      <p class="banners__details">
        *Sign up&nbsp;to&nbsp;be&nbsp;the first to&nbsp;hear about exclusive deals, special offers and upcoming collections.
      </p>
    </div>
  </div>
</section>