<section class="brands">
  <div class="brands__container container" id="brands-slider">
    <div class="brands__wrapper swiper-wrapper">
      <a href="#" class="brands__brand swiper-slide">
        <img src="./img/brands-inDepthConsulting.png" alt="Brand image." class="brands__image">
      </a>
  
      <a href="#" class="brands__brand swiper-slide">
        <img src="./img/brands-higherFit.png" alt="Brand image." class="brands__image">
      </a>
  
      <a href="#" class="brands__brand swiper-slide">
        <img src="./img/brands-sentinalConsulting.png" alt="Brand image." class="brands__image">
      </a>
  
      <a href="#" class="brands__brand swiper-slide">
        <img src="./img/brands-national.png" alt="Brand image." class="brands__image">
      </a>
  
      <a href="#" class="brands__brand swiper-slide">
        <img src="./img/brands-forSale.png" alt="Brand image." class="brands__image">
      </a>
  
      <a href="#" class="brands__brand swiper-slide">
        <img src="./img/brands-delMarStrategy.png" alt="Brand image." class="brands__image">
      </a>
    </div>
  </div>
</section>