<section class="brands">
  <div class="brands__container container" id="brands-slider">
    <div class="brands__wrapper swiper-wrapper">
      <a href="#" class="brands__brand swiper-slide">
        <img src="./img/brands-inDepthConsulting.jpg" alt="Brand image." class="brands__image">
      </a>
  
      <a href="#" class="brands__brand swiper-slide">
        <img src="./img/brands-higherFit.jpg" alt="Brand image." class="brands__image">
      </a>
  
      <a href="#" class="brands__brand swiper-slide">
        <img src="./img/brands-sentinalConsulting.jpg" alt="Brand image." class="brands__image">
      </a>
  
      <a href="#" class="brands__brand swiper-slide">
        <img src="./img/brands-national.jpg" alt="Brand image." class="brands__image">
      </a>
  
      <a href="#" class="brands__brand swiper-slide">
        <img src="./img/brands-forSale.jpg" alt="Brand image." class="brands__image">
      </a>
  
      <a href="#" class="brands__brand swiper-slide">
        <img src="./img/brands-delMarStrategy.jpg" alt="Brand image." class="brands__image">
      </a>
    </div>
  </div>
</section>