<section class="checkout">
  <form class="checkout__container container container--40">

    <!-- Left -->
    <div class="checkout__left">

      <!-- Checkout head -->
      <div class="checkout__head head">

        <!-- Checkout header-top -->
        <div class="head__top">
          <h1 class="head__top-title section-title">
            Checkout
          </h1>

          <a href="#" class="head__top-back">
            Back to shopping
          </a>
        </div>

        <!-- Checkout header-bottom -->
        <div class="head__bottom">
          <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
            <use href='./img/sprite.svg#person' aria-hidden='true'></use>
          </svg>

          <span class="head__bottom-text">
            Already have an account?

            <button class="head__bottom-btn">Sign in</button>

            for faster checkout experience
          </span>
        </div>
      </div>

      <!-- Checkout list -->
      <ul class="checkout__list">

        <!-- Checkout item1(Item review) -->
        <li class="checkout__list-item">
          <h4 class="checkout__list-title">
            1. Item Review
          </h4>

          <!-- Checkout products -->
          <div class="checkout__products">
            <ul class="checkout__products-list"></ul>

            <span class="checkout__products-subtotal">
              Subtotal:

              <span class="checkout__products-subtotal-count"></span>
            </span>
          </div>
        </li>

        <!-- Checkout item2(billing) -->
        <li class="checkout__list-item">
          <h4 class="checkout__list-title">
            2. Shipping & Billing Address
          </h4>

          <!-- Checkout billing -->
          <div class="checkout__billing">

            <!-- Fields -->
            <div class="checkout__billing-fields">

              <!-- Field1 -->
              <div class="checkout__billing-field">
                <label for="checkout-billing-first-name" class="checkout__billing-label">
                  First Name
                </label>

                <div class="input-wrapper">
                  <input type="text" class="checkout__billing-input input" id="checkout-billing-first-name"
                    name="checkout-billing-first-name" placeholder="Your first name">
                </div>
              </div>

              <!-- Field2 -->
              <div class="checkout__billing-field">
                <label for="checkout-billing-last-name" class="checkout__billing-label">
                  Last Name
                </label>

                <div class="input-wrapper">
                  <input type="text" class="checkout__billing-input input" id="checkout-billing-last-name"
                    name="checkout-billing-last-name" placeholder="Your last name">
                </div>
              </div>

              <!-- Field3 -->
              <div class="checkout__billing-field">
                <label for="checkout-billing-email" class="checkout__billing-label">
                  Email
                </label>

                <div class="input-wrapper" data-validty="email">
                  <input type="email" class="checkout__billing-input input" id="checkout-billing-email"
                    name="checkout-billing-email" placeholder="Your working email">
                </div>
              </div>

              <!-- Field4 -->
              <div class="checkout__billing-field">
                <label for="checkout-billing-phone" class="checkout__billing-label">
                  Phone
                </label>

                <div class="input-wrapper">
                  <input type="text" class="checkout__billing-input input" id="checkout-billing-phone"
                    name="checkout-billing-phone" placeholder="Your phone number">
                </div>
              </div>

              <!-- Field5 -->
              <div class="checkout__billing-field">
                <label for="" class="checkout__billing-label">
                  Country
                </label>

                <div class="custom-select__outer-wrapper checkout__billing-select-outer-wrapper">
                  <div class="custom-select custom-select--light checkout__billing-sort-select" role="listbox"
                    tabindex="0">
                    <input type="hidden" class="checkout__billing-select-hidden" name="checkout-billing-select-hidden">

                    <div class="custom-select__head custom-select__head--light checkout__billing-sort-head">
                      <span class="custom-select__selected checkout__billing-sort-selected">
                        Choose your country
                      </span>

                      <svg class="custom-select__icon" xmlns='http://www.w3.org/2000/svg'>
                        <use href='./img/sprite.svg#angle-down'></use>
                      </svg>
                    </div>

                    <div class="custom-select__inner-wrapper checkout__billing-sort-wrapper">
                      <ul class="custom-select__list checkout__billing-sort-list" data-overlayscrollbars-initialize>
                        <li class="custom-select__item custom-select__item--active checkout__billing-sort-item">
                          Choose your country
                        </li>

                        <li class="custom-select__item checkout__billing-sort-item">
                          Russia
                        </li>

                        <li class="custom-select__item checkout__billing-sort-item">
                          Nepal
                        </li>

                        <li class="custom-select__item checkout__billing-sort-item">
                          Peru
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Field6 -->
              <div class="checkout__billing-field">
                <label for="" class="checkout__billing-label">
                  City
                </label>

                <div class="custom-select__outer-wrapper checkout__billing-select-outer-wrapper">
                  <div class="custom-select custom-select--light checkout__billing-sort-select" role="listbox"
                    tabindex="0">
                    <input type="hidden" class="checkout__billing-select-hidden" name="checkout-billing-select-hidden">

                    <div class="custom-select__head custom-select__head--light checkout__billing-sort-head">
                      <span class="custom-select__selected checkout__billing-sort-selected">
                        Choose your city
                      </span>

                      <svg class="custom-select__icon" xmlns='http://www.w3.org/2000/svg'>
                        <use href='./img/sprite.svg#angle-down'></use>
                      </svg>
                    </div>

                    <div class="custom-select__inner-wrapper checkout__billing-sort-wrapper">
                      <ul class="custom-select__list checkout__billing-sort-list" data-overlayscrollbars-initialize>
                        <li class="custom-select__item custom-select__item--active checkout__billing-sort-item">
                          Choose your city
                        </li>

                        <li class="custom-select__item checkout__billing-sort-item">
                          Moscow
                        </li>

                        <li class="custom-select__item checkout__billing-sort-item">
                          Delhi
                        </li>

                        <li class="custom-select__item checkout__billing-sort-item">
                          Beijing
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Field7 -->
              <div class="checkout__billing-field">
                <label for="checkout-billing-address" class="checkout__billing-label">
                  Address
                </label>

                <div class="input-wrapper">
                  <input type="text" class="checkout__billing-input input" id="checkout-billing-address"
                    name="checkout-billing-address" placeholder="Your address">
                </div>
              </div>

              <!-- Field8 -->
              <div class="checkout__billing-field">
                <label for="checkout-billing-zip" class="checkout__billing-label">
                  ZIP Code
                </label>

                <div class="input-wrapper">
                  <input type="text" class="checkout__billing-input input" id="checkout-billing-zip"
                    name="checkout-billing-zip" placeholder="Your ZIP code">
                </div>
              </div>
            </div>

            <!-- Checking -->
            <label class="checkout__billing-checking">
              <label class="checkout__billing-checkbox custom-checkbox custom-checkbox--checked" tabindex="0"
                role="checkbox" aria-checked="true">
                <svg xmlns='http://www.w3.org/2000/svg'>
                  <use href='./img/sprite.svg#check'></use>
                </svg>

                <input type="hidden" name="checkout-billing-checkbox" value="0">
                <input type="checkbox" class="custom-checkbox__input" name="checkout-billing-checkbox" value="1"
                  checked>
              </label>

              <span class="checkout__billing-checktext">
                Billing and Shipping details are the same
              </span>
            </label>
          </div>
        </li>

        <!-- Checkout item3(Method) -->
        <li class="checkout__list-item">
          <h4 class="checkout__list-title">
            3. Shipping Method
          </h4>

          <!-- Checkout method -->
          <ul class="checkout__method">

            <!-- Box1 -->
            <li class="checkout__method-box">
              <label class="checkout__method-radio custom-radio custom-radio--checked" role="radiogroup" tabindex="0"
                aria-checked="true">
                <input type="radio" name="checkout-method-radio" hidden checked>
              </label>

              <div class="checkout__method-info">
                <span class="checkout__method-destination">
                  Courier to your address
                </span>

                <span class="checkout__method-date">
                  Estimated date: September 9
                </span>
              </div>

              <span class="checkout__method-price">
                $25.00
              </span>
            </li>

            <!-- Box2 -->
            <li class="checkout__method-box">
              <label class="checkout__method-radio custom-radio" role="radiogroup" tabindex="0" aria-checked="false">
                <input type="radio" name="checkout-method-radio" hidden>
              </label>

              <div class="checkout__method-info">
                <span class="checkout__method-destination">
                  Pick up from store
                </span>

                <span class="checkout__method-date">
                  Pick up on September 8 from 12:00
                </span>
              </div>

              <span class="checkout__method-price">
                Free
              </span>
            </li>

            <!-- Box3 -->
            <li class="checkout__method-box">
              <label class="checkout__method-radio custom-radio" role="radiogroup" tabindex="0" aria-checked="false">
                <input type="radio" name="checkout-method-radio" hidden>
              </label>

              <div class="checkout__method-info">
                <span class="checkout__method-destination">
                  UPS Ground Shipping
                </span>

                <span class="checkout__method-date">
                  Up to one week
                </span>
              </div>

              <span class="checkout__method-price">
                $10.00
              </span>
            </li>

            <!-- Box4 -->
            <li class="checkout__method-box">
              <label class="checkout__method-radio custom-radio" role="radiogroup" tabindex="0" aria-checked="false">
                <input type="radio" name="checkout-method-radio" hidden>
              </label>

              <div class="checkout__method-info">
                <span class="checkout__method-destination">
                  Pick up at Createx Locker
                </span>

                <span class="checkout__method-date">
                  Pick up on September 8 from 12:00
                </span>
              </div>

              <span class="checkout__method-price">
                $8.50
              </span>
            </li>

            <!-- Box5 -->
            <li class="checkout__method-box">
              <label class="checkout__method-radio custom-radio" role="radiogroup" tabindex="0" aria-checked="false">
                <input type="radio" name="checkout-method-radio" hidden>
              </label>

              <div class="checkout__method-info">
                <span class="checkout__method-destination">
                  Createx Global Export
                </span>

                <span class="checkout__method-date">
                  3-4 days
                </span>
              </div>

              <span class="checkout__method-price">
                $15.00
              </span>
            </li>
          </ul>
        </li>

        <!-- Checkout item4(Payment) -->
        <li class="checkout__list-item">
          <h4 class="checkout__list-title">
            4. Payment Method
          </h4>

          <!-- Checkout payment -->
          <ul class="checkout__payment">

            <!-- Box1(Credit card) -->
            <li class="checkout__payment-box">

              <!-- Box top -->
              <div class="checkout__payment-top checkout__payment-top--init">
                <label class="checkout__payment-radio custom-radio custom-radio--checked" role="radiogroup" tabindex="0"
                  aria-checked="true">
                  <input type="radio" name="checkout-payment-radio" hidden checked>
                </label>

                <span class="checkout__payment-name">
                  Credit card
                </span>

                <div class="checkout__payment-icon checkout__payment-icon--visa" aria-hidden="true"></div>
                <div class="checkout__payment-icon checkout__payment-icon--mastercard" aria-hidden="true"></div>
              </div>

              <!-- Box bottom -->
              <div class="checkout__payment-bottom">
                <div class="checkout__payment-bottom-wrapper">
                  <div class="checkout__payment-field">
                    <label for="checkout-payment-number" class="checkout__payment-label">
                      Card number
                    </label>

                    <input type="text" class="checkout__payment-input input" id="checkout-payment-number"
                      name="checkout-payment-number" placeholder="0000 0000 0000 0000">
                  </div>

                  <div class="checkout__payment-field">
                    <label for="checkout-payment-date" class="checkout__payment-label">
                      Expiry date
                    </label>

                    <input type="text" class="checkout__payment-input input" id="checkout-payment-date"
                      name="checkout-payment-date" placeholder="mm/yy">
                  </div>

                  <div class="checkout__payment-field">
                    <label for="checkout-payment-cvc" class="checkout__payment-label">
                      CVC
                    </label>

                    <input type="password" class="checkout__payment-input input" id="checkout-payment-cvc"
                      name="checkout-payment-cvc" placeholder="000" maxlength="3">
                  </div>
                </div>
              </div>
            </li>

            <!-- Box2(PayPal) -->
            <li class="checkout__payment-box">

              <!-- Box top -->
              <div class="checkout__payment-top">
                <label class="checkout__payment-radio custom-radio" role="radiogroup" tabindex="0" aria-checked="false">
                  <input type="radio" name="checkout-payment-radio" hidden>
                </label>

                <span class="checkout__payment-name">
                  PayPal
                </span>

                <div class="checkout__payment-icon checkout__payment-icon--paypal" aria-hidden="true"></div>
              </div>

              <!-- Box bottom -->
              <div class="checkout__payment-bottom checkout__payment-bottom--pt24">
                <div class="checkout__payment-bottom-wrapper">
                  <a href="#" class="checkout__payment-btn checkout__payment-btn--regular"
                    aria-label="Pay with Paypal."></a>

                  <a href="#" class="checkout__payment-btn checkout__payment-btn--credit"
                    aria-label="Pay with Paypal Credit."></a>
                </div>
              </div>
            </li>

            <!-- Box3(Cash) -->
            <li class="checkout__payment-box">

              <!-- Box top -->
              <div class="checkout__payment-top">
                <label class="checkout__payment-radio custom-radio" role="radiogroup" tabindex="0" aria-checked="false">
                  <input type="radio" name="checkout-payment-radio" hidden>
                </label>

                <span class="checkout__payment-name">
                  Cash on delivery
                </span>
              </div>

              <!-- Box bottom -->
              <div class="checkout__payment-bottom">
                <div class="checkout__payment-bottom-wrapper">
                  <span class="checkout__payment-cash">
                    You have selected to pay with cash upon delivery.
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </li>

        <!-- Checkout item5(Additional) -->
        <li class="checkout__list-item">
          <h4 class="checkout__list-title">
            5. Additional Information (Optional)
          </h4>

          <label for="checkout-additional-textarea" class="checkout__additional-label">
            Order notes
          </label>

          <textarea class="checkout__additional-textarea input" name="checkout-additional-textarea"
            id="checkout-additional-textarea"
            placeholder="Notes about your order, e.g. special noted for delivery."></textarea>
        </li>
      </ul>
    </div>

    <!-- Right -->
    <div class="checkout__right">

      <!-- Content -->
      <div class="checkout__right-wrapper">

        <!-- Promo -->
        <div class="checkout__promo">
          <label class="checkout__promo-label" for="checkout-promo-input">
            Apply a promo code
          </label>

          <div class="checkout__promo-field">
            <input type="text" class="checkout__promo-input input" name="checkout-promo-input" id="checkout-promo-input"
              placeholder="Enter promo code">

            <button type="button" class="checkout__promo-btn btn btn--lg">
              Apply
            </button>
          </div>
        </div>

        <!-- Totals -->
        <div class="checkout__totals">
          <h4 class="checkout__totals-title">
            Order totals
          </h4>

          <ul class="checkout__totals-info">
            <li class="checkout__totals-item checkout__totals-item--subtotal">
              <span class="checkout__totals-name">
                Subtotal:
              </span>

              <span class="checkout__totals-sum" data-totals="subtotal">
                —
              </span>
            </li>

            <li class="checkout__totals-item">
              <span class="checkout__totals-name">
                Shipping costs:
              </span>

              <span class="checkout__totals-sum" data-totals="shipping">
                $25.00
              </span>
            </li>

            <li class="checkout__totals-item">
              <span class="checkout__totals-name">
                Discount:
              </span>

              <span class="checkout__totals-sum" data-totals="discount">
                —
              </span>
            </li>

            <li class="checkout__totals-item">
              <span class="checkout__totals-name">
                Estimated sales tax:
              </span>

              <span class="checkout__totals-sum" data-totals="tax">
                —
              </span>
            </li>
          </ul>

          <div class="checkout__totals-total">
            <span class="checkout__totals-total-name">
              Order total:
            </span>

            <span class="checkout__totals-total-sum">
              —
            </span>
          </div>
        </div>

        <!-- Complete -->
        <button type="submit" class="checkout__complete btn btn--lg btn--disabled">
          Complete order
        </button>
      </div>
    </div>
  </form>
</section>