<section class="comments">
  <div class="comments__container container container--narrow">
    <h1 class="comments__title section-title">
      4 comments
    </h1>

    <div class="comments__comment review">

      <!-- Review1 -->
      <div class="review__box comments__comment-box">
        <div class="review__user">
          <span class="review__user-name">
            Devon Lane
          </span>

          <span class="review__user-date">
            July 15, 2020
          </span>
        </div>

        <div class="review__message">
          <p class="review__message-text comments__comment-text">
            Phasellus varius faucibus ultrices odio in. Massa neque dictum natoque ornare rutrum malesuada et
            phasellus. Viverra natoque nulla cras vel nisl proin senectus. Tortor sed eleifend ante tristique
            felis
            sed urna aliquet. Suspendisse fames egestas sed duis purus diam et.
          </p>

          <div class="review__message-tooltips">
            <a href="#leave-your-comment" class="review__message-reply">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
                <use href='./img/sprite.svg#reply' aria-hidden='true'></use>
              </svg>

              Reply
            </a>
          </div>
        </div>
      </div>

      <!-- Review2 -->
      <div class="review__box comments__comment-box">
        <div class="review__user comments__comment-user">
          <span class="review__user-name">
            Annette Black
          </span>

          <span class="review__user-date">
            1 day ago
          </span>
        </div>

        <div class="review__message comments__comment-message">
          <p class="review__message-text">
            <a href="#" class="review__message-link">
              @Devon Lane
            </a>

            <span>
              Egestas fermentum natoque sollicitudin mauris. Facilisis praesent urna sed rhoncus quis pharetra
              pellentesque erat sagittis.
            </span>
          </p>

          <div class="review__message-tooltips">
            <a href="#leave-your-comment" class="review__message-reply">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
                <use href='./img/sprite.svg#reply' aria-hidden='true'></use>
              </svg>

              Reply
            </a>
          </div>
        </div>
      </div>

      <!-- Review3 -->
      <div class="review__box comments__comment-box">
        <div class="review__user comments__comment-user">
          <span class="review__user-name">
            Albert Flores
          </span>

          <span class="review__user-date">
            July 7, 2020
          </span>
        </div>

        <div class="review__message comments__comment-message">
          <p class="review__message-text">
            Libero commodo sit dui ac proin. Penatibus ultricies at adipiscing mauris nunc. Fames faucibus nisl
            duis id diam.
          </p>

          <div class="review__message-tooltips">
            <a href="#leave-your-comment" class="review__message-reply">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
                <use href='./img/sprite.svg#reply' aria-hidden='true'></use>
              </svg>

              Reply
            </a>
          </div>
        </div>
      </div>

      <!-- Review4 -->
      <div class="review__box comments__comment-box">
        <div class="review__user comments__comment-user">
          <span class="review__user-name">
            Marvin McKinney
          </span>

          <span class="review__user-date">
            June 28, 2020
          </span>
        </div>

        <div class="review__message comments__comment-message">
          <p class="review__message-text">
            Ullamcorper nibh sed ac ipsum nunc imperdiet rhoncus. Quam donec habitant nibh sit consequat erat
            libero, tincidunt. Eros ut aliquam proin et duis. Mauris, egestas congue nibh dui a nulla.
          </p>

          <div class="review__message-tooltips">
            <a href="#leave-your-comment" class="review__message-reply">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
                <use href='./img/sprite.svg#reply' aria-hidden='true'></use>
              </svg>

              Reply
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>