<section class="complete-look">
  <div class="complete-look__container container">

    <!-- Title -->
    <h1 class="complete-look__title section-title">
      Complete your look
    </h1>

    <!-- Content -->
    <div class="complete-look__content">

      <!-- Image -->
      <div class="complete-look__image-wrapper">
        <img src="./img/complete-look-1.jpg" alt="Image for section 'Complete look'." class="complete-look__image">
      </div>

      <!-- Slider -->
      <div class="complete-look__slider-wrapper">
        <div class="complete-look__slider" id="complete-look-slider">
          <div class="complete-look__wrapper swiper-wrapper">

            <!-- Slide1 -->
            <div class="complete-look__slide swiper-slide">
              <article class="complete-look__product product swiper-slide" data-vendor="1832600989">
                <div class="product__look">
                  <div class="product__image-wrapper microslider">
                    <img src="./img/product-sandals-1.jpg" alt="Product image."
                      class="product__image microslider__image product__image--main" id="microslider-image">

                    <ul class="microslider__srcs" aria-hidden="true">
                      <li class="microslider__src" data-src="./img/product-bag.jpg"></li>
                      <li class="microslider__src" data-src="./img/product-bag-2.jpg"></li>
                      <li class="microslider__src" data-src="./img/product-bag-3.jpg"></li>
                    </ul>

                    <div class="microslider__btns">
                      <button class="microslider__button microslider__button--left"
                        aria-label="Previous image of the product.">
                        <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                          <use href='./img/sprite.svg#angle-down'></use>
                        </svg>
                      </button>

                      <button class="microslider__button microslider__button--right"
                        aria-label="Next image of the product.">
                        <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                          <use href='./img/sprite.svg#angle-down'></use>
                        </svg>
                      </button>
                    </div>

                    <a href="#" class="product__image-link"></a>
                  </div>

                  <div class="product__rating product__rating--visible">
                    <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                      aria-label="Star for rating one.">
                      <use href='./img/sprite.svg#star2'></use>
                    </svg>

                    <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                      aria-label="Star for rating two.">
                      <use href='./img/sprite.svg#star2'></use>
                    </svg>

                    <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                      aria-label="Star for rating three.">
                      <use href='./img/sprite.svg#star2'></use>
                    </svg>

                    <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                      aria-label="Star for rating four.">
                      <use href='./img/sprite.svg#star2'></use>
                    </svg>

                    <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                      aria-label="Star for rating five.">
                      <use href='./img/sprite.svg#star2'></use>
                    </svg>
                  </div>

                  <button class="product__favorite" aria-label="Add to favorite.">
                    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                      <use href='./img/sprite.svg#heart-full'></use>
                    </svg>
                  </button>
                </div>

                <div class="product__info product__info--white">
                  <a href="#" class="product__name">
                    Leather sandals
                  </a>

                  <div class="product__prices">
                    <span class="product__price product__price--h4 complete-look__price">
                      $48.00
                    </span>
                  </div>

                  <div class="product__bottom">
                    <div class="product__details">
                      <ul class="product__sizes sizes">
                        <li class="sizes__item">
                          <button class="sizes__button">
                            36
                          </button>
                        </li>

                        <li class="sizes__item">
                          <button class="sizes__button sizes__button--active">
                            37
                          </button>
                        </li>

                        <li class="sizes__item">
                          <button class="sizes__button">
                            42
                          </button>
                        </li>

                        <li class="sizes__item">
                          <button class="sizes__button">
                            43
                          </button>
                        </li>

                        <li class="sizes__item">
                          <button class="sizes__button">
                            44
                          </button>
                        </li>

                        <li class="sizes__item">
                          <button class="sizes__button">
                            45
                          </button>
                        </li>

                        <li class="sizes__item">
                          <button class="sizes__button">
                            46
                          </button>
                        </li>

                        <li class="sizes__item">
                          <button class="sizes__button">
                            47
                          </button>
                        </li>


                        <li class="sizes__item">
                          <button class="sizes__button">
                            48
                          </button>
                        </li>
                      </ul>

                      <ul class="product__colors colors">
                        <li class="colors__item">
                          <button class="colors__button colors__button--active" data-color="Black"
                            aria-label="Choose black color."></button>
                        </li>

                        <li class="colors__item">
                          <button class="colors__button" data-color="Brown" aria-label="Choose brown color."></button>
                        </li>

                        <li class="colors__item">
                          <button class="colors__button" data-color="Blue-gray"
                            aria-label="Choose blue-gray color."></button>
                        </li>
                      </ul>
                    </div>

                    <div class="product__button-wrapper">
                      <button class="product__button-cart btn btn--mid">
                        <svg xmlns='http://www.w3.org/2000/svg'>
                          <use href='./img/sprite.svg#cart'></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </article>
            </div>

            <!-- Slide2 -->
            <div class="complete-look__slide swiper-slide">
              <article class="complete-look__product product swiper-slide" data-vendor="1832600115">
                <div class="product__look">
                  <div class="product__image-wrapper microslider">
                    <img src="./img/product-watch.jpg" alt="Product image."
                      class="product__image microslider__image product__image--main" id="microslider-image">

                    <ul class="microslider__srcs" aria-hidden="true">
                      <li class="microslider__src" data-src="./img/product-bag.jpg"></li>
                      <li class="microslider__src" data-src="./img/product-bag-2.jpg"></li>
                      <li class="microslider__src" data-src="./img/product-bag-3.jpg"></li>
                    </ul>

                    <div class="microslider__btns">
                      <button class="microslider__button microslider__button--left"
                        aria-label="Previous image of the product.">
                        <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                          <use href='./img/sprite.svg#angle-down'></use>
                        </svg>
                      </button>

                      <button class="microslider__button microslider__button--right"
                        aria-label="Next image of the product.">
                        <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                          <use href='./img/sprite.svg#angle-down'></use>
                        </svg>
                      </button>
                    </div>

                    <a href="#" class="product__image-link"></a>
                  </div>

                  <div class="product__rating product__rating--visible">
                    <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                      aria-label="Star for rating one.">
                      <use href='./img/sprite.svg#star2'></use>
                    </svg>

                    <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                      aria-label="Star for rating two.">
                      <use href='./img/sprite.svg#star2'></use>
                    </svg>

                    <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                      aria-label="Star for rating three.">
                      <use href='./img/sprite.svg#star2'></use>
                    </svg>

                    <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                      aria-label="Star for rating four.">
                      <use href='./img/sprite.svg#star2'></use>
                    </svg>

                    <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg'
                      aria-label="Star for rating five.">
                      <use href='./img/sprite.svg#star2'></use>
                    </svg>
                  </div>

                  <button class="product__favorite" aria-label="Add to favorite.">
                    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                      <use href='./img/sprite.svg#heart-full'></use>
                    </svg>
                  </button>
                </div>

                <div class="product__info product__info--white">
                  <a href="#" class="product__name">
                    Chrono watch with blue things aside
                  </a>

                  <div class="product__prices">
                    <span class="product__price product__price--h4 complete-look__price">
                      $120.60
                    </span>
                  </div>

                  <div class="product__bottom">
                    <div class="product__details">
                      <ul class="product__sizes sizes">
                        <li class="sizes__item">
                          <button class="sizes__button">
                            36
                          </button>
                        </li>

                        <li class="sizes__item">
                          <button class="sizes__button sizes__button--active">
                            37
                          </button>
                        </li>

                        <li class="sizes__item">
                          <button class="sizes__button">
                            42
                          </button>
                        </li>

                        <li class="sizes__item">
                          <button class="sizes__button">
                            43
                          </button>
                        </li>

                        <li class="sizes__item">
                          <button class="sizes__button">
                            44
                          </button>
                        </li>

                        <li class="sizes__item">
                          <button class="sizes__button">
                            45
                          </button>
                        </li>

                        <li class="sizes__item">
                          <button class="sizes__button">
                            46
                          </button>
                        </li>

                        <li class="sizes__item">
                          <button class="sizes__button">
                            47
                          </button>
                        </li>


                        <li class="sizes__item">
                          <button class="sizes__button">
                            48
                          </button>
                        </li>
                      </ul>

                      <ul class="product__colors colors">
                        <li class="colors__item">
                          <button class="colors__button colors__button--active" data-color="Black"
                            aria-label="Choose black color."></button>
                        </li>

                        <li class="colors__item">
                          <button class="colors__button" data-color="Brown" aria-label="Choose brown color."></button>
                        </li>

                        <li class="colors__item">
                          <button class="colors__button" data-color="Blue-gray"
                            aria-label="Choose blue-gray color."></button>
                        </li>
                      </ul>
                    </div>

                    <div class="product__button-wrapper">
                      <button class="product__button-cart btn btn--mid">
                        <svg xmlns='http://www.w3.org/2000/svg'>
                          <use href='./img/sprite.svg#cart'></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </article>
            </div>

            <!-- Pagination -->
            <div class="complete-look__pagination flat-pagination" id="cl-pagination"></div>
          </div>

          <!-- Navigation -->
          <button class="complete-look__button-prev arrow arrow--trans" id="cl-button-prev"
            aria-label="Choose previous slide.">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
              <use href='./img/sprite.svg#arrow' aria-hidden="true"></use>
            </svg>
          </button>

          <button class="complete-look__button-next arrow arrow--trans" id="cl-button-next"
            aria-label="Choose next slide.">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
              <use href='./img/sprite.svg#arrow' aria-hidden="true"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>