<section class="cta">
  <div class="cta__container container">
    <div class="cta__image"></div>

    <div class="cta__content">
      <h2 class="cta__title">
        Enjoy mobile shopping with our Createx Store App!
      </h2>

      <div class="cta__btns">
        <a href="#" class="cta__btn btn-app btn-app--apple">
          <span class="btn-app__subtitle">
            Download on the
          </span>

          <span class="btn-app__title">
            App Store
          </span>
        </a>
        <a href="#" class="cta__btn btn-app btn-app--google">
          <span class="btn-app__subtitle btn-app__subtitle--google">
            Get it on
          </span>

          <span class="btn-app__title btn-app__title--google">
            Google Play
          </span>
        </a>
      </div>
    </div>
  </div>
</section>