<section class="footer">
  <div class="footer__container container">

    <!-- Footer main -->
    <div class="footer__main">

      <!-- Links1 -->
      <div class="footer__links">
        <h6 class="footer__title">
          HELP
        </h6>

        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">
              Delivery & returns
            </a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">
              FAQ
            </a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">
              Track order
            </a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">
              Contacts
            </a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">
              Blog
            </a>
          </li>
        </ul>
      </div>

      <!-- Links2 -->
      <div class="footer__links">
        <h6 class="footer__title">
          Shop
        </h6>

        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">
              New arrivals
            </a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">
              Trending now
            </a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">
              Sales
            </a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">
              Brands
            </a>
          </li>
        </ul>
      </div>

      <!-- Communication -->
      <div class="footer__communication">
        <h6 class="footer__title">
          Get in touch
        </h6>

        <div class="footer__contacts">
          <div class="footer__contact">
            <span class="footer__contact-title">
              Call:
            </span>
  
            <a href="tel:+4055550128" class="footer__contact-data">
              (405) 555-0128
            </a>
          </div>
  
          <div class="footer__contact">
            <span class="footer__contact-title">
              Email:
            </span>
  
            <a href="mailto:hello@createx.com" class="footer__contact-data">
              hello@createx.com
            </a>
          </div>
        </div>

        <ul class="footer__social social">
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Go to our facebook page.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#facebook' aria-hidden="true"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Go to our instagram page.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#instagram' aria-hidden="true"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Go to our twitter page.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#twitter' aria-hidden="true"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Go to our youtube page.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#youtube' aria-hidden="true"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Go to our pinterest page.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#pinterest' aria-hidden="true"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <!-- Apps -->
      <div class="footer__apps">
        <h6 class="footer__title footer__title--margin">
          Download our app
        </h6>

        <div class="footer__btns">
          <a href="#" class="footer__button btn-app btn-app--apple">
            <span class="btn-app__subtitle">
              Download on the
            </span>
  
            <span class="btn-app__title">
              App Store
            </span>
          </a>
  
          <a href="#" class="footer__button btn-app btn-app--google">
            <span class="btn-app__subtitle btn-app__subtitle--google">
              Get it on
            </span>
  
            <span class="btn-app__title btn-app__title--google">
              Google Play
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

    <!-- Footer copyright -->
    <div class="footer__copyright">
      <small class="footer__copyright-text container">
        &#169; All rights reserved. Made with 

        <svg xmlns='http://www.w3.org/2000/svg'>
          <use href='./img/sprite.svg#heart'></use>
        </svg>

        by Createx Studio
      </small>
    </div>
</section>