<section class="instagram">
  <div class="instagram__container container">
    <div class="instagram__left">
      <div class="instagram__text-wrapper">
        <h6 class="instagram__subtitle">
          Follow us on Instagram
        </h6>
  
        <h1 class="instagram__title">
          @createx_store
        </h1>
      </div>

      <a href="#" class="instagram__button btn btn--lg btn--outline">
        <svg xmlns='http://www.w3.org/2000/svg'>
          <use href='./img/sprite.svg#instagram'></use>
        </svg>

        <span class="instagram__button-text">
          Follow instagram
        </span>
      </a>
    </div>

    <div class="instagram__right" id="instagram-slider">
      <div class="instagram__wrapper swiper-wrapper">

        <!-- Slide1 -->
        <div class="instagram__slide swiper-slide">
          <img src="./img/instagram-1.jpg" alt="Instagram photo." class="instagram__image">
          
          <a href="#" class="instagram__link"></a>
        </div>

        <!-- Slide2 -->
        <div class="instagram__slide swiper-slide">
          <img src="./img/instagram-2.jpg" alt="Instagram photo." class="instagram__image">
          
          <a href="#" class="instagram__link"></a>
        </div>

        <!-- Slide3 -->
        <div class="instagram__slide swiper-slide">
          <img src="./img/instagram-3.jpg" alt="Instagram photo." class="instagram__image">
          
          <a href="#" class="instagram__link"></a>
        </div>
      </div>

      <div class="instagram__pagination flat-pagination" id="instagram-pagination"></div>
    </div>
  </div>
</section>