<section class="my-orders" id="my-orders">
  <div class="my-orders__container container">

    <!-- Account menu -->
    <aside class="my-orders__account-menu account-menu">
      <div class="account-menu__top">
        <h5 class="account-menu__name">
          Annette Black
        </h5>

        <p class="account-menu__email">
          annetteb@example.com
        </p>
      </div>

      <!-- Links -->
      <ul class="account-menu__links">

        <!-- Item1 -->
        <li class="account-menu__item">
          <a href="#" class="account-menu__link">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
              <use href='./img/sprite.svg#person' aria-hidden='true'></use>
            </svg>

            <span class="account-menu__link-name">
              My profile
            </span>
          </a>
        </li>

        <!-- Item2 -->
        <li class="account-menu__item">
          <a href="#" class="account-menu__link account-menu__link--active">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
              <use href='./img/sprite.svg#wallet-2' aria-hidden='true'></use>
            </svg>

            <span class="account-menu__link-name">
              My orders
            </span>
          </a>
        </li>

        <!-- Item3 -->
        <li class="account-menu__item">
          <a href="#" class="account-menu__link">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
              <use href='./img/sprite.svg#heart' aria-hidden='true'></use>
            </svg>

            <span class="account-menu__link-name">
              Wishlist
            </span>

            <span class="account-menu__link-count" aria-label="Number of products in wishlist.">
              2
            </span>
          </a>
        </li>

        <!-- Item4 -->
        <li class="account-menu__item">
          <a href="#" class="account-menu__link">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
              <use href='./img/sprite.svg#eye' aria-hidden='true'></use>
            </svg>

            <span class="account-menu__link-name">
              Recently viewed
            </span>
          </a>
        </li>

        <!-- Item5 -->
        <li class="account-menu__item">
          <a href="#" class="account-menu__link">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
              <use href='./img/sprite.svg#star' aria-hidden='true'></use>
            </svg>

            <span class="account-menu__link-name">
              My reviews
            </span>
          </a>
        </li>

        <!-- Item6 -->
        <li class="account-menu__item">
          <a href="#" class="account-menu__link">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
              <use href='./img/sprite.svg#logout' aria-hidden='true'></use>
            </svg>

            <span class="account-menu__link-name">
              Sign out
            </span>
          </a>
        </li>
      </ul>
    </aside>

    <!-- Content -->
    <div class="my-orders__content orders-content">

      <!-- Top -->
      <div class="orders-content__top">
        <h2 class="orders-content__title">
          My orders
        </h2>

        <div class="orders-content__sort">
          <span class="orders-content__sort-title">
            Sort orders
          </span>

          <div class="custom-select custom-select--light orders-content__sort-select" role="listbox" tabindex="0">
            <div class="custom-select__head custom-select__head--light orders-content__sort-head">
              <span class="custom-select__selected orders-content__sort-selected">
                All
              </span>

              <svg class="custom-select__icon" xmlns='http://www.w3.org/2000/svg'>
                <use href='./img/sprite.svg#angle-down'></use>
              </svg>
            </div>

            <div class="custom-select__inner-wrapper orders-content__sort-wrapper">
              <ul class="custom-select__list orders-content__sort-list" data-overlayscrollbars-initialize>
                <li class="custom-select__item custom-select__item--active orders-content__sort-item"
                  aria-selected="true">
                  All
                </li>

                <li class="custom-select__item orders-content__sort-item" aria-selected="false">
                  Oldest
                </li>

                <li class="custom-select__item orders-content__sort-item" aria-selected="false">
                  Newest
                </li>

                <li class="custom-select__item orders-content__sort-item" aria-selected="false">
                  In progress
                </li>

                <li class="custom-select__item orders-content__sort-item" aria-selected="false">
                  Delivered
                </li>

                <li class="custom-select__item orders-content__sort-item" aria-selected="false">
                  Canceled
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Orders -->
      <ul class="orders-content__orders">

        <!-- Order1 -->
        <li class="orders-content__order">

          <!-- Head -->
          <button class="orders-content__head" aria-expanded="false"
            aria-controls="orders-content-products-34BV66580K92">
            <span class="orders-content__vendor">
              # 34BV66580K92
            </span>

            <time class="orders-content__time">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
                <use href='./img/sprite.svg#clock' aria-hidden='true'></use>
              </svg>

              September 9, 2020
            </time>

            <span class="orders-content__state orders-content__state--inprogress">
              In progress
            </span>

            <span class="orders-content__pay">
              $750.00
            </span>

            <span class="orders-content__toggle c-toggle c-toggle--mid"></span>
          </button>

          <!-- Products -->
          <div class="orders-content__products" id="orders-content-products-34BV66580K92">

            <!-- Products list -->
            <ul class="orders-content__products-list">

              <!-- Product3 -->
              <li class="orders-content__product orders-product">
                <!-- Image -->
                <img src="./img/product-jeans_80w.jpg" alt="Product-image." class="orders-product__image">

                <!-- Text -->
                <div class="orders-product__text">

                  <!-- Title -->
                  <h6 class="orders-product__title">
                    Mid-rise slim cropped fit jeans
                  </h6>

                  <!-- Size -->
                  <div class="orders-product__size">
                    <span class="orders-product__size-name">
                      Size:
                    </span>

                    <span class="orders-product__size-data">
                      M
                    </span>
                  </div>
                </div>

                <!-- Price -->
                <div class="orders-product__price">
                  <span class="orders-product__price-name">
                    Price:
                  </span>

                  <span class="orders-product__price-data">
                    $40.00
                  </span>
                </div>

                <!-- Quantity -->
                <div class="orders-product__quantity">
                  <span class="orders-product__quantity-name">
                    Quantity:
                  </span>

                  <span class="orders-product__quantity-data">
                    2
                  </span>
                </div>

                <!-- Subtotal -->
                <div class="orders-product__subtotal">
                  <span class="orders-product__subtotal-name">
                    Subtotal:
                  </span>

                  <span class="orders-product__subtotal-data">
                    $80.00
                  </span>
                </div>
              </li>

              <!-- Product4 -->
              <li class="orders-content__product orders-product">
                <!-- Image -->
                <img src="./img/product-shoes_80w.jpg" alt="Product-image." class="orders-product__image">

                <!-- Text -->
                <div class="orders-product__text">

                  <!-- Title -->
                  <h6 class="orders-product__title">
                    Men fashion gray shoes
                  </h6>

                  <!-- Color -->
                  <div class="orders-product__color">
                    <span class="orders-product__color-name">
                      Color:
                    </span>

                    <span class="orders-product__color-data">
                      gray
                    </span>
                  </div>

                  <!-- Size -->
                  <div class="orders-product__size">
                    <span class="orders-product__size-name">
                      Size:
                    </span>

                    <span class="orders-product__size-data">
                      44
                    </span>
                  </div>
                </div>

                <!-- Price -->
                <div class="orders-product__price">
                  <span class="orders-product__price-name">
                    Price:
                  </span>

                  <span class="orders-product__price-data">
                    $85.00
                  </span>
                </div>

                <!-- Quantity -->
                <div class="orders-product__quantity">
                  <span class="orders-product__quantity-name">
                    Quantity:
                  </span>

                  <span class="orders-product__quantity-data">
                    1
                  </span>
                </div>

                <!-- Subtotal -->
                <div class="orders-product__subtotal">
                  <span class="orders-product__subtotal-name">
                    Subtotal:
                  </span>

                  <span class="orders-product__subtotal-data">
                    $85.00
                  </span>
                </div>
              </li>
            </ul>

            <!-- Products resume -->
            <ul class="orders-content__products-resume products-resume">

              <!-- Item1 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Subtotal:
                </span>

                <span class="products-resume__sum">
                  $198.65
                </span>
              </li>

              <!-- Item2 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Shipping:
                </span>

                <span class="products-resume__sum">
                  $25.00
                </span>
              </li>

              <!-- Item3 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Tax:
                </span>

                <span class="products-resume__sum">
                  $6.35
                </span>
              </li>

              <!-- Item4 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Total:
                </span>

                <span class="products-resume__sum">
                  $230.00
                </span>
              </li>
            </ul>

            <!-- Products tracking -->
            <div class="orders-content__tracking">
              <p class="orders-content__tracking-descr">
                You can track your order here
              </p>

              <a href="#" class="orders-content__tracking-btn btn btn--outline">
                Order tracking
              </a>
            </div>
          </div>
        </li>

        <!-- Order2 -->
        <li class="orders-content__order">

          <!-- Head -->
          <button class="orders-content__head orders-content__head--init" aria-expanded="true"
            aria-controls="orders-content-products-50HV46580V84">
            <span class="orders-content__vendor">
              # 50HV46580V84
            </span>

            <time class="orders-content__time">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
                <use href='./img/sprite.svg#clock' aria-hidden='true'></use>
              </svg>

              August 29, 2020
            </time>

            <span class="orders-content__state orders-content__state--inprogress">
              In progress
            </span>

            <span class="orders-content__pay">
              $230.00
            </span>

            <span class="orders-content__toggle c-toggle c-toggle--mid"></span>
          </button>

          <!-- Products -->
          <div class="orders-content__products" id="orders-content-products-50HV46580V84">

            <!-- Products list -->
            <ul class="orders-content__products-list">

              <!-- Product1 -->
              <li class="orders-content__product orders-product">
                <!-- Image -->
                <img src="./img/product-sweatshirt_80w.jpg" alt="Product-image." class="orders-product__image">

                <!-- Text -->
                <div class="orders-product__text">

                  <!-- Title -->
                  <h6 class="orders-product__title">
                    Basic hooded sweatshirt in pink
                  </h6>

                  <!-- Color -->
                  <div class="orders-product__color">
                    <span class="orders-product__color-name">
                      Color:
                    </span>

                    <span class="orders-product__color-data">
                      pink
                    </span>
                  </div>

                  <!-- Size -->
                  <div class="orders-product__size">
                    <span class="orders-product__size-name">
                      Size:
                    </span>

                    <span class="orders-product__size-data">
                      S
                    </span>
                  </div>
                </div>

                <!-- Price -->
                <div class="orders-product__price">
                  <span class="orders-product__price-name">
                    Price:
                  </span>

                  <span class="orders-product__price-data">
                    $15.50
                  </span>
                </div>

                <!-- Quantity -->
                <div class="orders-product__quantity">
                  <span class="orders-product__quantity-name">
                    Quantity:
                  </span>

                  <span class="orders-product__quantity-data">
                    1
                  </span>
                </div>

                <!-- Subtotal -->
                <div class="orders-product__subtotal">
                  <span class="orders-product__subtotal-name">
                    Subtotal:
                  </span>

                  <span class="orders-product__subtotal-data">
                    $15.50
                  </span>
                </div>
              </li>

              <!-- Product2 -->
              <li class="orders-content__product orders-product">
                <!-- Image -->
                <img src="./img/product-cap_80w.jpg" alt="Product-image." class="orders-product__image">

                <!-- Text -->
                <div class="orders-product__text">

                  <!-- Title -->
                  <h6 class="orders-product__title">
                    Black and white sport cap
                  </h6>
                </div>

                <!-- Price -->
                <div class="orders-product__price">
                  <span class="orders-product__price-name">
                    Price:
                  </span>

                  <span class="orders-product__price-data">
                    $18.15
                  </span>
                </div>

                <!-- Quantity -->
                <div class="orders-product__quantity">
                  <span class="orders-product__quantity-name">
                    Quantity:
                  </span>

                  <span class="orders-product__quantity-data">
                    1
                  </span>
                </div>

                <!-- Subtotal -->
                <div class="orders-product__subtotal">
                  <span class="orders-product__subtotal-name">
                    Subtotal:
                  </span>

                  <span class="orders-product__subtotal-data">
                    $18.15
                  </span>
                </div>
              </li>

              <!-- Product3 -->
              <li class="orders-content__product orders-product">
                <!-- Image -->
                <img src="./img/product-jeans_80w.jpg" alt="Product-image." class="orders-product__image">

                <!-- Text -->
                <div class="orders-product__text">

                  <!-- Title -->
                  <h6 class="orders-product__title">
                    Mid-rise slim cropped fit jeans
                  </h6>

                  <!-- Size -->
                  <div class="orders-product__size">
                    <span class="orders-product__size-name">
                      Size:
                    </span>

                    <span class="orders-product__size-data">
                      M
                    </span>
                  </div>
                </div>

                <!-- Price -->
                <div class="orders-product__price">
                  <span class="orders-product__price-name">
                    Price:
                  </span>

                  <span class="orders-product__price-data">
                    $40.00
                  </span>
                </div>

                <!-- Quantity -->
                <div class="orders-product__quantity">
                  <span class="orders-product__quantity-name">
                    Quantity:
                  </span>

                  <span class="orders-product__quantity-data">
                    2
                  </span>
                </div>

                <!-- Subtotal -->
                <div class="orders-product__subtotal">
                  <span class="orders-product__subtotal-name">
                    Subtotal:
                  </span>

                  <span class="orders-product__subtotal-data">
                    $80.00
                  </span>
                </div>
              </li>

              <!-- Product4 -->
              <li class="orders-content__product orders-product">
                <!-- Image -->
                <img src="./img/product-shoes_80w.jpg" alt="Product-image." class="orders-product__image">

                <!-- Text -->
                <div class="orders-product__text">

                  <!-- Title -->
                  <h6 class="orders-product__title">
                    Men fashion gray shoes
                  </h6>

                  <!-- Color -->
                  <div class="orders-product__color">
                    <span class="orders-product__color-name">
                      Color:
                    </span>

                    <span class="orders-product__color-data">
                      gray
                    </span>
                  </div>

                  <!-- Size -->
                  <div class="orders-product__size">
                    <span class="orders-product__size-name">
                      Size:
                    </span>

                    <span class="orders-product__size-data">
                      44
                    </span>
                  </div>
                </div>

                <!-- Price -->
                <div class="orders-product__price">
                  <span class="orders-product__price-name">
                    Price:
                  </span>

                  <span class="orders-product__price-data">
                    $85.00
                  </span>
                </div>

                <!-- Quantity -->
                <div class="orders-product__quantity">
                  <span class="orders-product__quantity-name">
                    Quantity:
                  </span>

                  <span class="orders-product__quantity-data">
                    1
                  </span>
                </div>

                <!-- Subtotal -->
                <div class="orders-product__subtotal">
                  <span class="orders-product__subtotal-name">
                    Subtotal:
                  </span>

                  <span class="orders-product__subtotal-data">
                    $85.00
                  </span>
                </div>
              </li>
            </ul>

            <!-- Products resume -->
            <ul class="orders-content__products-resume products-resume">

              <!-- Item1 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Subtotal:
                </span>

                <span class="products-resume__sum">
                  $198.65
                </span>
              </li>

              <!-- Item2 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Shipping:
                </span>

                <span class="products-resume__sum">
                  $25.00
                </span>
              </li>

              <!-- Item3 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Tax:
                </span>

                <span class="products-resume__sum">
                  $6.35
                </span>
              </li>

              <!-- Item4 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Total:
                </span>

                <span class="products-resume__sum">
                  $230.00
                </span>
              </li>
            </ul>

            <!-- Products tracking -->
            <div class="orders-content__tracking">
              <p class="orders-content__tracking-descr">
                You can track your order here
              </p>

              <a href="#" class="orders-content__tracking-btn btn btn--outline">
                Order tracking
              </a>
            </div>
          </div>
        </li>

        <!-- Order3 -->
        <li class="orders-content__order">

          <!-- Head -->
          <button class="orders-content__head" aria-expanded="false"
            aria-controls="orders-content-products-93BR64523J71">
            <span class="orders-content__vendor">
              # 93BR64523J71
            </span>

            <time class="orders-content__time">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
                <use href='./img/sprite.svg#clock' aria-hidden='true'></use>
              </svg>

              August 4, 2020
            </time>

            <span class="orders-content__state orders-content__state--delivered">
              Delivered
            </span>

            <span class="orders-content__pay">
              $92.40
            </span>

            <span class="orders-content__toggle c-toggle c-toggle--mid"></span>
          </button>

          <!-- Products -->
          <div class="orders-content__products" id="orders-content-products-93BR64523J71">

            <!-- Products list -->
            <ul class="orders-content__products-list">

              <!-- Product1 -->
              <li class="orders-content__product orders-product">
                <!-- Image -->
                <img src="./img/product-sweatshirt_80w.jpg" alt="Product-image." class="orders-product__image">

                <!-- Text -->
                <div class="orders-product__text">

                  <!-- Title -->
                  <h6 class="orders-product__title">
                    Basic hooded sweatshirt in pink
                  </h6>

                  <!-- Color -->
                  <div class="orders-product__color">
                    <span class="orders-product__color-name">
                      Color:
                    </span>

                    <span class="orders-product__color-data">
                      pink
                    </span>
                  </div>

                  <!-- Size -->
                  <div class="orders-product__size">
                    <span class="orders-product__size-name">
                      Size:
                    </span>

                    <span class="orders-product__size-data">
                      S
                    </span>
                  </div>
                </div>

                <!-- Price -->
                <div class="orders-product__price">
                  <span class="orders-product__price-name">
                    Price:
                  </span>

                  <span class="orders-product__price-data">
                    $15.50
                  </span>
                </div>

                <!-- Quantity -->
                <div class="orders-product__quantity">
                  <span class="orders-product__quantity-name">
                    Quantity:
                  </span>

                  <span class="orders-product__quantity-data">
                    1
                  </span>
                </div>

                <!-- Subtotal -->
                <div class="orders-product__subtotal">
                  <span class="orders-product__subtotal-name">
                    Subtotal:
                  </span>

                  <span class="orders-product__subtotal-data">
                    $15.50
                  </span>
                </div>
              </li>

              <!-- Product2 -->
              <li class="orders-content__product orders-product">
                <!-- Image -->
                <img src="./img/product-cap_80w.jpg" alt="Product-image." class="orders-product__image">

                <!-- Text -->
                <div class="orders-product__text">

                  <!-- Title -->
                  <h6 class="orders-product__title">
                    Black and white sport cap
                  </h6>
                </div>

                <!-- Price -->
                <div class="orders-product__price">
                  <span class="orders-product__price-name">
                    Price:
                  </span>

                  <span class="orders-product__price-data">
                    $18.15
                  </span>
                </div>

                <!-- Quantity -->
                <div class="orders-product__quantity">
                  <span class="orders-product__quantity-name">
                    Quantity:
                  </span>

                  <span class="orders-product__quantity-data">
                    1
                  </span>
                </div>

                <!-- Subtotal -->
                <div class="orders-product__subtotal">
                  <span class="orders-product__subtotal-name">
                    Subtotal:
                  </span>

                  <span class="orders-product__subtotal-data">
                    $18.15
                  </span>
                </div>
              </li>
            </ul>

            <!-- Products resume -->
            <ul class="orders-content__products-resume products-resume">

              <!-- Item1 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Subtotal:
                </span>

                <span class="products-resume__sum">
                  $198.65
                </span>
              </li>

              <!-- Item2 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Shipping:
                </span>

                <span class="products-resume__sum">
                  $25.00
                </span>
              </li>

              <!-- Item3 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Tax:
                </span>

                <span class="products-resume__sum">
                  $6.35
                </span>
              </li>

              <!-- Item4 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Total:
                </span>

                <span class="products-resume__sum">
                  $230.00
                </span>
              </li>
            </ul>

            <!-- Products tracking -->
            <div class="orders-content__tracking">
              <p class="orders-content__tracking-descr">
                You can track your order here
              </p>

              <a href="#" class="orders-content__tracking-btn btn btn--outline">
                Order tracking
              </a>
            </div>
          </div>
        </li>

        <!-- Order4 -->
        <li class="orders-content__order">

          <!-- Head -->
          <button class="orders-content__head" aria-expanded="false"
            aria-controls="orders-content-products-66TU12580L11">
            <span class="orders-content__vendor">
              # 66TU12580L11
            </span>

            <time class="orders-content__time">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
                <use href='./img/sprite.svg#clock' aria-hidden='true'></use>
              </svg>

              July 27, 2020
            </time>

            <span class="orders-content__state orders-content__state--canceled">
              Canceled
            </span>

            <span class="orders-content__pay">
              $102.95
            </span>

            <span class="orders-content__toggle c-toggle c-toggle--mid"></span>
          </button>

          <!-- Products -->
          <div class="orders-content__products" id="orders-content-products-66TU12580L11">

            <!-- Products list -->
            <ul class="orders-content__products-list">

              <!-- Product1 -->
              <li class="orders-content__product orders-product">
                <!-- Image -->
                <img src="./img/product-sweatshirt_80w.jpg" alt="Product-image." class="orders-product__image">

                <!-- Text -->
                <div class="orders-product__text">

                  <!-- Title -->
                  <h6 class="orders-product__title">
                    Basic hooded sweatshirt in pink
                  </h6>

                  <!-- Color -->
                  <div class="orders-product__color">
                    <span class="orders-product__color-name">
                      Color:
                    </span>

                    <span class="orders-product__color-data">
                      pink
                    </span>
                  </div>

                  <!-- Size -->
                  <div class="orders-product__size">
                    <span class="orders-product__size-name">
                      Size:
                    </span>

                    <span class="orders-product__size-data">
                      S
                    </span>
                  </div>
                </div>

                <!-- Price -->
                <div class="orders-product__price">
                  <span class="orders-product__price-name">
                    Price:
                  </span>

                  <span class="orders-product__price-data">
                    $15.50
                  </span>
                </div>

                <!-- Quantity -->
                <div class="orders-product__quantity">
                  <span class="orders-product__quantity-name">
                    Quantity:
                  </span>

                  <span class="orders-product__quantity-data">
                    1
                  </span>
                </div>

                <!-- Subtotal -->
                <div class="orders-product__subtotal">
                  <span class="orders-product__subtotal-name">
                    Subtotal:
                  </span>

                  <span class="orders-product__subtotal-data">
                    $15.50
                  </span>
                </div>
              </li>

              <!-- Product4 -->
              <li class="orders-content__product orders-product">
                <!-- Image -->
                <img src="./img/product-shoes_80w.jpg" alt="Product-image." class="orders-product__image">

                <!-- Text -->
                <div class="orders-product__text">

                  <!-- Title -->
                  <h6 class="orders-product__title">
                    Men fashion gray shoes
                  </h6>

                  <!-- Color -->
                  <div class="orders-product__color">
                    <span class="orders-product__color-name">
                      Color:
                    </span>

                    <span class="orders-product__color-data">
                      gray
                    </span>
                  </div>

                  <!-- Size -->
                  <div class="orders-product__size">
                    <span class="orders-product__size-name">
                      Size:
                    </span>

                    <span class="orders-product__size-data">
                      44
                    </span>
                  </div>
                </div>

                <!-- Price -->
                <div class="orders-product__price">
                  <span class="orders-product__price-name">
                    Price:
                  </span>

                  <span class="orders-product__price-data">
                    $85.00
                  </span>
                </div>

                <!-- Quantity -->
                <div class="orders-product__quantity">
                  <span class="orders-product__quantity-name">
                    Quantity:
                  </span>

                  <span class="orders-product__quantity-data">
                    1
                  </span>
                </div>

                <!-- Subtotal -->
                <div class="orders-product__subtotal">
                  <span class="orders-product__subtotal-name">
                    Subtotal:
                  </span>

                  <span class="orders-product__subtotal-data">
                    $85.00
                  </span>
                </div>
              </li>
            </ul>

            <!-- Products resume -->
            <ul class="orders-content__products-resume products-resume">

              <!-- Item1 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Subtotal:
                </span>

                <span class="products-resume__sum">
                  $198.65
                </span>
              </li>

              <!-- Item2 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Shipping:
                </span>

                <span class="products-resume__sum">
                  $25.00
                </span>
              </li>

              <!-- Item3 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Tax:
                </span>

                <span class="products-resume__sum">
                  $6.35
                </span>
              </li>

              <!-- Item4 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Total:
                </span>

                <span class="products-resume__sum">
                  $230.00
                </span>
              </li>
            </ul>

            <!-- Products tracking -->
            <div class="orders-content__tracking">
              <p class="orders-content__tracking-descr">
                You can track your order here
              </p>

              <a href="#" class="orders-content__tracking-btn btn btn--outline">
                Order tracking
              </a>
            </div>
          </div>
        </li>

        <!-- Order5 -->
        <li class="orders-content__order">

          <!-- Head -->
          <button class="orders-content__head" aria-expanded="false"
            aria-controls="orders-content-products-12WE95534P90">
            <span class="orders-content__vendor">
              # 12WE95534P90
            </span>

            <time class="orders-content__time">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
                <use href='./img/sprite.svg#clock' aria-hidden='true'></use>
              </svg>

              July 12, 2020
            </time>

            <span class="orders-content__state orders-content__state--delivered">
              Delivered
            </span>

            <span class="orders-content__pay">
              $267.00
            </span>

            <span class="orders-content__toggle c-toggle c-toggle--mid"></span>
          </button>

          <!-- Products -->
          <div class="orders-content__products" id="orders-content-products-12WE95534P90">

            <!-- Products list -->
            <ul class="orders-content__products-list">

              <!-- Product1 -->
              <li class="orders-content__product orders-product">
                <!-- Image -->
                <img src="./img/product-sweatshirt_80w.jpg" alt="Product-image." class="orders-product__image">

                <!-- Text -->
                <div class="orders-product__text">

                  <!-- Title -->
                  <h6 class="orders-product__title">
                    Basic hooded sweatshirt in pink
                  </h6>

                  <!-- Color -->
                  <div class="orders-product__color">
                    <span class="orders-product__color-name">
                      Color:
                    </span>

                    <span class="orders-product__color-data">
                      pink
                    </span>
                  </div>

                  <!-- Size -->
                  <div class="orders-product__size">
                    <span class="orders-product__size-name">
                      Size:
                    </span>

                    <span class="orders-product__size-data">
                      S
                    </span>
                  </div>
                </div>

                <!-- Price -->
                <div class="orders-product__price">
                  <span class="orders-product__price-name">
                    Price:
                  </span>

                  <span class="orders-product__price-data">
                    $15.50
                  </span>
                </div>

                <!-- Quantity -->
                <div class="orders-product__quantity">
                  <span class="orders-product__quantity-name">
                    Quantity:
                  </span>

                  <span class="orders-product__quantity-data">
                    1
                  </span>
                </div>

                <!-- Subtotal -->
                <div class="orders-product__subtotal">
                  <span class="orders-product__subtotal-name">
                    Subtotal:
                  </span>

                  <span class="orders-product__subtotal-data">
                    $15.50
                  </span>
                </div>
              </li>
            </ul>

            <!-- Products resume -->
            <ul class="orders-content__products-resume products-resume">

              <!-- Item1 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Subtotal:
                </span>

                <span class="products-resume__sum">
                  $198.65
                </span>
              </li>

              <!-- Item2 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Shipping:
                </span>

                <span class="products-resume__sum">
                  $25.00
                </span>
              </li>

              <!-- Item3 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Tax:
                </span>

                <span class="products-resume__sum">
                  $6.35
                </span>
              </li>

              <!-- Item4 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Total:
                </span>

                <span class="products-resume__sum">
                  $230.00
                </span>
              </li>
            </ul>

            <!-- Products tracking -->
            <div class="orders-content__tracking">
              <p class="orders-content__tracking-descr">
                You can track your order here
              </p>

              <a href="#" class="orders-content__tracking-btn btn btn--outline">
                Order tracking
              </a>
            </div>
          </div>
        </li>

        <!-- Order6 -->
        <li class="orders-content__order">

          <!-- Head -->
          <button class="orders-content__head" aria-expanded="false"
            aria-controls="orders-content-products-47IK678871Y45">
            <span class="orders-content__vendor">
              # 47IK678871Y45
            </span>

            <time class="orders-content__time">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
                <use href='./img/sprite.svg#clock' aria-hidden='true'></use>
              </svg>

              June 5, 2020
            </time>

            <span class="orders-content__state orders-content__state--delivered">
              Delivered
            </span>

            <span class="orders-content__pay">
              $19.50
            </span>

            <span class="orders-content__toggle c-toggle c-toggle--mid"></span>
          </button>

          <!-- Products -->
          <div class="orders-content__products" id="orders-content-products-47IK678871Y45">

            <!-- Products list -->
            <ul class="orders-content__products-list">

              <!-- Product2 -->
              <li class="orders-content__product orders-product">
                <!-- Image -->
                <img src="./img/product-cap_80w.jpg" alt="Product-image." class="orders-product__image">

                <!-- Text -->
                <div class="orders-product__text">

                  <!-- Title -->
                  <h6 class="orders-product__title">
                    Black and white sport cap
                  </h6>
                </div>

                <!-- Price -->
                <div class="orders-product__price">
                  <span class="orders-product__price-name">
                    Price:
                  </span>

                  <span class="orders-product__price-data">
                    $18.15
                  </span>
                </div>

                <!-- Quantity -->
                <div class="orders-product__quantity">
                  <span class="orders-product__quantity-name">
                    Quantity:
                  </span>

                  <span class="orders-product__quantity-data">
                    1
                  </span>
                </div>

                <!-- Subtotal -->
                <div class="orders-product__subtotal">
                  <span class="orders-product__subtotal-name">
                    Subtotal:
                  </span>

                  <span class="orders-product__subtotal-data">
                    $18.15
                  </span>
                </div>
              </li>

              <!-- Product4 -->
              <li class="orders-content__product orders-product">
                <!-- Image -->
                <img src="./img/product-shoes_80w.jpg" alt="Product-image." class="orders-product__image">

                <!-- Text -->
                <div class="orders-product__text">

                  <!-- Title -->
                  <h6 class="orders-product__title">
                    Men fashion gray shoes
                  </h6>

                  <!-- Color -->
                  <div class="orders-product__color">
                    <span class="orders-product__color-name">
                      Color:
                    </span>

                    <span class="orders-product__color-data">
                      gray
                    </span>
                  </div>

                  <!-- Size -->
                  <div class="orders-product__size">
                    <span class="orders-product__size-name">
                      Size:
                    </span>

                    <span class="orders-product__size-data">
                      44
                    </span>
                  </div>
                </div>

                <!-- Price -->
                <div class="orders-product__price">
                  <span class="orders-product__price-name">
                    Price:
                  </span>

                  <span class="orders-product__price-data">
                    $85.00
                  </span>
                </div>

                <!-- Quantity -->
                <div class="orders-product__quantity">
                  <span class="orders-product__quantity-name">
                    Quantity:
                  </span>

                  <span class="orders-product__quantity-data">
                    1
                  </span>
                </div>

                <!-- Subtotal -->
                <div class="orders-product__subtotal">
                  <span class="orders-product__subtotal-name">
                    Subtotal:
                  </span>

                  <span class="orders-product__subtotal-data">
                    $85.00
                  </span>
                </div>
              </li>
            </ul>

            <!-- Products resume -->
            <ul class="orders-content__products-resume products-resume">

              <!-- Item1 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Subtotal:
                </span>

                <span class="products-resume__sum">
                  $198.65
                </span>
              </li>

              <!-- Item2 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Shipping:
                </span>

                <span class="products-resume__sum">
                  $25.00
                </span>
              </li>

              <!-- Item3 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Tax:
                </span>

                <span class="products-resume__sum">
                  $6.35
                </span>
              </li>

              <!-- Item4 -->
              <li class="products-resume__item">
                <span class="products-resume__title">
                  Total:
                </span>

                <span class="products-resume__sum">
                  $230.00
                </span>
              </li>
            </ul>

            <!-- Products tracking -->
            <div class="orders-content__tracking">
              <p class="orders-content__tracking-descr">
                You can track your order here
              </p>

              <a href="#" class="orders-content__tracking-btn btn btn--outline">
                Order tracking
              </a>
            </div>
          </div>
        </li>
      </ul>

      <!-- More -->
      <button class="orders-content__more">
        <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
          <use href='./img/sprite.svg#convert' aria-hidden='true'></use>
        </svg>

        Load more
      </button>
    </div>
  </div>
</section>