<section class="new-arrivals">
  <div class="new-arrivals__container container-wide">
    <h2 class="new-arrivals__title section-title">
      New arrivals
    </h2>

    <div class="new-arrivals__subtitle">
      <div class="new-arrivals__descr">
        Check out our latest arrivals for the upcoming season
      </div>

      <a href="#" class="new-arrivals__more">
        See the collection here
      </a>
    </div>

    <!-- Slider -->
    <div class="new-arrivals__slider" id="new-arrivals-slider">
      <div class="new-arrivals__wrapper swiper-wrapper">

        <!-- Slide1 -->
        <article class="new-arrivals__product product swiper-slide">
          <div class="product__look">
            <a href="#" class="new-arrivals__image-link">
              <img src="./img/new-arrivals-cap.jpg" alt="Product image." class="product__image">
            </a>

            <div class="product__rating product__rating--visible">
              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating one.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating two.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating three.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating four.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating five.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>
            </div>

            <button class="product__favorite" aria-label="Add to favorite.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#heart'></use>
              </svg>
            </button>
          </div>

          <div class="product__info">
            <a href="#" class="product__name">
              Black and white sport cap
            </a>

            <span class="product__price">
              $18.15
            </span>
          </div>
        </article>

        <!-- Slide2 -->
        <article class="new-arrivals__product product swiper-slide">
          <div class="product__look">
            <a href="#" class="new-arrivals__image-link">
              <img src="./img/new-arrivals-glasses.jpg" alt="Product image." class="product__image">
            </a>

            <div class="product__rating">
              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating one.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating two.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating three.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating four.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating five.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>
            </div>

            <button class="product__favorite" aria-label="Add to favorite.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#heart'></use>
              </svg>
            </button>
          </div>

          <div class="product__info">
            <a href="#" class="product__name">
              Metal bridge sunglasses
            </a>

            <span class="product__price">
              $89.95
            </span>
          </div>
        </article>

        <!-- Slide3 -->
        <article class="new-arrivals__product product swiper-slide">
          <div class="product__look">
            <a href="#" class="new-arrivals__image-link">
              <img src="./img/new-arrivals-blouse.jpg" alt="Product image." class="product__image">
            </a>

            <div class="product__rating product__rating--visible">
              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating one.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating two.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating three.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating four.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating five.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>
            </div>

            <button class="product__favorite" aria-label="Add to favorite.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#heart'></use>
              </svg>
            </button>
          </div>

          <div class="product__info">
            <a href="#" class="product__name">
              Green baby romper
            </a>

            <span class="product__price">
              $20.40
            </span>
          </div>
        </article>

        <!-- Slide4 -->
        <article class="new-arrivals__product product swiper-slide">
          <div class="product__look">
            <a href="#" class="new-arrivals__image-link">
              <img src="./img/new-arrivals-jeans.jpg" alt="Product image." class="product__image">
            </a>

            <div class="product__rating">
              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating one.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating two.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating three.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating four.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating five.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>
            </div>

            <button class="product__favorite" aria-label="Add to favorite.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#heart'></use>
              </svg>
            </button>
          </div>

          <div class="product__info">
            <a href="#" class="product__name">
              Mid-rise slim cropped fit jeans
            </a>

            <span class="product__price">
              $40.00
            </span>
          </div>
        </article>

        <!-- Slide5 -->
        <article class="new-arrivals__product product swiper-slide">
          <div class="product__look">
            <a href="#" class="new-arrivals__image-link">
              <img src="./img/new-arrivals-earring.jpg" alt="Product image." class="product__image">
            </a>

            <div class="product__rating product__rating--visible">
              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating one.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating two.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating three.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating four.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating five.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>
            </div>

            <button class="product__favorite" aria-label="Add to favorite.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#heart'></use>
              </svg>
            </button>
          </div>

          <div class="product__info">
            <a href="#" class="product__name">
              Red dangle earrings
            </a>

            <span class="product__price">
              $29.95
            </span>
          </div>
        </article>

        <!-- Slide6 -->
        <article class="new-arrivals__product product swiper-slide">
          <div class="product__look">
            <a href="#" class="new-arrivals__image-link">
              <img src="./img/new-arrivals-snickers.jpg" alt="Product image." class="product__image">
            </a>

            <div class="product__rating">
              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating one.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating two.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating three.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating four.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating five.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>
            </div>

            <button class="product__favorite" aria-label="Add to favorite.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#heart'></use>
              </svg>
            </button>
          </div>

          <div class="product__info">
            <a href="#" class="product__name">
              Baby shoes with laces
            </a>

            <span class="product__price">
              $30.60
            </span>
          </div>
        </article>
      </div>

      <!-- Pagination -->
      <div class="new-arrivals__pagination flat-pagination" id="new-arrivals-pagination"></div>
    </div>
  </div>
</section>