<section class="popular-categories">
  <div class="popular-categories__container container">
    <h1 class="popular-categories__title section-title">
      Popular categories
    </h1>

    <div class="popular-categories__slider" id="popular-categories-slider">
      <div class="popular-categories__wrapper swiper-wrapper">
        <div class="popular-categories__slide swiper-slide">
          <div class="popular-categories__box">
            <div class="popular-categories__image popular-categories__image--1"></div>
          </div>

          <a href="#" class="popular-categories__name">
            Tops
          </a>
        </div>

        <div class="popular-categories__slide swiper-slide">
          <div class="popular-categories__box">
            <div class="popular-categories__image popular-categories__image--2"></div>
          </div>

          <a href="#" class="popular-categories__name">
            T-shirts
          </a>
        </div>

        <div class="popular-categories__slide swiper-slide">
          <div class="popular-categories__box">
            <div class="popular-categories__image popular-categories__image--3"></div>
          </div>

          <a href="#" class="popular-categories__name">
            Caps
          </a>
        </div>

        <div class="popular-categories__slide swiper-slide">
          <div class="popular-categories__box">
            <div class="popular-categories__image popular-categories__image--4"></div>
          </div>

          <a href="#" class="popular-categories__name">
            Sandals
          </a>
        </div>

        <div class="popular-categories__slide swiper-slide">
          <div class="popular-categories__box">
            <div class="popular-categories__image popular-categories__image--5"></div>
          </div>

          <a href="#" class="popular-categories__name">
            Jackets
          </a>
        </div>

        <div class="popular-categories__slide swiper-slide">
          <div class="popular-categories__box">
            <div class="popular-categories__image popular-categories__image--6"></div>
          </div>

          <a href="#" class="popular-categories__name">
            Coats
          </a>
        </div>
      </div>
    </div>
    
    <div class="popular-categories__pagination flat-pagination" id="popular-categories-pagination"></div>
  </div>
</section>