<section class="posts">
  <div class="posts__container container">
    <h1 class="posts__title section-title">
      Fashion blog
    </h1>

    <div class="posts__outer-wrapper">
      <div class="posts__slider" id="posts-slider">
        <div class="posts__wrapper swiper-wrapper">

          <!-- Slide1 -->
          <article class="posts__article article swiper-slide">
            <div class="article__box">
              <a href="#" class="article__link">
                <img src="./img/blog-1.jpg" alt="Article image." class="article__image">
              </a>
            </div>

            <div class="article__text">
              <h5 class="article__title">
                <a href="#" class="article__link">
                  Bag Trends for Summer 2020
                </a>
              </h5>

              <ul class="article__data">
                <li class="article__data-item">
                  <a href="#" class="article__data-link">
                    Fashion
                  </a>
                </li>

                <li class="article__data-item">
                  <a href="#" class="article__data-link">
                    August 24, 2020
                  </a>
                </li>

                <li class="article__data-item">
                  <a href="#" class="article__data-link article__data-link--comments">
                    <svg xmlns='http://www.w3.org/2000/svg'>
                      <use href='./img/sprite.svg#comments'></use>
                    </svg>

                    <span class="article__data-comments">
                      No comments
                    </span>
                  </a>
                </li>
              </ul>

              <p class="article__first-lines">
                Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel,
                venenatis  sit vel, venenatis nulla. Integer bibendum turpis convallis 
              </p>
            </div>
          </article>

          <!-- Slide2 -->
          <article class="posts__article article swiper-slide">
            <div class="article__box">
              <a href="#" class="article__link">
                <img src="./img/blog-2.jpg" alt="Article image." class="article__image">
              </a>
            </div>

            <div class="article__text">
              <h5 class="article__title">
                <a href="#" class="article__link">
                  Top 10 of This Season’s Hottest Sneakers
                </a>
              </h5>

              <ul class="article__data">
                <li class="article__data-item">
                  <a href="#" class="article__data-link">
                    Lifestyle
                  </a>
                </li>

                <li class="article__data-item">
                  <a href="#" class="article__data-link">
                    July 16, 2020
                  </a>
                </li>

                <li class="article__data-item">
                  <a href="#" class="article__data-link article__data-link--comments">
                    <svg xmlns='http://www.w3.org/2000/svg'>
                      <use href='./img/sprite.svg#comments'></use>
                    </svg>

                    <span class="article__data-comments">
                      4 comments
                    </span>
                  </a>
                </li>
              </ul>

              <p class="article__first-lines">
                Porta habitant vitae quam interdum. Leo viverra non volutpat rhoncus placerat vitae scelerisque. Rhoncus
                augue faucibus venenatis  sit vel, venenatis nulla. maecenas lacus
              </p>
            </div>
          </article>
        </div>

        <!-- Pagination -->
        <div class="posts__pagination flat-pagination" id="posts-pagination"></div>
      </div>

      <!-- Button-->
      <a href="#" class="posts__button btn btn--mid btn--outline">
        View blog
      </a>
    </div>
  </div>
</section>