<section class="product-card">
  <div class="product-card__container container">

    <!-- Text -->
    <div class="product-card__text">
      <h1 class="product-card__title section-title">
        Basic hooded sweatshirt in pink
      </h1>
  
      <div class="product-card__vendor">
        <span class="product-card__vendor-text">
          Art. No. 
        </span>
  
        <span class="product-card__vendor-number">
          183260098
        </span>
      </div>
    </div>

    <!-- Tabs -->
    <div class="product-card__tabs">
      <button class="product-card__tab product-card__tab--active">
        General info
      </button>

      <button class="product-card__tab">
        Product details
      </button>

      <button class="product-card__tab">
        Reviews

        <span class="product-card__tab-count">
          12
        </span>
      </button>
    </div>

    <!-- Content -->
    <div class="product-card__content">

      <!-- Left -->
      <div class="product-card__left">

        <!-- Slider -->
        <div class="product-card__slider pcs" id="product-card-swiper">
          <div class="pcs__wrapper swiper-wrapper">
            <div class="pcs__slide swiper-slide">
              <img src="./img/product-sweatshirt_600w.jpg" alt="Product card image." class="pcs__image">
            </div>
          </div>

          <!-- Navigation -->
          <button class="pcs__button-prev arrow" id="pcs-button-prev" aria-label="Choose previous slide.">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
              <use href='./img/sprite.svg#arrow'></use>
            </svg>
          </button>

          <button class="pcs__button-next arrow" id="pcs-button-next" aria-label="Choose next slide.">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
              <use href='./img/sprite.svg#arrow'></use>
            </svg>
          </button>
        </div>

        <!-- Minislider -->
        <div class="product-card__minislider pcm" id="pcm-swiper">
          <div class="pcm__wrapper swiper-wrapper">
            <div class="pcm__slide pcm__slide--active swiper-slide">
              <img src="./img/product-sweatshirt.jpg" alt="Product card image." class="pcm__image">
            </div>
            
            <div class="pcm__slide swiper-slide">
              <img src="./img/product-sweatshirt.jpg" alt="Product card image." class="pcm__image">
            </div>

            <div class="pcm__slide swiper-slide">
              <img src="./img/product-sweatshirt.jpg" alt="Product card image." class="pcm__image">
            </div>

            <div class="pcm__slide swiper-slide">
              <img src="./img/product-sweatshirt.jpg" alt="Product card image." class="pcm__image">
            </div>

            <div class="pcm__slide swiper-slide">
              <img src="./img/product-sweatshirt.jpg" alt="Product card image." class="pcm__image">
            </div>

            <div class="pcm__slide swiper-slide">
              <img src="./img/product-sweatshirt.jpg" alt="Product card image." class="pcm__image">
            </div>
          </div>
        </div>
      </div>

      <!-- Right -->
      <div class="product-card__right">

      </div>
    </div>
  </div>
</section>