<section class="recently-viewed">
  <div class="recently-viewed__container container">
    <h1 class="recently-viewed__title section-title">
      Recently viewed
    </h1>

    <!-- Slider -->
    <div class="recently-viewed__slider-wrapper">
      <div class="recently-viewed__slider swiper-slider" id="recently-viewed-slider">
        <div class="recently-viewed__wrapper swiper-wrapper">

          <!-- Slide1 -->
          <article class="recently-viewed__product product swiper-slide" data-vendor="283261221">
            <div class="product__look recently-viewed__look">
              <div class="product__image-wrapper microslider">
                <img src="./img/product-shoes.jpg" alt="Product image."
                  class="product__image microslider__image product__image--main" id="microslider-image">

                <ul class="microslider__srcs" aria-hidden="true">
                  <li class="microslider__src" data-src="./img/product-shoes.jpg"></li>
                  <li class="microslider__src" data-src="./img/product-bag-2.jpg"></li>
                  <li class="microslider__src" data-src="./img/product-bag-3.jpg"></li>
                </ul>

                <div class="microslider__btns">
                  <button class="microslider__button microslider__button--left"
                    aria-label="Previous image of the product.">
                    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                      <use href='./img/sprite.svg#angle-down'></use>
                    </svg>
                  </button>

                  <button class="microslider__button microslider__button--right"
                    aria-label="Next image of the product.">
                    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                      <use href='./img/sprite.svg#angle-down'></use>
                    </svg>
                  </button>
                </div>

                <a href="#" class="product__image-link"></a>
              </div>

              <button class="product__favorite" aria-label="Add to favorite.">
                <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                  <use href='./img/sprite.svg#heart-full'></use>
                </svg>
              </button>
            </div>

            <div class="product__info product__info--white">
              <a href="#" class="product__name">
                Baby shoes with laces
              </a>

              <div class="product__prices">
                <span class="product__price product__price--h5 recently-viewed__price">
                  $30.60
                </span>
              </div>

              <div class="product__bottom">
                <div class="product__details">
                  <ul class="product__sizes sizes">
                    <li class="sizes__item">
                      <button class="sizes__button">
                        36
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button sizes__button--active">
                        37
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        45
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        46
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        47
                      </button>
                    </li>


                    <li class="sizes__item">
                      <button class="sizes__button">
                        48
                      </button>
                    </li>
                  </ul>

                  <ul class="product__colors colors">
                    <li class="colors__item">
                      <button class="colors__button colors__button--active" data-color="Black"
                        aria-label="Choose black color."></button>
                    </li>

                    <li class="colors__item">
                      <button class="colors__button" data-color="Brown" aria-label="Choose brown color."></button>
                    </li>

                    <li class="colors__item">
                      <button class="colors__button" data-color="Blue-gray"
                        aria-label="Choose blue-gray color."></button>
                    </li>
                  </ul>
                </div>

                <div class="product__button-wrapper">
                  <button class="product__button-cart btn btn--mid">
                    <svg xmlns='http://www.w3.org/2000/svg'>
                      <use href='./img/sprite.svg#cart'></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </article>

          <!-- Slide2 -->
          <article class="recently-viewed__product product swiper-slide" data-vendor="383261233">
            <div class="product__look recently-viewed__look">
              <div class="product__image-wrapper microslider">
                <img src="./img/product-blouse.jpg" alt="Product image."
                  class="product__image microslider__image product__image--main" id="microslider-image">

                <ul class="microslider__srcs" aria-hidden="true">
                  <li class="microslider__src" data-src="./img/product-blouse.jpg"></li>
                  <li class="microslider__src" data-src="./img/product-bag-2.jpg"></li>
                  <li class="microslider__src" data-src="./img/product-bag-3.jpg"></li>
                </ul>

                <div class="microslider__btns">
                  <button class="microslider__button microslider__button--left"
                    aria-label="Previous image of the product.">
                    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                      <use href='./img/sprite.svg#angle-down'></use>
                    </svg>
                  </button>

                  <button class="microslider__button microslider__button--right"
                    aria-label="Next image of the product.">
                    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                      <use href='./img/sprite.svg#angle-down'></use>
                    </svg>
                  </button>
                </div>

                <a href="#" class="product__image-link"></a>
              </div>

              <div class="product__rating">
                <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                  aria-label="Star for rating one.">
                  <use href='./img/sprite.svg#star2'></use>
                </svg>

                <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                  aria-label="Star for rating two.">
                  <use href='./img/sprite.svg#star2'></use>
                </svg>

                <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                  aria-label="Star for rating three.">
                  <use href='./img/sprite.svg#star2'></use>
                </svg>

                <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                  aria-label="Star for rating four.">
                  <use href='./img/sprite.svg#star2'></use>
                </svg>

                <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating five.">
                  <use href='./img/sprite.svg#star2'></use>
                </svg>
              </div>

              <button class="product__favorite" aria-label="Add to favorite.">
                <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                  <use href='./img/sprite.svg#heart-full'></use>
                </svg>
              </button>
            </div>

            <div class="product__info product__info--white">
              <a href="#" class="product__name">
                Green baby romper
              </a>

              <div class="product__prices">
                <span class="product__price product__price--h5 recently-viewed__price">
                  $20.40
                </span>
              </div>

              <div class="product__bottom">
                <div class="product__details">
                  <ul class="product__sizes sizes">
                    <li class="sizes__item">
                      <button class="sizes__button">
                        36
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button sizes__button--active">
                        37
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        45
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        46
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        47
                      </button>
                    </li>


                    <li class="sizes__item">
                      <button class="sizes__button">
                        48
                      </button>
                    </li>
                  </ul>

                  <ul class="product__colors colors">
                    <li class="colors__item">
                      <button class="colors__button colors__button--active" data-color="Black"
                        aria-label="Choose black color."></button>
                    </li>

                    <li class="colors__item">
                      <button class="colors__button" data-color="Brown" aria-label="Choose brown color."></button>
                    </li>

                    <li class="colors__item">
                      <button class="colors__button" data-color="Blue-gray"
                        aria-label="Choose blue-gray color."></button>
                    </li>
                  </ul>
                </div>

                <div class="product__button-wrapper">
                  <button class="product__button-cart btn btn--mid">
                    <svg xmlns='http://www.w3.org/2000/svg'>
                      <use href='./img/sprite.svg#cart'></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </article>

          <!-- Slide3 -->
          <article class="recently-viewed__product product swiper-slide" data-vendor="483261234">
            <div class="product__look recently-viewed__look">
              <div class="product__image-wrapper microslider">
                <img src="./img/product-shoes-2.jpg" alt="Product image."
                  class="product__image microslider__image product__image--main" id="microslider-image">

                <ul class="microslider__srcs" aria-hidden="true">
                  <li class="microslider__src" data-src="./img/product-shoes-2.jpg"></li>
                  <li class="microslider__src" data-src="./img/product-bag-2.jpg"></li>
                  <li class="microslider__src" data-src="./img/product-bag-3.jpg"></li>
                </ul>

                <div class="microslider__btns">
                  <button class="microslider__button microslider__button--left"
                    aria-label="Previous image of the product.">
                    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                      <use href='./img/sprite.svg#angle-down'></use>
                    </svg>
                  </button>

                  <button class="microslider__button microslider__button--right"
                    aria-label="Next image of the product.">
                    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                      <use href='./img/sprite.svg#angle-down'></use>
                    </svg>
                  </button>
                </div>

                <a href="#" class="product__image-link"></a>
              </div>

              <button class="product__favorite" aria-label="Add to favorite.">
                <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                  <use href='./img/sprite.svg#heart-full'></use>
                </svg>
              </button>
            </div>

            <div class="product__info product__info--white">
              <a href="#" class="product__name">
                Men fashion gray shoes
              </a>

              <div class="product__prices">
                <span class="product__price product__price--h5 recently-viewed__price">
                  $85.50
                </span>
              </div>

              <div class="product__bottom">
                <div class="product__details">
                  <ul class="product__sizes sizes">
                    <li class="sizes__item">
                      <button class="sizes__button">
                        36
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button sizes__button--active">
                        37
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        45
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        46
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        47
                      </button>
                    </li>


                    <li class="sizes__item">
                      <button class="sizes__button">
                        48
                      </button>
                    </li>
                  </ul>

                  <ul class="product__colors colors">
                    <li class="colors__item">
                      <button class="colors__button colors__button--active" data-color="Black"
                        aria-label="Choose black color."></button>
                    </li>

                    <li class="colors__item">
                      <button class="colors__button" data-color="Brown" aria-label="Choose brown color."></button>
                    </li>

                    <li class="colors__item">
                      <button class="colors__button" data-color="Blue-gray"
                        aria-label="Choose blue-gray color."></button>
                    </li>
                  </ul>
                </div>

                <div class="product__button-wrapper">
                  <button class="product__button-cart btn btn--mid">
                    <svg xmlns='http://www.w3.org/2000/svg'>
                      <use href='./img/sprite.svg#cart'></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </article>

          <!-- Slide4 -->
          <article class="recently-viewed__product product swiper-slide" data-vendor="583261235">
            <div class="product__look recently-viewed__look">
              <div class="product__image-wrapper microslider">
                <img src="./img/product-jeans-2.jpg" alt="Product image."
                  class="product__image microslider__image product__image--main" id="microslider-image">

                <ul class="microslider__srcs" aria-hidden="true">
                  <li class="microslider__src" data-src="./img/product-jeans-2.jpg"></li>
                  <li class="microslider__src" data-src="./img/product-bag-2.jpg"></li>
                  <li class="microslider__src" data-src="./img/product-bag-3.jpg"></li>
                </ul>

                <div class="microslider__btns">
                  <button class="microslider__button microslider__button--left"
                    aria-label="Previous image of the product.">
                    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                      <use href='./img/sprite.svg#angle-down'></use>
                    </svg>
                  </button>

                  <button class="microslider__button microslider__button--right"
                    aria-label="Next image of the product.">
                    <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                      <use href='./img/sprite.svg#angle-down'></use>
                    </svg>
                  </button>
                </div>

                <a href="#" class="product__image-link"></a>
              </div>

              <button class="product__favorite" aria-label="Add to favorite.">
                <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                  <use href='./img/sprite.svg#heart-full'></use>
                </svg>
              </button>

              <div class="product__discount">
                -50%
              </div>
            </div>

            <div class="product__info product__info--white">
              <a href="#" class="product__name">
                Skinny push-up jeans
              </a>

              <div class="product__prices">
                <span class="product__price product__price--h5 product__price--red recently-viewed__price">
                  $40.00
                </span>

                <span class="product__old-price">
                  $80.00
                </span>
              </div>

              <div class="product__bottom">
                <div class="product__details">
                  <ul class="product__sizes sizes">
                    <li class="sizes__item">
                      <button class="sizes__button">
                        36
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button sizes__button--active">
                        37
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        45
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        46
                      </button>
                    </li>

                    <li class="sizes__item">
                      <button class="sizes__button">
                        47
                      </button>
                    </li>


                    <li class="sizes__item">
                      <button class="sizes__button">
                        48
                      </button>
                    </li>
                  </ul>

                  <ul class="product__colors colors">
                    <li class="colors__item">
                      <button class="colors__button colors__button--active" data-color="Black"
                        aria-label="Choose black color."></button>
                    </li>

                    <li class="colors__item">
                      <button class="colors__button" data-color="Brown" aria-label="Choose brown color."></button>
                    </li>

                    <li class="colors__item">
                      <button class="colors__button" data-color="Blue-gray"
                        aria-label="Choose blue-gray color."></button>
                    </li>
                  </ul>
                </div>

                <div class="product__button-wrapper">
                  <button class="product__button-cart btn btn--mid">
                    <svg xmlns='http://www.w3.org/2000/svg'>
                      <use href='./img/sprite.svg#cart'></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>

      <!-- Navigation -->
      <button class="recently-viewed__button-prev arrow arrow--trans" id="rw-button-prev"
        aria-label="Choose previous slide.">
        <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
          <use href='./img/sprite.svg#arrow'></use>
        </svg>
      </button>

      <button class="recently-viewed__button-next arrow arrow--trans" id="rw-button-next"
        aria-label="Choose next slide.">
        <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
          <use href='./img/sprite.svg#arrow'></use>
        </svg>
      </button>
    </div>
  </div>
</section>