<section class="related-posts">
  <div class="related-posts__container container">
    <h1 class="related-posts__title section-title">
      Related posts
    </h1>

    <div class="related-posts__outer-wrapper">
      <div class="related-posts__slider" id="related-posts-slider">
        <div class="related-posts__wrapper swiper-wrapper">

          <!-- Slide1 -->
          <article class="related-posts__article article swiper-slide">
            <div class="article__box">
              <a href="#" class="article__link">
                <img src="./img/blog-1.jpg" alt="Article image." class="article__image">
              </a>
            </div>

            <div class="article__text">
              <h5 class="article__title">
                <a href="#" class="article__link">
                  Bag Trends for Summer 2020
                </a>
              </h5>

              <ul class="article__data">
                <li class="article__data-item">
                  <a href="#" class="article__data-link">
                    Fashion
                  </a>
                </li>

                <li class="article__data-item">
                  <a href="#" class="article__data-link">
                    August 24, 2020
                  </a>
                </li>

                <li class="article__data-item">
                  <a href="#" class="article__data-link article__data-link--comments">
                    <svg xmlns='http://www.w3.org/2000/svg'>
                      <use href='./img/sprite.svg#comments'></use>
                    </svg>

                    <span class="article__data-comments">
                      No comments
                    </span>
                  </a>
                </li>
              </ul>

              <p class="article__first-lines">
                Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel,
                venenatis  sit vel, venenatis nulla. Integer bibendum turpis convallis Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, suscipit.
              </p>
            </div>
          </article>

          <!-- Slide2 -->
          <article class="related-posts__article article swiper-slide">
            <div class="article__box">
              <a href="#" class="article__link">
                <img src="./img/blog-8.jpg" alt="Article image." class="article__image">
              </a>
            </div>

            <div class="article__text">
              <h5 class="article__title">
                <a href="#" class="article__link">
                  Wardrobe Essentials Everyone Should Own Today
                </a>
              </h5>

              <ul class="article__data">
                <li class="article__data-item">
                  <a href="#" class="article__data-link">
                    Fashion
                  </a>
                </li>

                <li class="article__data-item">
                  <a href="#" class="article__data-link">
                    Fugust 5, 2020
                  </a>
                </li>

                <li class="article__data-item">
                  <a href="#" class="article__data-link article__data-link--comments">
                    <svg xmlns='http://www.w3.org/2000/svg'>
                      <use href='./img/sprite.svg#comments'></use>
                    </svg>

                    <span class="article__data-comments">
                      4 comments
                    </span>
                  </a>
                </li>
              </ul>

              <p class="article__first-lines">
                Porta habitant vitae quam interdum. Leo viverra non volutpat rhoncus placerat vitae scelerisque. Rhoncus augue faucibus maecenas lacus...
              </p>
            </div>
          </article>
        </div>

        <!-- Pagination -->
        <div class="related-posts__pagination flat-pagination" id="related-posts-pagination"></div>
      </div>

      <!-- Button-->
      <a href="#" class="related-posts__button btn btn--mid btn--outline">
        View all posts
      </a>
    </div>
  </div>
</section>