<section class="sale">
  <div class="sale__container container">
    <h1 class="sale__title section-title">
      Sale up to 70%
    </h1>

    <div class="sale__slider" id="sale-slider">
      <div class="sale__wrapper swiper-wrapper">

        <!-- Slide1 -->
        <article class="sale__product product swiper-slide">
          <div class="product__look">
            <div class="product__image-wrapper microslider">
              <img src="./img/product-bag.jpg" alt="Product image." class="product__image microslider__image"
                id="microslider-image">

              <ul class="microslider__srcs" aria-hidden="true">
                <li class="microslider__src" data-src="./img/product-bag.jpg"></li>
                <li class="microslider__src" data-src="./img/product-bag-2.jpg"></li>
                <li class="microslider__src" data-src="./img/product-bag-3.jpg"></li>
              </ul>

              <div class="microslider__btns">
                <button class="microslider__button microslider__button--left"
                  aria-label="Previous image of the product.">
                  <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                    <use href='./img/sprite.svg#angle-down'></use>
                  </svg>
                </button>

                <button class="microslider__button microslider__button--right" aria-label="Next image of the product.">
                  <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                    <use href='./img/sprite.svg#angle-down'></use>
                  </svg>
                </button>
              </div>

              <a href="#" class="product__image-link"></a>
            </div>

            <div class="product__rating product__rating--visible">
              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating one.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating two.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating three.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating four.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating five.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>
            </div>

            <button class="product__favorite" aria-label="Add to favorite.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#heart'></use>
              </svg>
            </button>

            <div class="product__discount">
              -50%
            </div>
          </div>

          <div class="product__info product__info--white">
            <a href="#" class="product__name">
              Leather crossbody bag with gold hardware
            </a>

            <div class="product__prices">
              <span class="product__price product__price--h4 product__price--red sale__price">
                $89.50
              </span>

              <span class="product__old-price">
                $179.00
              </span>
            </div>

            <div class="product__bottom">
              <div class="product__details">
                <ul class="product__sizes sizes">
                  <li class="sizes__item">
                    <button class="sizes__button">
                      36
                    </button>
                  </li>

                  <li class="sizes__item">
                    <button class="sizes__button sizes__button--active">
                      37
                    </button>
                  </li>

                  <li class="sizes__item">
                    <button class="sizes__button">
                      42
                    </button>
                  </li>

                  <li class="sizes__item">
                    <button class="sizes__button">
                      43
                    </button>
                  </li>

                  <li class="sizes__item">
                    <button class="sizes__button">
                      44
                    </button>
                  </li>

                  <li class="sizes__item">
                    <button class="sizes__button">
                      45
                    </button>
                  </li>

                  <li class="sizes__item">
                    <button class="sizes__button">
                      46
                    </button>
                  </li>

                  <li class="sizes__item">
                    <button class="sizes__button">
                      47
                    </button>
                  </li>


                  <li class="sizes__item">
                    <button class="sizes__button">
                      48
                    </button>
                  </li>
                </ul>

                <ul class="product__colors colors">
                  <li class="colors__item">
                    <button class="colors__button colors__button--active" data-color="black"
                      aria-label="Choose black color."></button>
                  </li>

                  <li class="colors__item">
                    <button class="colors__button" data-color="brown" aria-label="Choose brown color."></button>
                  </li>

                  <li class="colors__item">
                    <button class="colors__button" data-color="blue-gray"
                      aria-label="Choose blue-gray color."></button>
                  </li>
                </ul>
              </div>

              <div class="product__button-wrapper">
                <button class="product__button-cart btn btn--mid">
                  <svg xmlns='http://www.w3.org/2000/svg'>
                    <use href='./img/sprite.svg#cart'></use>
                  </svg>

                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </article>

        <!-- Slide2 -->
        <article class="sale__product product swiper-slide">
          <div class="product__look">
            <div class="product__image-wrapper microslider">
              <img src="./img/product-jeans-2.jpg" alt="Product image." class="product__image microslider__image"
                id="microslider-image">

              <ul class="microslider__srcs" aria-hidden="true">
                <li class="microslider__src" data-src="./img/product-jeans-2.jpg"></li>
                <li class="microslider__src" data-src="./img/product-jeans-3.jpg"></li>
                <li class="microslider__src" data-src="./img/product-jeans-4.jpg"></li>
              </ul>

              <div class="microslider__btns">
                <button class="microslider__button microslider__button--left"
                  aria-label="Previous image of the product.">
                  <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                    <use href='./img/sprite.svg#angle-down'></use>
                  </svg>
                </button>

                <button class="microslider__button microslider__button--right" aria-label="Next image of the product.">
                  <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                    <use href='./img/sprite.svg#angle-down'></use>
                  </svg>
                </button>
              </div>

              <a href="#" class="product__image-link"></a>
            </div>

            <div class="product__rating product__rating--visible">
              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating one.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating two.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating three.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating four.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating five.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>
            </div>

            <button class="product__favorite" aria-label="Add to favorite.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#heart'></use>
              </svg>
            </button>

            <div class="product__discount">
              -50%
            </div>
          </div>

          <div class="product__info product__info--white">
            <a href="#" class="product__name">
              Skinny push-up jeans
            </a>

            <div class="product__prices">
              <span class="product__price product__price--h4 product__price--red sale__price">
                $40.00
              </span>

              <span class="product__old-price">
                $80.00
              </span>
            </div>

            <div class="product__bottom">
              <div class="product__details">
                <ul class="product__sizes sizes">
                  <li class="sizes__item">
                    <button class="sizes__button">
                      36
                    </button>
                  </li>

                  <li class="sizes__item">
                    <button class="sizes__button sizes__button--active">
                      37
                    </button>
                  </li>

                  <li class="sizes__item">
                    <button class="sizes__button">
                      38
                    </button>
                  </li>

                  <li class="sizes__item">
                    <button class="sizes__button">
                      39
                    </button>
                  </li>

                  <li class="sizes__item">
                    <button class="sizes__button">
                      40
                    </button>
                  </li>
                </ul>

                <ul class="product__colors colors">
                  <li class="colors__item">
                    <button class="colors__button colors__button--active" data-color="black"
                      aria-label="Choose black color."></button>
                  </li>

                  <li class="colors__item">
                    <button class="colors__button" data-color="brown" aria-label="Choose brown color."></button>
                  </li>

                  <li class="colors__item">
                    <button class="colors__button" data-color="blue-gray"
                      aria-label="Choose blue-gray color."></button>
                  </li>

                  <li class="colors__item">
                    <button class="colors__button" data-color="dark-blue" aria-label="Choose dark-blue color."></button>
                  </li>

                  <li class="colors__item">
                    <button class="colors__button" data-color="green" aria-label="Choose green color."></button>
                  </li>
                </ul>
              </div>

              <div class="product__button-wrapper">
                <button class="product__button-cart btn btn--mid">
                  <svg xmlns='http://www.w3.org/2000/svg'>
                    <use href='./img/sprite.svg#cart'></use>
                  </svg>

                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </article>

        <!-- Slide3 -->
        <article class="sale__product product swiper-slide">
          <div class="product__look">
            <div class="product__image-wrapper microslider">
              <img src="./img/product-boots.jpg" alt="Product image." class="product__image microslider__image"
                id="microslider-image">

              <ul class="microslider__srcs" aria-hidden="true">
                <li class="microslider__src" data-src="./img/product-boots.jpg"></li>
                <li class="microslider__src" data-src="./img/product-boots-2.jpg"></li>
                <li class="microslider__src" data-src="./img/product-boots-3.jpg"></li>
              </ul>

              <div class="microslider__btns">
                <button class="microslider__button microslider__button--left"
                  aria-label="Previous image of the product.">
                  <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                    <use href='./img/sprite.svg#angle-down'></use>
                  </svg>
                </button>

                <button class="microslider__button microslider__button--right" aria-label="Next image of the product.">
                  <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                    <use href='./img/sprite.svg#angle-down'></use>
                  </svg>
                </button>
              </div>

              <a href="#" class="product__image-link"></a>
            </div>

            <div class="product__rating">
              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating one.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating two.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating three.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating four.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating five.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>
            </div>

            <button class="product__favorite" aria-label="Add to favorite.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#heart'></use>
              </svg>
            </button>

            <div class="product__discount">
              -20%
            </div>
          </div>

          <div class="product__info product__info--white">
            <a href="#" class="product__name">
              Wide heel suede ankle boots
            </a>

            <div class="product__prices">
              <span class="product__price product__price--h4 product__price--red sale__price">
                $119.16
              </span>

              <span class="product__old-price">
                $148.95
              </span>
            </div>

            <div class="product__bottom">
              <div class="product__details">
                <ul class="product__sizes sizes">
                  <li class="sizes__item">
                    <button class="sizes__button">
                      36
                    </button>
                  </li>

                  <li class="sizes__item">
                    <button class="sizes__button sizes__button--active">
                      37
                    </button>
                  </li>

                  <li class="sizes__item">
                    <button class="sizes__button">
                      38
                    </button>
                  </li>

                  <li class="sizes__item">
                    <button class="sizes__button">
                      39
                    </button>
                  </li>

                  <li class="sizes__item">
                    <button class="sizes__button">
                      40
                    </button>
                  </li>
                </ul>

                <ul class="product__colors colors">
                  <li class="colors__item">
                    <button class="colors__button colors__button--active" data-color="black"
                      aria-label="Choose black color."></button>
                  </li>

                  <li class="colors__item">
                    <button class="colors__button" data-color="brown" aria-label="Choose brown color."></button>
                  </li>

                  <li class="colors__item">
                    <button class="colors__button" data-color="blue-gray"
                      aria-label="Choose blue-gray color."></button>
                  </li>
                </ul>
              </div>

              <div class="product__button-wrapper">
                <button class="product__button-cart btn btn--mid">
                  <svg xmlns='http://www.w3.org/2000/svg'>
                    <use href='./img/sprite.svg#cart'></use>
                  </svg>

                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </article>
      </div>

      <!-- Navigation -->
      <button class="sale__button-prev arrow arrow--trans" id="sale-button-prev" aria-label="Choose previous slide.">
        <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
          <use href='./img/sprite.svg#arrow' aria-hidden="true"></use>
        </svg>
      </button>

      <button class="sale__button-next arrow arrow--trans" id="sale-button-next" aria-label="Choose next slide.">
        <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
          <use href='./img/sprite.svg#arrow' aria-hidden="true"></use>
        </svg>
      </button>
    </div>

    <!-- Button -->
    <a href="#" class="sale__button btn btn--lg btn--outline">
      See all sale products
    </a>
  </div>
</section>