<section class="services">
  <div class="services__container container">

    <!-- Services1 -->
    <div class="services__content">
      <div class="services__icon services__icon--car"></div>

      <span class="services__name">
        Fast Worldwide Shipping
      </span>

      <p class="services__descr">
        Get free shipping over $250
      </p>
    </div>

    <div class="services__divider services__divider--1"></div>

    <!-- Services2 -->
    <div class="services__content">
      <div class="services__icon services__icon--woman"></div>

      <span class="services__name">
        24/7 Customer Support
      </span>

      <p class="services__descr">
        Friendly 24/7 customer support
      </p>
    </div>

    <div class="services__divider services__divider--2"></div>

    <!-- Services3 -->
    <div class="services__content">
      <div class="services__icon services__icon--shield"></div>

      <span class="services__name">
        Money Back Guarantee
      </span>

      <p class="services__descr">
        We return money within 30 days
      </p>
    </div>

    <div class="services__divider services__divider--3"></div>

    <!-- Services4 -->
    <div class="services__content">
      <div class="services__icon services__icon--cards"></div>

      <span class="services__name">
        Secure Online Payment
      </span>

      <p class="services__descr">
        Accept all major credit cards
      </p>
    </div>
  </div>
</section>