<section class="single-post">
  <div class="single-post__container">

    <!-- Head -->
    <div class="single-post__head container container--narrow">

      <!-- Head title -->
      <h1 class="single-post__title section-title">
        Top 10 of This Season’s Hottest Sneakers
      </h1>

      <!-- Head bottom -->
      <div class="single-post__bottom article">

        <!-- Data -->
        <ul class="single-post__bottom-data article__data">
          <li class="article__data-item single-post__bottom-item">
            <a href="#" class="article__data-link article__data-link--active">
              Lifestyle
            </a>
          </li>

          <li class="article__data-item single-post__bottom-item">
            <a href="#" class="article__data-link article__data-link--fz16">
              July 16, 2020
            </a>
          </li>

          <li class="article__data-item single-post__bottom-item">
            <a href="#" class="article__data-link article__data-link--comments article__data-link--fz16">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#comments' aria-hidden="true"></use>
              </svg>

              <span class="article__data-comments">
                4 comments
              </span>
            </a>
          </li>
        </ul>

        <!-- Social -->
        <ul class="single-post__social social">
          <li class="social__item">
            <a href="#" target="_blank" class="social__link social__link--light" aria-label="Share with facebook.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#facebook' aria-hidden="true"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" target="_blank" class="social__link social__link--light" aria-label="Share with instagram.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#instagram' aria-hidden="true"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" target="_blank" class="social__link social__link--light" aria-label="Share with twitter.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#twitter' aria-hidden="true"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" target="_blank" class="social__link social__link--light" aria-label="Share with linkedin.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#linkedin' aria-hidden="true"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Wrapper -->
    <div class="post__wrapper">

      <!-- Post -->
      <div class="single-post__post post container container--narrow">

        <!-- Image -->
        <div class="post__image-wrapper">
          <img src="./img/blog-2.jpg" alt="Post image." class="post__image">
        </div>

        <p class="post__lead post__dark post__bold">
          Vulputate vitae pellentesque scelerisque luctus consequat mattis pellentesque dui odio. Interdum aenean sit
          malesuada ornare sed gravida rhoncus, congue. Purus auctor nullam diam quis est hendrerit ac euismod.
        </p>

        <p>
          At facilisi sapien posuere eget nunc senectus proin nullam. Tortor senectus in et sagittis, vitae diam cras
          dignissim. Varius adipiscing eget diam nisi. Orci, consectetur vulputate metus ornare pharetra, neque,
          fermentum. Vel nec rhoncus, non nunc, neque in massa. Feugiat leo nam nisl lacinia amet, odio. Mi varius
          viverra
          risus vel.
        </p>

        <p>
          Amet, morbi sed pharetra, elit eget mi potenti. Condimentum orci interdum feugiat lectus libero duis. Nisl
          massa, elementum varius sit. Nunc felis, porttitor aliquam urna, accumsan et sed. Aliquet non sed duis diam
          vehicula rhoncus. In dictum nullam tincidunt semper pellentesque purus morbi sed. Ut aliquet velit pharetra.
        </p>

        <blockquote class="post__lead post__dark post__bold">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis
          fermentum
          amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in tot
          euismod vulputate etiam eros. Vel accumsan at elit neque, ipsum.
        </blockquote>

        <p>
          Mauris amet arcu nisl vel dictum tellus. Sed rhoncus, ut sed id ut erat mattis. Vitae mus blandit in neque
          amet
          non fringilla blandit:
        </p>

        <ul>
          <li>
            A fermentum in morbi pretium aliquam adipiscing donec tempus.
          </li>

          <li>
            Vulputate placerat amet pulvinar lorem nisl.
          </li>

          <li>
            Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
          </li>

          <li>
            Etiam duis lobortis in fames ultrices commodo nibh.
          </li>
        </ul>

        <p>
          Enim, vel massa odio diam. Blandit massa gravida feugiat elementum id nec sed leo. Nisi in ornare lectus eget.
          Urna, risus, consectetur volutpat lorem purus. Velit aliquet nibh vitae maecenas. Consectetur neque ut aliquam
          eros, purus enim dignissim aenean vitae. Ultrices fames augue mattis tortor est justo, pharetra nibh risus.
          Facilisi at porttitor volutpat natoque proin amet, nulla. Vivamus ut lobortis sagittis curabitur tellus
          convallis eget netus vitae.
        </p>

        <!-- Post bottom -->
        <div class="post__bottom">
          <div class="post__tags blog-tags">
            <h4 class="blog-tags__title post__bottom-title">
              Tags:
            </h4>

            <ul class="blog-tags__list">
              <li class="blog-tags__item">
                <a href="#" class="blog-tags__tag btn btn--outline">
                  #trends
                </a>
              </li>

              <li class="blog-tags__item">
                <a href="#" class="blog-tags__tag btn btn--outline">
                  #inspiration
                </a>
              </li>

              <li class="blog-tags__item">
                <a href="#" class="blog-tags__tag btn btn--outline">
                  #designers
                </a>
              </li>
            </ul>
          </div>

          <div class="post__social">
            <h4 class="post__social-title post__bottom-title">
              Share:
            </h4>

            <ul class="post__social-list social">
              <li class="social__item">
                <a href="#" target="_blank" class="social__link social__link--light" aria-label="Share with facebook.">
                  <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                    <use href='./img/sprite.svg#facebook' aria-hidden="true"></use>
                  </svg>
                </a>
              </li>

              <li class="social__item">
                <a href="#" target="_blank" class="social__link social__link--light" aria-label="Share with instagram.">
                  <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                    <use href='./img/sprite.svg#instagram' aria-hidden="true"></use>
                  </svg>
                </a>
              </li>

              <li class="social__item">
                <a href="#" target="_blank" class="social__link social__link--light" aria-label="Share with twitter.">
                  <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                    <use href='./img/sprite.svg#twitter' aria-hidden="true"></use>
                  </svg>
                </a>
              </li>

              <li class="social__item">
                <a href="#" target="_blank" class="social__link social__link--light" aria-label="Share with linkedin.">
                  <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                    <use href='./img/sprite.svg#linkedin' aria-hidden="true"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Navigation -->
    <div class="single-post__navigation post-nav container container--narrow">

      <!-- Prev -->
      <a href="#" class="post-nav__link">
        <h3 class="post-nav__title">
          <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
            <use href='./img/sprite.svg#arrow' aria-hidden='true'></use>
          </svg>

          <span class="post-nav__title-text">
            Prev Post
          </span>
        </h3>

        <div class="post-nav__box">
          <div class="post-nav__image-wrapper">
            <img src="./img/blog-6.jpg" alt="Blog image." class="post-nav__image">
          </div>

          <div class="post-nav__info">
            <time class="post-nav__date">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
                <use href='./img/sprite.svg#clock' aria-hidden='true'></use>
              </svg>

              April 9, 2020
            </time>

            <h6 class="post-nav__name">
              Best Fashion Instagrams of the Week
            </h6>
          </div>
        </div>
      </a>

      <!-- Next -->
      <a href="#" class="post-nav__link">
        <h3 class="post-nav__title">
          <span class="post-nav__title-text">
            Next Post
          </span>

          <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
            <use href='./img/sprite.svg#arrow' aria-hidden='true'></use>
          </svg>
        </h3>

        <div class="post-nav__box">
          <div class="post-nav__info">
            <time class="post-nav__date">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
                <use href='./img/sprite.svg#clock' aria-hidden='true'></use>
              </svg>

              March 12, 2020
            </time>

            <h6 class="post-nav__name">
              Top 10 Looks From the Venice Film Festival
            </h6>
          </div>

          <div class="post-nav__image-wrapper">
            <img src="./img/blog-7.jpg" alt="Blog image." class="post-nav__image">
          </div>
        </div>
      </a>
    </div>
  </div>
</section>