<section class="subscribe">
  <div class="subscribe__container container">
    <h1 class="subscribe__title section-title">
      Subscribe for updates
    </h1>

    <span class="subscribe__subtitle">
      Subscribe for exclusive early sale access and new arrivals.
    </span>

    <!-- Form -->
    <form class="subscribe__form">

      <!-- Categories -->
      <ul class="subscribe__categories">
        <li class="subscribe__categories-item">
          <button class="subscribe__categories-btn btn btn--outline">
            Women
          </button>
        </li>

        <li class="subscribe__categories-item">
          <button class="subscribe__categories-btn btn btn--outline">
            Men
          </button>
        </li>

        <li class="subscribe__categories-item">
          <button class="subscribe__categories-btn btn btn--outline">
            Girls
          </button>
        </li>

        <li class="subscribe__categories-item">
          <button class="subscribe__categories-btn btn btn--outline">
            Boys
          </button> 
        </li>
      </ul>

      <!-- Email -->
      <div class="subscribe__email email-form">
        <label for="email-form-input" class="email-form__label subscribe__label">
          Email
        </label>

        <div class="email-form__field subscribe__field">
          <input type="email" class="email-form__input input subscribe__input" id="email-form-input" placeholder="Your working email">

          <button class="email-form__button btn btn--lg">
            Subscribe
          </button>
        </div>
      </div>

      <!-- Agreement -->
      <label class="subscribe__agreement">
        <label for="subscribe-cutom-checkbox-input" class="subscribe__checkbox custom-checkbox">
          <input type="checkbox" class="custom-checkbox__input" id="subscribe-cutom-checkbox-input">
        </label>

        <p class="subscribe__agreement-text">
          I agree to receive communications from Createx Store.
        </p>
      </label>
    </form>
  </div>
</section>