<section class="subscribe">
  <div class="subscribe__container container">

    <!-- Left -->
    <div class="subscribe__left">
      <h1 class="subscribe__title section-title">
        Subscribe for updates
      </h1>
  
      <span class="subscribe__subtitle">
        Subscribe for exclusive early sale access and new arrivals.
      </span>
  
      <!-- Form -->
      <form class="subscribe__form">
  
        <!-- Categories -->
        <ul class="subscribe__categories categories">
          <li class="categories__item">
            <label class="categories__btn btn btn--outline" checked="false" role="checkbox" aria-checked="false">
              <span class="categories__btn-text">
                Women
              </span>
  
              <input type="checkbox" class="categories__btn-checkbox">
            </label>
          </li>
  
          <li class="categories__item">
            <label class="categories__btn btn btn--outline" role="checkbox" aria-checked="false">
              <span class="categories__btn-text">
                Men
              </span>
  
              <input type="checkbox" class="categories__btn-checkbox">
            </label>
          </li>
  
          <li class="categories__item">
            <label class="categories__btn btn btn--outline" role="checkbox" aria-checked="false">
              <span class="categories__btn-text">
                Girls
              </span>
  
              <input type="checkbox" class="categories__btn-checkbox">
            </label>
          </li>
  
          <li class="categories__item">
            <label class="categories__btn btn btn--outline" role="checkbox" aria-checked="false">
              <span class="categories__btn-text">
                Boys
              </span>
  
              <input type="checkbox" class="categories__btn-checkbox">
            </label>
          </li>
        </ul>
  
        <!-- Email -->
        <div class="subscribe__email email-form">
          <label for="subscribe-input" class="email-form__label subscribe__label">
            Email
          </label>
  
          <div class="email-form__field subscribe__field">
            <input type="email" class="email-form__input input subscribe__input" id="subscribe-input" placeholder="Your working email">
  
            <button class="email-form__button btn btn--lg subscribe__email-button">
              Subscribe
            </button>
          </div>
        </div>
  
        <!-- Agreement -->
        <label class="subscribe__agreement">
          <label class="subscribe__checkbox custom-checkbox" tabindex="0" role="checkbox" aria-checked="false">
            <svg xmlns='http://www.w3.org/2000/svg'>
              <use href='./img/sprite.svg#check'></use>
            </svg>
  
            <input type="hidden" name="subscribe-agreement-checkbox" value="0">
            <input type="checkbox" class="custom-checkbox__input" name="subscribe-agreement-checkbox" value="1">
          </label>
  
          <p class="subscribe__agreement-text">
            I agree to receive communications from Createx Store.
          </p>
        </label>
      </form>
    </div>

    <!-- Right -->
    <div class="subscribe__right"></div>
  </div>
</section>