<section class="top-categories">
  <div class="top-categories__container container">
    <div class="top-categories__slider" id="top-categories-swiper">
      <div class="top-categories__wrapper swiper-wrapper">
        <div class="top-categories__category swiper-slide">
          <div class="top-categories__box">
            <img src="./img/top-categories-womens.jpg" alt="Women's image." class="top-categories__image">
          </div>

          <a href="#" class="top-categories__link">
            Women’s
          </a>
        </div>

        <div class="top-categories__category swiper-slide">
          <div class="top-categories__box">
            <img src="./img/top-categories-mens.jpg" alt="Men's image." class="top-categories__image">
          </div>

          <a href="#" class="top-categories__link">
            Men’s
          </a>
        </div>

        <div class="top-categories__category swiper-slide">
          <div class="top-categories__box">
            <img src="./img/top-categories-kids.jpg" alt="Kids' image." class="top-categories__image">
          </div>

          <a href="#" class="top-categories__link">
            Kids’
          </a>
        </div>
      </div>

      <!-- Pagination -->
      <div class="top-categories__pagination flat-pagination" id="top-categories-pagination"></div>
    </div>
  </div>
</section>