<section class="trending-now">
  <div class="trending-now__container container">
    <h1 class="trending-now__title section-title">
      Trending now
    </h1>

    <div class="trending-now__slider" id="trending-now-slider">
      <div class="trending-now__wrapper swiper-wrapper">

        <!-- Slide1 -->
        <article class="trending-now__product product swiper-slide">
          <div class="product__look">
            <a href="#" class="trending-now__image-link">
              <img src="./img/trending-now-shirt.png" alt="Product image." class="product__image">
            </a>

            <div class="product__rating product__rating--visible">
              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating one.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating two.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating three.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating four.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating five.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>
            </div>

            <button class="product__favorite" aria-label="Add to favorite.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#heart'></use>
              </svg>
            </button>
          </div>

          <div class="product__info">
            <a href="#" class="product__name">
              Shirt with insertion lace trims
            </a>

            <span class="product__price product__price--h4 trending-now__price">
              $49.95
            </span>
          </div>
        </article>

        <!-- Slide2 -->
        <article class="trending-now__product product swiper-slide">
          <div class="product__look">
            <a href="#" class="trending-now__image-link">
              <img src="./img/trending-now-watch.png" alt="Product image." class="product__image">
            </a>

            <div class="product__rating product__rating--visible">
              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating one.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating two.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating three.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating four.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon product__rating-icon--active" xmlns='http://www.w3.org/2000/svg'
                aria-label="Star for rating five.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>
            </div>

            <button class="product__favorite" aria-label="Add to favorite.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#heart'></use>
              </svg>
            </button>
          </div>

          <div class="product__info">
            <a href="#" class="product__name">
              Chrono watch with blue leather belt
            </a>

            <span class="product__price product__price--h4 trending-now__price">
              $120.60
            </span>
          </div>
        </article>

        <!-- Slide3 -->
        <article class="trending-now__product product swiper-slide">
          <div class="product__look">
            <a href="#" class="trending-now__image-link">
              <img src="./img/trending-now-coat.png" alt="Product image." class="product__image">
            </a>

            <div class="product__rating">
              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating one.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating two.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating three.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating four.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>

              <svg class="product__rating-icon" xmlns='http://www.w3.org/2000/svg' aria-label="Star for rating five.">
                <use href='./img/sprite.svg#star2'></use>
              </svg>
            </div>

            <button class="product__favorite" aria-label="Add to favorite.">
              <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
                <use href='./img/sprite.svg#heart'></use>
              </svg>
            </button>
          </div>

          <div class="product__info">
            <a href="#" class="product__name">
              Check coat with colour contrast
            </a>

            <span class="product__price product__price--h4 trending-now__price">
              $183.45
            </span>
          </div>
        </article>
      </div>

      <!-- Navigation -->
      <button class="trending-now__button-prev arrow arrow--trans" id="trending-now-button-prev"
        aria-label="Choose previous slide.">
        <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
          <use href='./img/sprite.svg#arrow'></use>
        </svg>
      </button>

      <button class="trending-now__button-next arrow arrow--trans" id="trending-now-button-next"
        aria-label="Choose next slide.">
        <svg xmlns='http://www.w3.org/2000/svg' aria-hidden="true">
          <use href='./img/sprite.svg#arrow'></use>
        </svg>
      </button>
    </div>

    <!-- Button -->
    <a href="#" class="trending-now__button btn btn--lg btn--outline">
      Explore top sales
    </a>
  </div>
</section>