<section class="wishlist" id="wishlist">
  <div class="wishlist__container container">

    <!-- Account menu -->
    <aside class="wishlist__account-menu account-menu">
      <div class="account-menu__top">
        <h5 class="account-menu__name">
          Annette Black
        </h5>

        <p class="account-menu__email">
          annetteb@example.com
        </p>
      </div>

      <!-- Links -->
      <ul class="account-menu__links">

        <!-- Item1 -->
        <li class="account-menu__item">
          <a href="#" class="account-menu__link">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
              <use href='./img/sprite.svg#person' aria-hidden='true'></use>
            </svg>

            <span class="account-menu__link-name">
              My profile
            </span>
          </a>
        </li>

        <!-- Item2 -->
        <li class="account-menu__item">
          <a href="#" class="account-menu__link">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
              <use href='./img/sprite.svg#wallet-2' aria-hidden='true'></use>
            </svg>

            <span class="account-menu__link-name">
              My orders
            </span>
          </a>
        </li>

        <!-- Item3 -->
        <li class="account-menu__item">
          <a href="#" class="account-menu__link account-menu__link--active">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
              <use href='./img/sprite.svg#heart' aria-hidden='true'></use>
            </svg>

            <span class="account-menu__link-name">
              Wishlist
            </span>

            <span class="account-menu__link-count" aria-label="Number of products in wishlist.">
              2
            </span>
          </a>
        </li>

        <!-- Item4 -->
        <li class="account-menu__item">
          <a href="#" class="account-menu__link">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
              <use href='./img/sprite.svg#eye' aria-hidden='true'></use>
            </svg>

            <span class="account-menu__link-name">
              Recently viewed
            </span>
          </a>
        </li>

        <!-- Item5 -->
        <li class="account-menu__item">
          <a href="#" class="account-menu__link">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
              <use href='./img/sprite.svg#star' aria-hidden='true'></use>
            </svg>

            <span class="account-menu__link-name">
              My reviews
            </span>
          </a>
        </li>

        <!-- Item6 -->
        <li class="account-menu__item">
          <a href="#" class="account-menu__link">
            <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
              <use href='./img/sprite.svg#logout' aria-hidden='true'></use>
            </svg>

            <span class="account-menu__link-name">
              Sign out
            </span>
          </a>
        </li>
      </ul>
    </aside>

    <div class="wishlist__content">
      <div class="wishlist__content-top">
        <h2 class="wishlist__content-title">
          Wishlist
        </h2>

        <button class="wishlist__content-delete">
          <svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'>
            <use href='./img/sprite.svg#bin' aria-hidden='true'></use>
          </svg>

          Delete All
        </button>
      </div>

      <ul class="wishlist__content-list">
        
      </ul>
    </div>
  </div>
</section>