@use "../util/" as *;

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.overflow-hidden {
  overflow: hidden;
}

.section-title {
  font: var(--h1-font);
  font-size: calc(rem(26.12) + 1.04vw); // 46>30
  text-align: center;
  color: var(--gray900-color);
}

.container {
  margin-inline: rem(20);
  max-width: rem(1230);

  // &--30 {
  //   @include bp-up("1310") {
  //     margin-inline: auto;
  //   }

  //   @include bp-down("1310") {
  //     margin-inline: rem(30);
  //   }

  //   @include bp-up("container") {
  //     margin-inline: rem(30);
  //   }

  //   @include bp-down("992") {
  //     margin-inline: rem(20);
  //   }

  //   @include bp-down("576") {
  //     margin-inline: rem(15);
  //   }
  // }

  @include bp-up("container") {
    margin-inline: auto;
  }

  @include bp-down("576") {
    margin-inline: rem(15);
  }
}

.container-wide {
  margin-inline: rem(20);
  max-width: rem(1860);

  @include bp-up("container-wide") {
    margin-inline: auto;
  }

  @include bp-down("576") {
    margin-inline: rem(15);
  }
}

.input {
  outline: none;
  border: 1px solid var(--gray400-color);
  border-radius: rem(4);
  padding: rem(11) rem(16);
  font: var(--small-regular);
  color: var(--gray800-color);

  &::placeholder {
    font: var(--small-regular);
    color: var(--gray600-color);
  }

  &:focus {
    border-color: var(--input-hover-color);
    box-shadow: var(--main-shadow);
  }
}

.btn {
  display: inline-flex;
  column-gap: rem(8);
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
  border-radius: rem(4);
  padding-inline: rem(24);
  height: rem(36);
  font: var(--extrasmall-bold);
  letter-spacing: rem(0.5);
  color: var(--white-color);
  background-color: var(--primary-color);
  transition: all 0.3s ease;

  svg {
    width: rem(12);
    height: rem(7.5);
    fill: currentcolor;
  }

  &:hover {
    background-color: var(--button-hover-color);
  }

  &:active {
    background-color: var(--button-hover-color);
  }

  &--mid {
    column-gap: rem(8);
    padding-inline: rem(33);
    height: rem(44);
    font: var(--small-bold);
  }

  &--lg {
    padding-inline: rem(40);
    height: rem(52);
    font: var(--base-bold);

    svg {
      width: rem(18);
      height: rem(11);
    }
  }

  &--outline {
    color: var(--primary-color);
    background-color: transparent;

    &:hover {
      color: var(--white-color);
      background-color: var(--primary-color);
    }

    &:active {
      color: var(--white-color);
      background-color: var(--primary-color);
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

.btn-app {
  display: inline-block;
  border-radius: rem(8);
  padding-left: rem(52);
  width: rem(162);
  height: rem(48);
  background-repeat: no-repeat;
  background-color: var(--gray800-color);

  &__subtitle {
    position: relative;
    top: rem(5);
    display: block;
    font-family: "MyriadPro", sans-serif;
    font-size: rem(12);
    color: var(--gray300-color);

    &--google {
      top: rem(6);
      font-size: rem(11);
      text-transform: uppercase;
    }
  }

  &__title {
    position: relative;
    top: rem(2);
    display: block;
    font-family: "MyriadPro", sans-serif;
    font-weight: 500;
    font-size: rem(22);
    color: var(--white-color);

    &--google {
      top: rem(3);
      font-size: rem(20);
    }
  }

  &:hover {
    box-shadow: var(--main-shadow);
  }

  &--apple {
    position: relative;
    background-image: url("../img/cta-apple.jpg");
    background-position: left rem(14.23) center;
    background-size: rem(24.91) rem(30.61);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      clip-path: polygon(100% 0, 46.3% 0, 65.43% 100%, 100% 100%, 100% 0);
      width: 100%;
      height: 100%;
      background-image: var(--app-store-gradient);
    }
  }

  &--google {
    padding-left: rem(50);
    font-family: "Roboto", sans-serif;
    background-image: url("../img/cta-google.jpg");
    background-position: left rem(12.23) center;
    background-size: rem(27.66) rem(30.88);
  }
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: rem(48);
  height: rem(48);
  background-color: var(--white-05-color);
  transition: background-color 0.3s;
  cursor: pointer;

  svg {
    width: rem(19);
    height: rem(15);
    fill: var(--gray800-color);
    transition: fill 0.3s;
  }

  &:hover {
    background-color: var(--white-color);
  }

  &--trans {
    background-color: transparent;

    &:hover {
      background-color: var(--primary-color);

      svg {
        fill: var(--white-color);
      }
    }

    @include bp-down ("576") {
      width: rem(36);
      height: rem(36);

      svg {
        width: rem(15);
        height: rem(12);
      }
    }
  }
}

.flat-pagination {
  display: none;
  text-align: center;

  .swiper-pagination-bullet {
    position: relative;
    overflow: hidden;
    margin: 0 !important;
    border-radius: rem(4);
    width: rem(30);
    height: rem(3);
    background-color: none;
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--gray500-color) !important;
      opacity: 1;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      display: inline-block;
      width: 0;
      height: 100%;
      background-color: transparent !important;
      opacity: 0;
      transform: translateX(-50%);
      transition: width 0.2s ease-in-out;
    }

    &:not(:last-child) {
      margin-right: rem(12) !important;
    }
  }

  .swiper-pagination-bullet-active {
    &::after {
      width: 100%;
      background-color: var(--gray900-color) !important;
      opacity: 1;
    }
  }

  @include bp-down ("768") {
    display: block;
    pointer-events: auto;
  }
}

.product {
  &__look {
    position: relative;
    overflow: hidden;
    margin-bottom: rem(16);
    border-radius: rem(4);
    cursor: pointer;
  }

  &__image-wrapper {
    position: relative;
  }

  &__image-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__rating {
    position: absolute;
    right: rem(16.5);
    top: rem(16.5);
    display: block;
    cursor: default;
  }

  &__rating-icon {
    width: rem(13);
    height: rem(12);
    fill: none;
    stroke: var(--gray500-color);
    stroke-width: 10px;

    &:not(:last-child) {
      margin-right: rem(-1.6);
    }

    &--active {
      fill: var(--warning-color);
      stroke: var(--warning-color);
    }
  }

  &__favorite {
    position: absolute;
    right: rem(16);
    bottom: rem(16);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: rem(32);
    height: rem(32);
    background-color: var(--white-color);

    &::before {
      content: "Add to wishlist";
      position: absolute;
      left: rem(-115);
      top: 50%;
      display: flex;
      align-items: center;
      border-radius: rem(4);
      padding-inline: rem(10);
      height: rem(28);
      font: var(--small-regular);
      line-height: 1;
      white-space: nowrap;
      text-align: center;
      color: var(--white-color);
      background-color: var(--black-color);
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50%);
      transition: opacity 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      left: rem(-6);
      top: 50%;
      border-style: solid;
      border-width: rem(5) 0 rem(5) rem(7.5);
      border-color: transparent transparent transparent var(--black-color);
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50%);
      transition: opacity 0.3s;
    }

    svg {
      width: rem(15);
      height: rem(14);
      fill: var(--white-color);
      stroke: var(--gray700-color);
      stroke-width: rem(40);
      transition: stroke 0.3s, fill 0.3s;
    }

    &:hover {
      &::before {
        opacity: 1;
        visibility: visible;
      }

      &::after {
        opacity: 1;
        visibility: visible;
      }
    }

    // Favorite (rectange version)
    &--rectangle {
      position: revert;
      border-radius: rem(4);
      padding-inline: rem(32);
      width: auto;
      height: rem(44);
      letter-spacing: rem(0.3);
      background-color: var(--white-color);
      gap: 0;

      &::before {
        content: none;
      }

      &::after {
        content: none;
      }

      svg {
        margin-right: rem(5);
        width: rem(21);
        height: rem(14);
        fill: var(--white-color);
        stroke: var(--primary-color);
        stroke-width: rem(40);
        transition: stroke 0.3s, fill 0.3s;
      }

      &:hover {
        svg {
          stroke: var(--white-color);
        }
      }
    }

    // Favorite (cart version)
    &--cart {
      position: revert;
      border-radius: 0;
      width: auto;

      &::before {
        content: "Move to";
        position: revert;
        margin-right: rem(8);
        padding-inline: 0;
        font: var(--extrasmall-bold);
        letter-spacing: rem(0.5);
        color: var(--gray800-color);
        background-color: transparent;
        opacity: 1;
        visibility: visible;
        transform: none;
        transition: none;
      }

      &::after {
        content: none;
      }

      svg {
        stroke: var(--gray800-color);
      }
    }

    &--active {
      svg {
        fill: var(--primary-color);
        stroke: var(--primary-color);
      }
    }
  }

  &__discount {
    position: absolute;
    left: rem(16);
    top: rem(16);
    display: inline-block;
    border-radius: rem(4);
    padding-block: rem(1.2);
    padding-inline: rem(8);
    font: var(--base-bold);
    color: var(--white-color);
    background-color: var(--danger-color);
  }

  &__info {
    padding-inline: rem(16);

    &--white {
      background-color: var(--white-color);
    }
  }

  &__name {
    display: block;
    overflow: hidden;
    margin-bottom: rem(8);
    font: var(--large-regular);
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--gray800-color);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--primary-color);
    }
  }

  &__prices {
    display: flex;
    align-items: center;
  }

  &__price {
    display: inline-block;
    font: var(--h5-font);
    color: var(--gray900-color);

    &--h4 {
      font: var(--h4-font);
    }

    &--red {
      margin-right: rem(12);
      color: var(--danger-color);
    }
  }

  &__old-price {
    display: inline-block;
    padding-top: rem(4);
    font: var(--large-regular);
    text-decoration: line-through;
    color: var(--gray700-color);

    &--base {
      padding-top: rem(1);
      font: var(--base-regular);
    }
  }

  &__bottom {
    position: relative;
    overflow: hidden;
    padding-bottom: rem(0);
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;

    &--visible {
      overflow: visible;
      padding-bottom: rem(16);
      width: auto;
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }

  &__details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: rem(18);
    padding-top: rem(19);
  }

  &__button-wrapper {
    display: flex;
  }

  &__button-cart {
    flex-grow: 1;

    &::after {
      content: "Add to cart";
    }

    svg {
      width: rem(15);
      height: rem(15);
    }

    &--active {
      color: var(--primary-color);
      background-color: transparent;

      &::after {
        content: "In the cart";
      }

      &:hover {
        color: var(--white-color);
        background-color: var(--primary-color);
      }
    }
  }

  // Inner blocks
  // **
  .sizes {
    display: flex;
    flex-basis: 70%;
    flex-wrap: wrap;
    align-items: center;
    margin-right: rem(20);
    gap: rem(8);

    &__button {
      border: 1px solid var(--gray400-color);
      border-radius: rem(4);
      padding-block: rem(2);
      padding-inline: rem(4);
      font: var(--extrasmall-regular);
      color: var(--gray800-color);
      transition: border-color 0.3s;

      &:hover {
        border-color: var(--primary-color);
      }

      &--active {
        border-color: var(--primary-color);
      }
    }
  }

  // **
  .microslider {
    position: relative;
    padding-top: 112.8%;

    &__image {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &__button {
      position: absolute;
      top: 50%;
      z-index: var(--z-up);
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(36);
      height: rem(36);
      background-color: transparent;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50%);
      transition: opacity 0.3s;

      svg {
        width: rem(17);
        height: rem(10);
        fill: var(--gray800-color);
      }

      &--left {
        left: 4.5%;
        transform: translateY(-50%) rotate(90deg);
      }

      &--right {
        right: 4.5%;
        transform: translateY(-50%) rotate(-90deg);
      }

      @include bp-down("768") {
        width: rem(24);
        height: rem(24);
      }
    }
  }

  // Product hover
  &:hover {
    .microslider__button {
      opacity: 1;
      visibility: visible;
    }
  }

  // Product hover (no swiper)
  &--noJs-hover {
    position: relative;

    .product__bottom {
      position: absolute;
      left: 0;
      top: 100%;
      overflow: visible;
      padding-bottom: rem(16);
      padding-inline: inherit;
      width: 100%;
      height: auto;
      background-color: var(--white-color);
      transition: box-shadow 0.3s ease-in-out opacity 0.3s;
    }

    &:hover {
      box-shadow: var(--regular-shadow);
      transition: box-shadow 0.3s ease-in-out;

      .product__info {
        position: relative;
        z-index: var(--z-up);
      }

      .product__bottom {
        box-shadow: var(--regular-shadow);
        opacity: 1;
        visibility: visible;
        transition: box-shadow 0.3s ease-in-out opacity 0.3s;
      }
    }
  }
}

.colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: rem(5.5);

  &__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rem(1.5) solid var(--gray400-color);
    border-radius: 50%;
    width: rem(24);
    height: rem(24);
    background-color: var(--white-color);
    transition: border-color 0.3s;

    &::before {
      content: "";
      position: absolute;
      z-index: var(--z-up);
      border-radius: 50%;
      width: rem(16);
      height: rem(16);
    }

    &:hover {
      border-color: var(--primary-color);
    }

    // Color classes
    &[data-color="Black"] {
      &::before {
        background-color: var(--black-color);
      }
    }

    &[data-color="Brown"] {
      &::before {
        background-color: var(--brown-color);
      }
    }

    &[data-color="Blue-gray"] {
      &::before {
        background-color: var(--blue-gray-color);
      }
    }

    &[data-color="Dark-blue"] {
      &::before {
        background-color: var(--dark-blue-color);
      }
    }

    &[data-color="Green"] {
      &::before {
        background-color: var(--green-color);
      }
    }

    &[data-color="Yellow"] {
      &::before {
        background-color: var(--yellow-color);
      }
    }

    &[data-color="Red"] {
      &::before {
        background-color: var(--red-color);
      }
    }

    &[data-color="Beige"] {
      &::before {
        background-color: var(--beige-color);
      }
    }

    &[data-color="Gray"] {
      &::before {
        background-color: var(--gray-color);
      }
    }

    &[data-color="Purple"] {
      &::before {
        background-color: var(--purple-color);
      }
    }

    &[data-color="Orange"] {
      &::before {
        background-color: var(--orange-color);
      }
    }

    &[data-color="White"] {
      &::before {
        background-color: var(--dummy-white-color);
      }
    }

    &[data-color="Pink"] {
      &::before {
        background-color: var(--pink-color);
      }
    }

    // Active class
    &--active {
      border-color: var(--primary-color);
    }
  }
}

.email-form {
  &__label {
    display: inline-block;
    margin-bottom: rem(8);
    font: var(--small-regular);
    color: var(--gray800-color);
  }

  &__field {
    display: flex;
    align-items: center;
    max-width: rem(360);
  }

  &__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    background-color: var(--white-color);
  }

  &__button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.custom-checkbox {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray500-color);
  border-radius: rem(3);
  width: rem(16);
  height: rem(16);
  background-color: transparent;
  transition: border-color 0.3s background-color 0.3s;

  svg {
    width: rem(10);
    height: rem(8);
    fill: var(--white-color);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
  }

  &__input {
    display: none;
  }

  &--checked {
    border-color: var(--primary-color);
    background-color: var(--primary-color);

    svg {
      opacity: 1;
      visibility: visible;
    }
  }
}

.social {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: rem(12);
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: rem(4);
    width: rem(32);
    height: rem(32);
    background-color: var(--white-012-color);
    transition: background-color 0.25s ease-in-out;

    svg {
      width: rem(16);
      height: rem(16);
      fill: var(--white-color);
      transition: fill 0.25s ease-in-out;
    }

    &:hover {
      background-color: var(--white-color);

      svg {
        fill: var(--primary-color);
      }
    }
  }
}

.scroll-top {
  position: fixed;
  right: rem(20);
  bottom: rem(20);
  z-index: var(--z-tooltip);
  border-radius: 50%;
  width: rem(42);
  height: rem(42);
  background-color: var(--primary-color);
  opacity: 0;
  transform: scale(0.5);
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out, background-color 0.25s ease-in-out;
  cursor: pointer;
  pointer-events: none;

  &::before {
    content: "Top";
    position: absolute;
    left: -80%;
    top: 50%;
    font: var(--small-regular);
    color: var(--gray800-color);
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.25s ease-in-out;
    pointer-events: none;
  }

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: rem(14);
    height: rem(11);
    fill: var(--white-color);
    transform: translate(-50%, -63%) rotate(180deg);
  }

  &:hover {
    background-color: var(--primary-hover-color);

    &::before {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &--active {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
  }
}

.custom-select {
  position: relative;
  overflow: hidden;
  transition: border-color 0.3s;
  user-select: none;

  &__outer-wrapper {
    position: relative;

    &::before {
      content: "Please provide a valid input.";
      position: absolute;
      left: 0;
      top: calc(100% + rem(4));
      font: var(--extrasmall-regular);
      color: var(--danger-color);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
    }

    &--warning {
      &::before {
        opacity: 1;
        visibility: visible;
      }

      .custom-select__head {
        border-color: var(--danger-color);
      }
    }
  }

  &__head {
    display: flex;
    align-items: center;
    padding: rem(2) rem(2);
    transition: color 0.3s ease, border-color 0.3s;
    cursor: pointer;

    &:hover {
      color: var(--white-color);
    }

    &--light {
      border: rem(1) solid var(--gray400-color);
      border-radius: rem(4);
      padding-top: rem(10);
      padding-bottom: rem(11);
      padding-inline: rem(16);

      &:hover {
        color: currentcolor;
      }
    }
  }

  &__selected {
    padding-inline: rem(3);
    line-height: rem(21);
    cursor: pointer;
  }

  &__inner-wrapper {
    position: absolute;
    right: 0;
    top: calc(100% + rem(4));
    z-index: var(--z-tooltip);
    border-radius: rem(4);
    padding-right: rem(5);
    padding-left: rem(15);
    padding-block: rem(10);
    width: rem(120);
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
    background-color: var(--white-color);
  }

  &__list {
    overflow-y: auto;
    border-radius: rem(4);
    width: 100%;
    max-height: rem(200);
    color: var(--black-color);
    background-color: var(--white-color);
  }

  &__item {
    padding: rem(4) rem(5);
    width: 100%;
    transition: color 0.3s ease;
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
    }

    &--active {
      color: var(--primary-color);
    }
  }

  svg {
    position: relative;
    top: rem(0.5);
    width: rem(9);
    height: rem(5);
    fill: currentcolor;
    transition: transform 0.1s, rotate 0.1s;
  }

  &--open {
    overflow: visible;

    svg {
      top: 0;
      transform: rotate(180deg);
    }
  }

  &--light {
    outline: none;
    font: var(--small-regular);
    color: var(--gray800-color);

    svg {
      top: rem(0.5);
      width: rem(10.67);
      height: rem(6);
    }
  }

  &:focus>.custom-select__head {
    border-color: var(--primary-color);
  }
}

.input-number {
  position: relative;
  display: flex;
  align-items: center;
  max-width: rem(80);

  &__input {
    padding-right: rem(32);
    padding-left: rem(14);
    width: 100%;
  }

  &__btns {
    position: absolute;
    right: rem(19);
    top: 50%;
    transform: translateY(-50%);
  }

  &__btn {
    display: block;
    border-style: solid;
    border-width: 0 rem(5) rem(7.5) rem(5);
    border-color: transparent transparent var(--gray900-color) transparent;
    width: 0;
    height: 0;

    &--small {
      border-width: 0 rem(4.9) rem(6.5) rem(4.9);
    }
  }

  &__btn:first-child {
    margin-bottom: rem(2.5);
  }

  &__btn:last-child {
    transform: rotate(180deg);
  }
}

.tool-pag {
  display: flex;
  align-items: center;

  &__item {
    font: var(--base-bold);
    color: var(--gray800-color);
    opacity: 1;
    visibility: visible;
    transition: color 0.3s, opacity 0.3s;

    &:not(:last-child) {
      margin-right: rem(21);
    }

    &:hover {
      color: var(--primary-color);
    }

    &--inactive {
      opacity: 0;
      visibility: hidden;
    }

    &--active {
      color: var(--primary-color);
    }
  }

  &__arrow {
    width: rem(21);
    height: rem(12);
    fill: currentcolor;

    &--left {
      transform: rotate(180deg);
    }
  }
}

.tool-pag-mini {
  display: flex;
  align-items: center;

  &__item {
    font: var(--base-bold);
    color: var(--gray800-color);
    opacity: 1;
    visibility: visible;
    transition: color 0.3s, opacity 0.3s;

    &:not(:last-child) {
      margin-right: rem(21);
    }

    &:nth-child(2) {
      margin-right: rem(3);
    }

    &:nth-child(3) {
      margin-right: rem(3);
      cursor: default;
    }

    &:hover {
      color: var(--primary-color);
    }

    &--inactive {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__arrow {
    width: rem(21);
    height: rem(12);
    fill: currentcolor;

    &--left {
      transform: rotate(180deg);
    }
  }
}

.c-toggle {
  position: relative;
  width: rem(15);
  height: rem(15);

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: rem(2);
    background-color: var(--primary-color);
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: rem(2);
    height: 100%;
    background-color: var(--primary-color);
    transform: translate(-50%, -50%);
  }
}