@font-face {
  src: url("../fonts/Lato-Black.woff2") format("woff2");
  font-family: "Lato";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Lato-Bold.woff2") format("woff2");
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2");
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Myriad Pro Regular.woff2") format("woff2");
  font-family: "MyriadPro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}