@use "../util/" as *;

:root {
  // Colors
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #17696a;
  --primary-hover-color: #145c5d;
  --primary-hover-color2: rgb(23 105 106 / 12%);
  --success-color: #03cea5;
  --danger-color: #ff4242;
  --warning-color: #f89828;
  --info-color: #5a87fc;
  --background-color: #e5e5e5;

  // **
  --gray900-color: #1e212c;
  --gray800-color: #424551;
  --gray700-color: #787a80;
  --gray600-color: #9a9ca5;
  --gray500-color: #b3b7bc;
  --gray400-color: #d7dadd;
  --gray300-color: #e5e8ed;
  --gray200-color: #f4f5f6;
  --gray100-color: #f9f9f9;

  // **
  --white-05-color: rgb(255 255 255 / 50%);
  --white-015-color: rgb(255 255 255 / 15%);
  --white-012-color: rgb(255 255 255 / 12%);
  --primary006-color: rgb(23 105 106 / 6%);
  --primary01-color: rgb(23 105 106 / 10%);
  --primary025-color: rgb(23 105 106 / 25%);
  --overlay-color: rgb(0 0 0 / 60%);
  --graywhite-color: rgb(255 255 255 / 60%);
  --input-hover-color: rgb(23 105 106 / 40%);
  --button-hover-color: #145c5d;

  // **
  --facebook-color: #4267b2;
  --twitter-color: #1da1f2;
  --pinterest-color: #e60023;

  // **
  --brown-color: #874e19;
  --blue-gray-color: #c0dded;
  --dark-blue-color: #02457a;
  --green-color: #06623b;
  --yellow-color: #fcd164;
  --red-color: #f75151;
  --beige-color: #d8c1ad;
  --gray-color: #9a9494;
  --orange-color: #fb9620;
  --purple-color: #a27ac9;
  --dummy-white-color: #f1f1f1;
  --pink-color: #ffc0cb;

  // **
  --malachite-color: #1fdf58;
  --dandelion-color: #f2ea2b;

  // Filters
  --primary-filter: invert(28%) sepia(11%) saturate(5606%) hue-rotate(143deg) brightness(97%) contrast(82%);
  --gray800-filter: invert(24%) sepia(4%) saturate(1974%) hue-rotate(191deg) brightness(97%) contrast(87%);
  --success-filter: invert(79%) sepia(37%) saturate(5566%) hue-rotate(118deg) brightness(91%) contrast(98%);

  // Fonts
  --h1-font: 900 2.875rem / 130% "Lato", sans-serif; // 46
  --h2-font: 900 2rem / 130% "Lato", sans-serif; // 32
  --h3-font: 700 1.75rem / 150% "Lato", sans-serif; // 28
  --h4-font: 700 1.5rem / 130% "Lato", sans-serif; // 24
  --h5-font: 700 1.25rem / 130% "Lato", sans-serif; // 20
  --h6-font: 700 1rem / 150% "Lato", sans-serif; // 16

  // **
  --display1: 900 4.5rem / 130% "Lato", sans-serif; // 72
  --display2: 900 4rem / 130% "Lato", sans-serif; // 64
  --display3: 900 3.5rem / 130% "Lato", sans-serif; // 56
  --display4: 900 3rem / 130% "Lato", sans-serif; // 48

  // **
  --lead-regular: 400 1.25rem / 150% "Lato", sans-serif; // 20
  --lead-bold: 700 1.25rem / 150% "Lato", sans-serif; // 20
  --large-regular: 400 1.125rem / 150% "Lato", sans-serif; // 18
  --large-bold: 700 1.125rem / 150% "Lato", sans-serif; // 18

  // **
  --base-regular: 400 1rem / 160% "Lato", sans-serif; // 16
  --base-bold: 700 1rem / 160% "Lato", sans-serif; // 16
  --small-regular: 400 0.875rem / 150% "Lato", sans-serif; // 14
  --small-bold: 700 0.875rem / 150% "Lato", sans-serif; // 14

  // **
  --extrasmall-regular: 400 0.75rem / 150% "Lato", sans-serif; // 12
  --extrasmall-bold: 700 0.75rem / 150% "Lato", sans-serif; // 12
  --extra2small-regular: 400 0.625rem / 150% "Lato", sans-serif; // 10
  --extra2small-bold: 900 0.625rem / 150% "Lato", sans-serif; // 10

  // **
  --ubuntu-bold: 700 calc(0.97rem + 0.65vw) / 150% "Ubuntu", sans-serif; // 28>18

  // Linear-gradients
  --divider-gradient: linear-gradient(rgb(218 219 221 / 0%) 0%, rgb(218 219 221 / 50%) 12.33%, #dadbdd 51.91%, rgb(218 219 221 / 50%) 87.85%, rgb(218 219 221 / 0%) 100%);
  --divider2-gradient: linear-gradient(270.01deg, rgb(218 219 221 / 0%) 0%, rgb(218 219 221 / 50%) 12.33%, #dadbdd 51.91%, rgb(218 219 221 / 50%) 87.85%, rgb(218 219 221 / 0%) 100%);
  --app-store-gradient: linear-gradient(0deg, rgb(26 26 26 / 10%) -0.24%, rgb(33 33 33 / 15.1%) 177.23%, rgb(53 53 53 / 22.7%) 444.15%, rgb(87 87 87 / 31.8%) 767.35%, rgb(133 133 133 / 42.1%) 1129.49%, rgb(179 179 179 / 51%) 1442.59%);

  // Drop-shadows
  --small-shadow: 0 4px 4px rgb(30 33 44 / 3%), 0 12px 10px rgb(154 156 165 / 4%), 0 30px 24px rgb(154 156 165 / 5%), 0 80px 80px rgb(154 156 165 / 8%);
  --regular-shadow: 0 4px 4px rgb(30 33 44 / 5%), 0 12px 10px rgb(154 156 165 / 8%), 0 30px 24px rgb(154 156 165 / 10%), 0 80px 80px rgb(154 156 165 / 16%);
  --large-shadow: 0 4px 4px rgb(30 33 44 / 5%), 0 12px 10px rgb(30 33 44 / 8%), 0 26px 24px rgb(30 33 44 / 10%), 0 60px 80px rgb(30 33 44 / 16%);
  --product-shadow: 0 80px 80px -20px rgb(154 156 165 / 16%), 0 30px 24px -10px rgb(154 156 165 / 10%), 0 12px 10px -6px rgb(154 156 165 / 8%), 0 4px 4px -4px rgb(30 33 44 / 5%);

  // **
  --main-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  --custom-shadow: 0 8px 4px 4px rgb(0 0 0 / 3%), 0 20px 20px 13px rgb(0 0 0 / 3%);
  --custom-hover-shadow: 0 8px 4px 4px rgb(0 0 0 / 3%), 0 20px 20px 13px rgb(0 0 0 / 3%), 0 20px 20px 13px rgb(0 0 0 / 3%);

  // Z-indexes
  --z-modal: 1000;
  --z-tooltip: 100;
  --z-postfixed: 11;
  --z-fixed: 10;
  --z-prefixed: 9;
  --z-up: 1;
  --z-down: -1;

  // Animations
  --to-right-05-animation: to-right 0.4s ease-in-out forwards 0.5s;
  --to-right-03-animation: to-right 0.4s ease-in-out forwards 0.3s;
  --to-bottom-animation: to-bottom 0.4s ease-in-out forwards 0.5s;
  --scale-in-animation: scale-in 0.4s ease-in-out forwards 0.3s;
  --scale-in-left-animation: scale-in-left 0.4s ease-in-out forwards 0.7s;
  --scale-out-right-animation: scale-out-right 0.4s ease-in-out forwards 0.3s;
}

@keyframes to-right {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(rem(-36));
  }

  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

@keyframes to-bottom {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(rem(-36));
  }

  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes scale-in {
  from {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.15);
    transform-origin: center;
  }

  to {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

@keyframes scale-in-left {
  from {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.15);
    transform-origin: right center;
  }

  to {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

@keyframes scale-out-right {
  from {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.85);
    transform-origin: right top;
  }

  to {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}